<!doctype html>
<html ng-app="gliist">
<head>
    <meta charset="utf-8">
    <title>gjests</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body ng-controller="AppController" style="background-color: #ECECEC">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div id="loading" layout="column" layout-align="center center" layout-fill
     style="color:white;background-color: #18D8DB;z-index:100;position: absolute;top:0;left: 0;">
    <div>
        <img src="assets/images/gliist_logo.png" style="height:37.8px">
    </div>
    <div layout="row">
        <h2 class=".md-display-1">Loading...</h2>
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
<div layout="column" layout-fill ng-show="appReady" ng-cloak>
    <md-toolbar ng-if="currentUser" ng-cloak>
        <div layout="row" layout-padding style="background-color: #18D8DB">
            <div flex class="docs-logotype">
                <img src="assets/images/gliist_logo.png" style="height:37.8px">
                <md-button class="menu" hide-gt-sm ng-click="toggleSidebar()" aria-label="Show User List">
                    <ng-md-icon icon="menu" style="fill:white"
                                size="24">
                    </ng-md-icon>
                </md-button>
            </div>
            <div layout="row" flex layout-align="end center">
                <md-button class="wht-button" ng-click="logout()">
                    Logout
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <div flex layout="row" layout-fill ng-cloak>
        <md-sidenav layout-fill flex md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
                    class="md-whiteframe-z2"
                    ng-if="currentUser" ng-cloak style="background-color: #18D8DB">
            <div ng-style="userProfilePic_watch()">
            </div>
            <md-list role="list" ng-cloak>
                <md-item ng-repeat="it in menuItems" ng-click="setSelected(it)"
                         ng-class="getItemClass(it)">
                    <md-button ui-sref="{{it.ui_sref}}"
                               ng-class="getItemClass(it)"
                               style="color:white;width: 100%;
                               text-align: right;
                               padding-right: 15px;
                               height:80px;"
                               flex>
                        <ng-md-icon icon="{{it.icon.name}}" style="{{it.icon.style}}"
                                    class="left-align"
                                    size="{{it.icon.size}}">
                        </ng-md-icon>
                        {{it.title}}
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </md-sidenav>
        <div ui-view layout="row" layout-fill flex></div>
    </div>
</div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
