<!DOCTYPE html>
<html ng-app>
<head>
    <title>שירות - קבל שירות בלחיצת קליק</title>
    <script type="text/javascript"
            src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

</head>
<body>
    <div class="container">
        <div class="page-header">
            <h2>בחר את ספק השירות שאיתו תרצה ליצור קשר</h2>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ספק</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="customerInfo.html">פלאפון</a></td>
                </tr>
                <tr>
                    <td><a href="customerInfo.html">סלקום</a></td>
                </tr>
                <tr>
                    <td><a href="customerInfo.html">כלל</a></td>
                </tr>
                <tr>
                    <td><a href="customerInfo.html">הראל</a></td>
                </tr>
                <tr>
                    <td><a href="customerInfo.html">012</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>