<ion-view class="light-bg"
          title="User Profile">

    <ion-content class="content-body">
        <div style="background-color: #8F8F8F">
            <div ng-style="getUserPhoto()">
            </div>
        </div>
        <div class="list" style="padding-left:30px;padding-right: 30px;padding-top: 20px;">
            <label class="item item-input" style="border-radius: 25px;margin-bottom: 10px;">
                <input type="text" placeholder="First Name" ng-model="currentUser.firstName">
            </label>
            <label class="item item-input" style="border-radius: 25px;margin-bottom: 10px;">
                <input type="text" placeholder="Last Name" ng-model="currentUser.lastName">
            </label>
            <label class="item item-input" style="border-radius: 25px;margin-bottom: 10px;">
                <input type="text" placeholder="Email" ng-model="currentUser.email" ng-disabled="true">
            </label>
            <label class="item item-input" style="border-radius: 25px;margin-bottom: 10px;">
                <input placeholder="Phone Number" type="tel" ng-model="currentUser.phoneNumber">
            </label>
            <label class="item item-input" style="border-radius: 25px;margin-bottom: 10px;">
                <input type="text" placeholder="City" ng-model="currentUser.city">
            </label>
            <label class="item item-input" style="border-radius: 25px;margin-bottom: 10px;">
                <input type="text" placeholder="Company" ng-model="currentUser.company" ng-disabled="true">
            </label>
            <label class="item item-input" style="border-radius: 25px;margin-bottom: 10px;">
                <textarea placeholder="Bio" rows="5" ng-model="currentUser.bio"></textarea>
            </label>
        </div>

        <div class="row" style="background-color: #8F8F8F;padding-top: 10px;padding-bottom: 10px;margin-bottom: -30px;">
            <button class="button button-calm centered" ng-click="onSaveChangesClicked()" ng-disabled="fecthingData">
                Confirm
                <ion-spinner ng-show="fecthingData"></ion-spinner>
            </button>
        </div>
    </ion-content>

</ion-view>