<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gjests.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gjests.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gjests</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$gjests</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EventDBContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:qv9jdtbb55.database.windows.net,1433;Initial Catalog=gjests;Integrated Security=False;User ID=gjests@qv9jdtbb55;Password=gliist79*;Connect Timeout=30;Encrypt=True" Name="Server=tcp:qv9jdtbb55.database.windows.net,1433;Database=gjests;User ID=gjests@qv9jdtbb55;Password=gliist79*;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="gliist_server.Models.EventDBContext, gliist_server" MigrationConfiguration="gliist_server.Migrations.Configuration, gliist_server" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EventDBContext-Web.config Connection String">
      <ParameterValue>Server=tcp:qv9jdtbb55.database.windows.net,1433;Database=gjests;User ID=gjests@qv9jdtbb55;Password=gliist79*;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>