################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gliist_server/bin
/gliist_server/obj/Debug
/gliist_server/main.webapp/build/vendor
/gliist_server/main.webapp/build
/gliist_server/main.webapp/build/index.html

.idea
/packages
/webapp/nbproject/private/
/app
/gliist_server/obj
/gliist_server/App_Data/Tmp/FileUploads
/gliist_server/Logs
/pass
/*.suo
/gliist_server.Tests/obj/Debug
/gliist_server.Tests/bin/Debug
/gliist_server.Tests/obj/Release
/*.suo
/*.suo
/TestResults/ef26e8cb-30fc-4440-ae08-84aea074afc9/*.coverage
/gliist_server.Tests/bin/Release
