
<h1>Welcome {{currentUser.firstName}}</h1>
<div class="row">

    <div class="col-sm-4">
        <div class="panel panel-primary panel-md">
            <div class="panel-heading">
                <h3 class="panel-title">{{currentUser.firstName}} {{currentUser.lastName}}</h3>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="http://1.bp.blogspot.com/-8d7Veg4rt70/TfiwFu8BlYI/AAAAAAAAAF0/HpaO4dDBVeg/s200/profile-picture.gif">
                    </a>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Name: {{currentUser.firstName}}</li>
                <li class="list-group-item">Rank: {{currentUser.rank}}</li>
                <li class="list-group-item">
                    Available plugins:
                    <div ng-repeat="plugin in currentUser.plugins">
                        <span class="btn btn-social-icon btn-{{plugin.name}} pull-left buffer-right-sm">
                            <i class="fa fa-{{plugin.name}}"></i>
                        </span>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>








