<md-dialog flex="80" flex-sm="95" class="glist-import-dialog">
  <div layout="row" layout-wrap layout-align="space-between center" class="section-title">
    <h3>Link Previous Guest List</h3>
  </div>
  <div class="actions-sm" layout="row" layout-align="space-around center" hide-gt-sm>
    <md-button ng-click="cancel()">
      Cancel
    </md-button>
    <md-button class="raised-btn" ng-click="importGLists($event)">
      Import
    </md-button>
  </div>
  <md-content style="overflow-x: hidden">
    <guest-list-view selected="selected" options="options" skip-on-the-spot="skipOnTheSpot" rsvp-only="rsvpOnly"></guest-list-view>
  </md-content>
  <div class="actions" layout="row" layout-align="end center" hide-sm>
    <md-button ng-click="cancel()">
      Cancel
    </md-button>
    <md-button class="raised-btn" ng-click="importGLists($event)">
      Import
    </md-button>
  </div>
</md-dialog>
