<div class="billing margin-top">
    <div class="block-field">
        <h4>Payment Information</h4>
        <div layout="row" layout-align="start center" layout-sm="column" layout-align-sm="center center" class="payment-info">
            <div class="card-number">XXXX XXXX XXXX 2378</div>
            <md-button class="raised-btn" ng-click="editPaymentInfo()">Edit</md-button>
        </div>
    </div>
    <div class="block-field">
        <h4>Subscriptions</h4>
        <div class="tariff-blocks">
            <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="loading"></md-progress-circular>
            <div class="tariff-block" ng-show="!loading" ng-repeat="tariff in plans" ng-if="!tariff.combinedThisPlanWith">
                <div layout="column" class="tariff-header" layout-align="space-between start">
                    <div layout="row" layout-align="space-between start">
                        <div class="title">{{tariff.name}}</div>
                        <img ng-src="assets/images/plan_icons/{{tariff.keyForUI | spaceless}}_blue.png"/>
                    </div>
                    <div class="price-details">{{tariff.priceDetails}}</div>
                </div>
                <div layout="column" class="tariff-content" layout-align="start start">
                    <ul>
                        <li ng-repeat="feature in tariff.feature">{{feature.SubscriptionFeature.name}}</li>
                    </ul>
                </div>
                <div layout="column" class="tariff-footer" layout-align="center center">
                    <ng-switch on="tariff.paymentType">
                        <h4 ng-switch-when="comingsoon">Coming soon</h4>
                        <div ng-switch-when="select">
                            <md-button class="raised-btn" ng-click="selectPlan($index)">Upgrade</md-button>
                        </div>
                        <div ng-switch-when="contactus">
                            <a class="md-button raised-btn" href="mailto:info@gjests.com?subject=Entreprise%20Account">CONTACT US</a>
                        </div>
                    </ng-switch>
                    <h4 ng-if="tariff.isActive"><b>ACTIVE</b> Expires on 03/01/2016</h4>
                </div>
            </div>
            <div layout="row" layout-align="end center" layout-sm="column" class="promo" ng-show="!loading && plans.length > 0">
                <h4>Enter your promo code</h4>
                <md-input-container md-no-float>
                    <input type="text" aria-label="Promo Code">
                </md-input-container>
                <md-button class="raised-btn">
                    Enter
                </md-button>
            </div>
        </div>        
    </div>    
    <div class="block-field">
        <h4>Invoice</h4>
        <md-list class="zebra">
            <md-list-item>
                <div flex="30">
                    Date
                </div>
                <div flex="30">
                    Amount
                </div>
                <div flex>
                </div>
            </md-list-item>
            <md-list-item ng-repeat="invoice in invoices">
                <div flex="30">
                    {{invoice.date}}
                </div>
                <div flex="30">
                    {{invoice.amount}}
                </div>
                <div flex class="actions" layout="row" layout-align="end center">
                    <md-button ng-click="invoiceDetails()" class="icon-btn">
                        <img ng-src="assets/images/icons/download.png"/>
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>