<div class="billing margin-top">
    <div class="block-field">
        <h4>Payment Information</h4>
        <div layout="row" layout-align="start center" layout-sm="column" layout-align-sm="center center" class="payment-info">
            <div class="card-number">XXXX XXXX XXXX {{cards[0].cardDataSaved.number}}</div>
            <md-button class="raised-btn" ng-click="editPaymentInfo()" ng-disabled="loadingCards">Edit</md-button>
        </div>
    </div>
    <div class="block-field">
        <h4>Subscriptions</h4>
        <subscriptions options="options"></subscriptions>
    </div>    
    <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="loadingInvoices"></md-progress-circular>
    <div class="block-field" ng-if="!loadingInvoices">
        <h4>Invoice</h4>
        <md-list class="zebra">
            <md-list-item>
                <div flex="30">
                    Date
                </div>
                <div flex="30">
                    Amount
                </div>
                <div flex>
                </div>
            </md-list-item>
            <md-list-item ng-repeat="invoice in invoices">
                <div flex="30">
                    {{invoice.date | date : 'MM/dd/yyyy'}}
                </div>
                <div flex="30">
                    {{invoice.amount | money : invoice.currency}}
                </div>
                <div flex class="actions" layout="row" layout-align="end center">
                    <a href="{{getExportPdfUrl(invoice.id)}}" class="md-button icon-btn">
                        <img ng-src="assets/images/icons/download.png"/>                        
                    </a>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>