<div layout="column" layout-align="space-between stretch" ng-init="init()" class="recover-password">
    <div layout="row" layout-align="center center" class="header" flex>
        <a href="/"><img src="assets/images/gliist_logo.png" style="height:90px"/></a>
    </div>
    <div layout="column" layout-align="center center" class="content" flex>
        <h3>Password Recovery</h3>
        <p>Enter your email address associated with your gjests account.<br>We'll send you a link to a page where you can easily create a password.</p>
        <md-input-container md-no-float>
            <input type="email" name="email" ng-model="user.email" placeholder="Enter Email Address" required>
        </md-input-container>
        <md-button class="raised-btn" ng-click="onRecoverClicked()" ng-if="!recoverSent" ng-disabled="!user.email">Recover</md-button>
        <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
        <a href="/">Back to login page</a>
    </div>
    <div layout="row" layout-align="center center" class="footer" flex>
        Ditch the clipboard&trade;
    </div>
</div>