<div layout="column" layout-align="space-between stretch" ng-init="init()" class="reset-password">
    <div layout="row" layout-align="center center" class="header" flex>
        <img src="assets/images/gliist_logo.png" style="height:90px"/>
    </div>
    <div layout="column" layout-align="center center" class="content" flex>
        <h3>Reset Password</h3>
        <form name="resetPassword">
            <md-input-container md-no-float>
                <input type="password" name="password" ng-model="user.password" placeholder="Enter new password" required>
            </md-input-container>
            <md-input-container md-no-float>
                <input type="password" name="confirm" ng-model="user.confirmPassword" placeholder="Confirm password" required ng-match="user.password">
                <div ng-messages="resetPassword.confirm.$error" class="errors">
                    <div ng-message="match">Passwords don't match.</div>
                </div>
            </md-input-container>
            <md-button class="raised-btn" ng-click="onResetClicked(resetPassword)" ng-if="!resetSent">Reset</md-button>
            <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
        </form>
    </div>
    <div layout="row" layout-align="center center" class="footer" flex>
        Ditch the clipboard&trade;
    </div>
</div>