<div flex layout="column" layout-align="space-between center" layout-fill ng-init="init()">
  <div layout="column" layout-align="center center" class="content">
    <div>
      <img src="assets/images/gliist_logo_blue.png" style="height:90px"/>
    </div>
    <md-progress-circular ng-show="loading" class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    <div class="signup-form" ng-if="!loading">
      <form name="userForm">
        <div layout="row" layout-align="center center" layout-sm="column">
          <md-input-container flex>
            <label>First Name</label>
            <input name="firstName" ng-model="user.firstName" required class="rounded-l">
            <div ng-messages="userForm.firstName.$error" ng-if="displayErrorMessage(userForm.firstName)">
              <div ng-message="required">First name is required</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input name="lastName" ng-model="user.lastName" required class="rounded-r">
            <div ng-messages="userForm.lastName.$error" ng-if="displayErrorMessage(userForm.lastName)">
              <div ng-message="required">Last name is required</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" layout-align="center center" layout-sm="column">
          <md-input-container flex>
            <label>Organization (will appear in invites)</label>
            <input name="company" ng-model="user.company" ng-disabled="options.inviteMode" ng-required="!options.inviteMode" class="rounded-l">
            <div ng-messages="userForm.company.$error" ng-if="displayErrorMessage(userForm.company)">
              <div ng-message="required">Company is required</div>
            </div>
          </md-input-container>
          <md-input-container flex ng-class="userForm.firstName.$valid && userForm.lastName.$valid && userForm.email.$valid ? 'checked' : ''">
            <label>Email</label>
            <input type="email" name="email" ng-model="user.username" ng-disabled="options.inviteMode" ng-required="!options.inviteMode" class="rounded-r">
            <div ng-messages="userForm.email.$error" ng-if="displayErrorMessage(userForm.email)">
              <div ng-message="required">Email is required</div>
              <div ng-message="email">Email is incorrect</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" layout-align="center center" layout-sm="column" class="passwords">
          <div layout="column" layout-align="start" flex>
            <md-input-container>
              <label>Password</label>
              <input class="rounded-lr" name="password" type="password" ng-model="user.password" ng-minlength="8" required>
              <div ng-messages="userForm.password.$error" ng-if="displayErrorMessage(userForm.password)">
                <div ng-message="required">Password is required</div>
                <div ng-message="minlength">Minimum password length 8 symbols</div>
              </div>
            </md-input-container>

            <md-input-container ng-class="userForm.password.$valid && userForm.re_password.$valid ? 'checked' : ''">
              <label>Re-enter Password</label>
              <input class="rounded-lr" type="password" name="re_password" ng-model="user.confirmPassword" ng-minlength="8" required ng-match="user.password">
              <div ng-messages="userForm.re_password.$error" ng-if="displayErrorMessage(userForm.re_password)">
                <div ng-message="match">Passwords don't match.</div>
              </div>
            </md-input-container>
          </div>

          <div layout="column" flex class="password-matches">
            <password-matches password="user.password" min-length="8"></password-matches>
          </div>
        </div>
        <div layout layout-sm="column" layout-align="center center" ng-if="!options.freeRegister">
          <md-input-container ng-if="!options.inviteMode">
            <label>Invite Code</label>
            <input name="inviteCode" class="rounded-lr" type="text" ng-model="user.inviteCode" required>
            <div ng-messages="userForm.inviteCode.$error" ng-if="displayErrorMessage(userForm.inviteCode)">
              <div ng-message="required">Invite is required</div>
            </div>
          </md-input-container>
        </div>
      </form>
      <div class="md-actions" layout="row" layout-align="center center">
        <md-button class="raised-btn" ng-click="register(userForm)" ng-disabled="sendingData" ga-track-event="['Button', 'Click', 'Sign Up']">
          Get Started
        </md-button>
        <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="sendingData"></md-progress-circular>
      </div>
    </div>
  </div>
  <div class="footer">
    <div layout="column" layout-align="center center">
      <h3>Existing Users</h3>
      <p>Login and get going with your lists</p>
      <md-button class="raised-btn" ui-sref="home">
        Login
      </md-button>
    </div>
  </div>
</div>
