<div layout="column">
  <md-whiteframe flex class="user-details">
    <div ng-show="!editMode" layout layout-align="center stretch" layout-sm="column" layout-align-sm="space-between stretch" class="user-details-teaser">
      <div flex="30" flex-sm="auto" ng-style="getUserPhoto('150px')"></div>
      <div flex="40" flex-sm="auto" layout="column" layout-align="space-around start" layout-align-sm="space-around center" class="description">
        <h3>{{user.firstName}} {{user.lastName}}</h3>
        <div ng-if="user.email">{{user.email}}</div>
        <div ng-if="user.phoneNumber">{{user.phoneNumber}}</div>
        <div ng-if="user.city">{{user.city}}</div>
        <div ng-if="user.company">{{user.company}}</div>
      </div>
      <div flex="30" flex-sm="auto" layout="row" layout-align="end center" layout-align-sm="center center">
        <md-button class="raised-btn" ng-click="editMode = true">
          Edit
        </md-button>
      </div>
    </div>
    <div ng-show="editMode">
      <div class="block-field" remove-by-roles="staff,staff_limited,promoter,manager_limited">
        <h4>Upload Company Logo</h4>
        <div layout="row" layout-sm="column" layout-align="space-between center">
          <md-input-container>
            Appear in RSVP invite, RSVP page, and Confirmation invite. (All format supported)
          </md-input-container>
          <md-input-container>
            <md-button class="raised-btn" ng-file-select="onFileSelect($files)" ng-accept="'image/*'">
              UPLOAD
            </md-button>
            <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
          </md-input-container>
        </div>
      </div>
      <div class="block-field" remove-by-roles="staff,staff_limited,promoter,manager_limited">
        <h4>Edit Personal Details</h4>
        <form name="userForm">
          <div layout="row" layout-sm="column" layout-md="column" layout-align="space-between stretch">
            <div layout="column" layout-align="start stretch" flex>
              <div layout="row" layout-sm="column" layout-align="space-between stretch">
                <md-input-container flex md-no-float>
                  <h4>First Name</h4>
                  <input ng-model="user.firstName" name="firstName" required placeholder="First Name">
                  <div ng-messages="userForm.firstName.$error" ng-if="displayErrorMessage(userForm.firstName)" class="errors">
                    <div ng-message="required">First name is required</div>
                  </div>
                </md-input-container>
                <md-input-container flex md-no-float>
                  <h4>Last Name</h4>
                  <input ng-model="user.lastName" name="lastName" required placeholder="Last Name">
                  <div ng-messages="userForm.lastName.$error" ng-if="displayErrorMessage(userForm.lastName)" class="errors">
                    <div ng-message="required">Last name is required</div>
                  </div>
                </md-input-container>
              </div>
              <div>
                <md-input-container flex md-no-float>
                  <h4>Email</h4>
                  <input ng-model="user.email" type="email" disabled placeholder="Email">
                </md-input-container>
              </div>
              <div>
                <md-input-container flex md-no-float>
                  <h4>Company</h4>
                  <input ng-model="user.company" placehoder="Company" ng-disabled="true" aria-label="Company">
                </md-input-container>
              </div>
              <div layout="row" layout-sm="column" layout-align="space-between stretch" class="margin-top">
                <md-input-container flex md-no-float>
                  <h4>Phone Number</h4>
                  <input ng-model="user.phoneNumber" type="text" placeholder="Phone Number">
                </md-input-container>
                <md-input-container flex md-no-float>
                  <h4>City</h4>
                  <input ng-model="user.city" placeholder="City">
                </md-input-container>
              </div>
              <div layout="row" layout-sm="column" layout-align="space-between stretch" class="margin-top">
                <md-input-container flex md-no-float>
                  <h4>Contact Email for Guests</h4>
                  <input ng-model="user.contactEmail" placeholder="Contact Email for guests">
                </md-input-container>
              </div>
              <div layout="row" layout-sm="column" layout-align="space-between stretch" class="margin-top">
                <md-input-container flex md-no-float>
                  <h4>Contact Phone Number for Guests</h4>
                  <input ng-model="user.contactPhone" placeholder="Contact Phone Number for guests">
                </md-input-container>
              </div>
            </div>
            <md-input-container class='bio' md-no-float flex>
              <h4>Company's info for guest</h4>
              <textarea ng-model="user.bio" placeholder="Company's info for guest"></textarea>
            </md-input-container>
          </div>
          <div class="actions" layout="row" layout-sm="column" layout-align="end center" ng-show="editMode">
            <md-button class="raised-btn" ng-click="cancel()">
              Cancel
            </md-button>
            <md-button class="raised-btn" ng-click="saveChanges(userForm)">
              Save
            </md-button>
          </div>
        </form>
      </div>
      <div class="block-field">
        <h4>Change your password</h4>
        <form name="userPasswordForm">
          <div layout layout-sm="column">
            <md-input-container md-no-float>
              <h4>Enter old password</h4>
              <input ng-model="user.password" type="password" placeholder="Enter old password" required>
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container md-no-float>
              <h4>Enter new password</h4>
              <input ng-model="user.new_password" type="password" name="new_password" placeholder="Enter new password" required>
            </md-input-container>
            <md-input-container md-no-float>
              <h4>Re-enter new password</h4>
              <input ng-model="user.re_password" type="password" ng-match="user.new_password" name="re_password" placeholder="Re-enter new password" required>
              <div ng-messages="userPasswordForm.re_password.$error" class="errors">
                <div ng-message="match">Passwords don't match.</div>
              </div>
            </md-input-container>
          </div>
          <div class="actions" layout="row" layout-sm="column" layout-align="end center" ng-show="editMode">
            <md-button class="raised-btn" ng-click="cancel()">
              Cancel
            </md-button>
            <md-button class="raised-btn" ng-click="updatePassword(userPasswordForm)">
              Save
            </md-button>
          </div>
        </form>
      </div>
    </div>
  </md-whiteframe>
</div>
