@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

.myGrid {
  width: 500px;
  height: 250px;
}

.md-primary.md-raised {
  border-radius: 25px;
  background-color: #18D8DB !important;
  color: white !important;
  padding-left: 30px;
  padding-right: 30px;
  margin: 5px;
}

.wht-button {
  border-radius: 25px !important;
  background-color: white !important;
  color: #18D8DB !important;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
}

// injector
// endinjector
