@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Arial', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

.myGrid {
  width: 500px;
  height: 250px;
}

.white-bg {
  background-color: white !important;
}

.input-icon {
  position: absolute;
  top: 25px;
  right: 15px;
}

md-input-container.md-default-theme .md-input,
md-select.md-default-theme .md-select-label {
  background-color: white !important;
}

md-content {
  background-color: #ECECEC !important;
}

md-dialog {
  background-color: #ECECEC !important;
}

.md-primary.md-raised {
  border-radius: 25px;
  background-color: #18D8DB !important;
  color: white !important;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  width: 150px;
}

.wht-button {
  border-radius: 25px !important;
  background-color: white !important;
  color: #18D8DB !important;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
}

.wht-event-list-btn {
  background-color: white !important;
  color: #18D8DB !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

.logo-bg {
  background-color: #18D8DB !important;
}

.logo-event-list-btn {
  background-color: #18D8DB !important;
  color: white !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

.left-align {
  position: absolute;
  left: 15px;
}

.item-selected {
  background-color: #8E8E8E !important;
}

.centered {
  margin: 0 auto
}

.rounded {
  height: 40px;
  margin-left: 15px;

  margin-right: 15px;

  border-radius: 25px !important;
  /* mozilla */
  -moz-border-radius: 25px !important;
  /* webkit */
  -webkit-border-radius: 25px !important;
}

.top-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8E8E8E;

}

.page-subtitle {
  background-color: #CCCCCC;
  color: white;
  margin: -8px;
  padding-left: 10px;
}

.page-subtitle h4 {
  padding: 5px
}

.text-bg {
  color: #18D8DB !important;
}

.no-selection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.ui-grid-cell {
  //background-color: white !important;
  border: none;
  border-bottom: #000000;
}

.ui-grid-header-cell {
  background-color: #ECECEC !important;
  border: none !important;
}

.ui-grid-row.ui-grid-cell.ui-grid-cell-contents {
  background-color: white !important;
}

.input-icon {
  top: 22px !important;
  left: auto !important;
}

.md-select-label .md-select-icon {
  right: 0px;
  position: absolute;
}

// injector
// endinjector
