<div ng-init="init()">

<div layout="row">
    <div flex="5">
        <div style="background-color:white;border-color: white;height: 10px;margin-top: 50px;"></div>
        <div style="margin-top: -55px">
            <h5 class="text-bg">Details</h5>

            <md-button class="md-fab"
                       style="background-color: white;
                   height: 30px;
                   width: 30px;
                   margin:0"
                       ng-disabled="isPromoter()"
                       ng-class="getSelected(0)"
                       ng-click="data.selectedIndex = 0"
                       aria-label="Details">
            </md-button>
        </div>
    </div>
    <div flex="28">
        <div style="background-color:white;border-color: white;height: 10px;margin-top: 50px;"></div>
    </div>
    <div flex="5">
        <div style="background-color:white;
                border-color: white;
                    height: 10px;
                    margin-top: 50px;">
        </div>
        <div style="margin-top: -55px">
            <h5 class="text-bg">Invite</h5>

            <md-button class="md-fab"
                       style="background-color: white;
                            height: 30px;
                            width: 30px;
                            margin:0"
                       ng-disabled="!event.id || isPromoter()"
                       ng-class="getSelected(1)"
                       ng-click="data.selectedIndex = 1"
                       aria-label="Invite">
            </md-button>
        </div>
    </div>
    <div flex="28">
        <div style="background-color:white;border-color: white;height: 10px;margin-top: 50px;"></div>
    </div>
    <div flex="5">
        <div style="background-color:white;border-color: white;height: 10px;margin-top: 50px;"></div>
        <div style="margin-top: -55px">
            <h5 class="text-bg">RSVP</h5>

            <md-button class="md-fab"
                       style="background-color: white;
                            height: 30px;
                            width: 30px;
                            margin:0"
                       ng-disabled="!event.id || isPromoter()"
                       ng-class="getSelected(2)"
                       ng-click="data.selectedIndex = 2"
                       aria-label="RSVP">
            </md-button>
        </div>
    </div>
    <div flex="28">
        <div style="background-color:white;border-color: white;height: 10px;margin-top: 50px;"></div>
    </div>
    <div flex="5">
        <div style="background-color:white;border-color: white;height: 10px;margin-top: 50px;"></div>
        <div style="margin-top: -55px">
            <h5 class="text-bg">Guests</h5>

            <md-button class="md-fab"
                       style="background-color: white;
                   height: 30px;
                   width: 30px;
                    margin:0;"
                       ng-disabled="!event.id"
                       ng-class="getSelected(3)"
                       ng-click="data.selectedIndex = 3"
                       aria-label="Guests">
            </md-button>
        </div>
    </div>
    <div flex="28">
        <div style="background-color:white;border-color: white;height: 10px;margin-top: 50px;"></div>
    </div>
    <div flex="5">
        <div style="height: 10px;margin-top: 50px;">
        </div>
        <div style="margin-top: -55px">
            <h5 class="text-bg" style="text-align: left">Preview</h5>

            <md-button class="md-fab"
                       style="
                   background-color: white;
                   height: 30px;
                   width: 30px;
                    margin:0;"
                       ng-disabled="!event.id || isPromoter()"
                       ng-class="getSelected(4)"
                       ng-click="data.selectedIndex = 4"
                       aria-label="Preview">
            </md-button>
        </div>
    </div>
</div>

<ng-switch on="data.selectedIndex" class="tabpanel-container">
    <div role="tabpanel"
         id="tab1-content"
         aria-labelledby="tab1"
         ng-switch-when="0"
         md-swipe-left="next()"
         md-swipe-right="previous()"
         class="details">
        <div>
            <form name="eventForm">
                <div layout layout-sm="column">
                    <md-input-container flex="75">
                        <label>Event Title</label>
                        <input required name="title" ng-model="event.title" ng-pattern="/^[\w\s]+$/">
                        <div ng-messages="eventForm.title.$error" ng-if="displayErrorMessage(eventForm.title)">
                            <div ng-message="required">Please Enter Event Title</div>
                            <div ng-message="pattern">Event Title can only contain alphabets, digits and spaces</div>
                        </div>
                    </md-input-container>
                    <md-input-container style="width: 100%;" flex="25">
                        <md-select required name="category" placeholder="Select Type" ng-model="event.category" flex="100%">
                            <md-select-label style="width:100%">{{event.category || 'Event Category'}}</md-select-label>
                            <md-option value="{{t}}" ng-repeat="t in eventCategories">{{t}}</md-option>
                        </md-select>
                        <div ng-messages="eventForm.category.$error" ng-if="displayErrorMessage(eventForm.category)">
                            <div ng-message="required">Please Select Event Category</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex="75" ng-init=resetPlaceholder()>
                        <label>Event Location</label>
                        <input type="text" name="location" required ng-autocomplete
                               ng-model="event.location" details="location.details">
                        <md-icon class="input-icon" md-svg-src="assets/images/SVG/location.svg"></md-icon>
                        <div ng-messages="eventForm.location.$error" ng-if="displayErrorMessage(eventForm.location)">
                            <div ng-message="required">Please Enter Event Location</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Total Capacity</label>
                        <input name="capacity" required ng-model="event.capacity" type="number" min="0" step="1">
                        <md-icon class="input-icon" md-svg-src="assets/images/SVG/capacity.svg"></md-icon>
                        <div ng-messages="eventForm.capacity.$error" ng-if="displayErrorMessage(eventForm.capacity)">
                            <div ng-message="required">Please Enter Total Capacity</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column" class="dates">
                    <div flex>
                        <div>
                            <label style="font-size:14;color:#8E8E8E;">Starts</label>
                        </div>
                        <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep"
                                        minute-step="minuteStep"
                                        ng-model="event.time" show-meridian="showMeridian" date-format="dd-MMM-yyyy"
                                        name="time"
                                        date-options="dateOptions"
                                        date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
                        <div ng-if="timeInvalid && displayErrorMessage(eventForm.time)">Event can't start in the past</div>
                    </div>
                    <div flex>
                        <div>
                            <label style="font-size:14;color:#8E8E8E">Ends </label>
                        </div>
                        <datetimepicker min-date="endMinDate()" show-weeks="showWeeks" hour-step="hourStep"
                                        minute-step="minuteStep"
                                        ng-model="event.endTime" show-meridian="showMeridian"
                                        name="endTime"
                                        date-format="dd-MMM-yyyy"
                                        date-options="dateOptions"
                                        date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
                        <div ng-if="endTimeInvalid && displayErrorMessage(eventForm.endTime)">End time has to be after start time</div>
                    </div>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Event Details (to be included in confirmation email)</label>
                        <textarea name=" details" ng-model="event.description" columns="1"></textarea>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Event Details (to be included in RSVP/ticketing page)</label>
                        <textarea name=" details" ng-model="event.additionalDetails" columns="1"></textarea>
                    </md-input-container>
                </div>
            </form>

        </div>

        <div layout="row" layout-align="end center">
            <span class="md-caption" ng-if="showValidation">Please fix all errors</span>
            <md-button class="md-primary md-raised" ng-click="next(eventForm)">
                Next
            </md-button>
            <md-progress-circular class="md-hue-2" md-mode="indeterminate"
                                  ng-show="savingEvent"></md-progress-circular>
        </div>
    </div>
    <div role="tabpanel"
         id="tab2-content"
         aria-labelledby="tab2"
         ng-switch-when="1"
         md-swipe-left="next()"
         md-swipe-right="previous()">
        <div>

            <md-list style="padding-left: 5px">
                <md-list-item layout="row" style="border-bottom: #C9C9C9 solid">
                    <div flex="70">
                        <p> Upload your invite (jpg,gif, file formats supported)</p>
                    </div>
                    <div flex="30" layout="row" layout-align="end center">
                        <md-button class="md-primary md-raised" ng-file-select="onInviteSelected($files)"
                                   accept=".jpg,.png,.gif">
                            UPLOAD
                        </md-button>
                        <md-progress-circular class="md-hue-2" md-mode="indeterminate"
                                              ng-show="fetchingData"></md-progress-circular>
                    </div>
                </md-list-item>

            </md-list>
            <div layout="row">
                <div flex ng-style="getEventInvite('300px')">
                </div>
            </div>

        </div>
        <div layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="previous()">
                Back
            </md-button>
            <md-button class="md-primary md-raised" ng-click="next()">
                Next
            </md-button>
        </div>
    </div>
    <div role="tabpanel"
         id="tab3-content"
         aria-labelledby="tab3"
         ng-switch-when="2"
         md-swipe-left="next()"
         md-swipe-right="previous()"
         class="rsvp">
        <div class="section">
            <form name="rsvpForm">
                <div class="subsection" layout="column">
                    <div class="section-label">Select the type of Event</div>
                    <md-radio-group ng-model="event.type" layout layout-sm="column">
                        <md-content>
                            <span layout="row" layout-align="center center">
                                <span>RSVP Event</span>
                                <md-radio-button ng-value="2" aria-label="RSVP Event"></md-radio-button>
                            </span>
                        </md-content>
                        <md-content>
                            <span layout="row" layout-align="center center">
                                <span>Private Event</span>
                                <md-radio-button ng-value="1" aria-label="Private Event"></md-radio-button>
                            </span>
                        </md-content>
                        <!--<md-content>
                            <span layout="row" layout-align="center center">
                                <span>Ticketing Event</span>
                                <md-radio-button ng-value="3" aria-label="Ticketing Event"></md-radio-button>
                            </span>
                        </md-content>-->
                    </md-radio-group>
                </div>
                <div class="subsection" layout="column" ng-show="event.type != 1">
                    <div class="section-label">Send RSVP to :</div>
                    <md-radio-group ng-model="event.rsvpType" layout layout-sm="column">
                        <md-content>
                            <span layout="row" layout-align="center center">
                                <span>Private/Invited guests</span>
                                <md-radio-button ng-value="2" aria-label="Private/Invited guests"></md-radio-button>
                            </span>
                        </md-content>
                        <md-content>
                            <span layout="row" layout-align="center center">
                                <span>Public Guests</span>
                                <md-radio-button ng-value="3" aria-label="Public Guests" ng-click="event.additionalGuests = 1"></md-radio-button>
                            </span>
                        </md-content>
                    </md-radio-group>
                </div>
                <div layout="row" ng-show="event.type == 3">
                    <div class="section-label">Ticket types :</div>
                </div>
                <div layout="row" ng-show="event.type == 3" class="price-blocks">
                    <div ng-repeat="ticket in event.tickets track by $index" class="price-block">
                        <div layout="row" class="title-price">
                            <md-input-container flex="75">
                                <input ng-model="event.tickets[$index].title" aria-label="Price title">
                            </md-input-container>
                            <md-input-container flex="25">
                                <input ng-model="event.tickets[$index].price" aria-label="Price" currency>
                            </md-input-container>
                        </div>
                        <div layout="row" class="price-options" ng-init="tab[$index] = 0">
                            <a flex="50" class="{{tab[$index] == 0 ? 'active' : ''}}" ng-click="tab[$index] = 0">Set Quantity</a>
                            <a flex="50" class="{{tab[$index] == 1 ? 'active' : ''}}" ng-click="tab[$index] = 1">Set end Time</a>
                        </div>
                        <div layout="row" layout-align="center center">
                            <spinner ng-model="event.tickets[$index].quantity" ng-show="tab[$index] == 0"></spinner>
                            <datetimepicker ng-show="tab[$index] == 1" max-date="endMinDate()" show-weeks="showWeeks" hour-step="hourStep"
                                minute-step="minuteStep"
                                ng-model="event.tickets[$index].endTime" show-meridian="showMeridian" date-format="dd-MMM-yyyy"
                                date-options="dateOptions"
                                date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
                        </div>
                    </div>
                </div>                    
                <div layout="row" ng-show="(event.type == 1 && event.rsvpType == 2) || (event.type == 2)">
                    <div flex="50">
                        <div class="section-label">Additional Guests :</div>
                        <span layout="row" layout-align="start center">
                            <span>Guests are allowed to bring&nbsp;</span>
                            <spinner ng-model="event.additionalGuests"></spinner>
                            <span>&nbsp;additional people to the event.</span>
                        </span>
                        <md-checkbox ng-model="event.isRsvpCapacityLimited" aria-label="Limit capacity for rspv">
                            Limit capacity for rspv
                        </md-checkbox>                        
                    </div>
                    <div flex="50">
                        <div class="section-label">RSVP timer expires on :</div>
                        <datetimepicker max-date="endMinDate()" show-weeks="showWeeks" hour-step="hourStep"
                            minute-step="minuteStep"
                            ng-model="event.rsvpEndDate" show-meridian="showMeridian" date-format="dd-MMM-yyyy"
                            date-options="dateOptions"
                            date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
                    </div>
                </div>                    
            </form>
        </div>
        <div layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="addNewTicket()" ng-show="event.type === 3">
                Add Ticket
            </md-button>
            <md-button class="md-primary md-raised" ng-click="previous()">
                Back
            </md-button>
            <md-button class="md-primary md-raised" ng-click="next(rsvpForm)">
                Next
            </md-button>
        </div>
    </div>
    <div role="tabpanel"
         id="tab4-content"
         aria-labelledby="tab4"
         ng-switch-when="3"
         md-swipe-left="next()"
         md-swipe-right="previous()"
         class="guests">
        <div>
            <md-list style="color: #8e8e8e;">
                <md-list-item layout="row" style="border-bottom: #fff solid;">
                    <div flex>
                        <p>Add existing guest list</p>
                    </div>
                    <div flex layout="row" layout-align="end center">
                        <md-button class="md-primary md-raised" ng-click="onAddGLClicked($event, 1)" style="margin:15px;">
                            Add
                        </md-button>
                    </div>
                </md-list-item>
                <md-list-item layout="row" style="border-bottom: #fff solid;">
                    <div flex>
                        <p>Add a new guest list</p>
                    </div>
                    <div flex layout="row" layout-align="end center">
                        <md-button class="md-primary md-raised" ui-sref="main.create_gl_event({eventId: event.id, instanceType: 1})" style="margin:15px;">
                            Create
                        </md-button>
                    </div>
                </md-list-item>
            </md-list>
            <md-list style="color: #8e8e8e;" ng-if="event.type !== 1">
                <md-list-item layout="row" style="border-bottom: #fff solid;">
                    <div flex>
                        <p>Add existing {{event.type === 3 ? 'Ticketing' : 'RSVP'}} list</p>
                    </div>
                    <div flex layout="row" layout-align="end center">
                        <md-button class="md-primary md-raised" ng-click="onAddGLClicked($event, event.type === 3 ? 3 : 2)" style="margin:15px;">
                            Add
                        </md-button>
                    </div>
                </md-list-item>
                <md-list-item layout="row" style="border-bottom: #fff solid;">
                    <div flex>
                        <p>Add a new {{event.type === 3 ? 'Ticketing' : 'RSVP'}} list</p>
                    </div>
                    <div flex layout="row" layout-align="end center">
                        <md-button class="md-primary md-raised" ui-sref="main.create_gl_event({eventId: event.id, instanceType: event.type === 3 ? 3 : 2})" style="margin:15px;">
                            Create
                        </md-button>
                    </div>
                </md-list-item>
            </md-list>
            <div>
                <div class="section-label">Guests :</div>
                <guest-list-instance-view event="event" lists="event.guestLists" options="gliOptions"></guest-list-instance-view>
            </div>
        </div>

        <div layout="row" layout-align="end center" style="margin-top: 10px;">
            <md-button class="md-primary md-raised" ng-click="previous()">
                Back
            </md-button>
            <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="savingEvent"></md-progress-circular>
            <md-button class="md-primary md-raised" ng-click="next(eventForm)" ng-hide="isPromoter()" ng-cloak>
                Next
            </md-button>
        </div>

    </div>
    <div role="tabpanel"
         id="tab5-content"
         aria-labelledby="tab5"
         ng-switch-when="4"
         md-swipe-left="next()"
         md-swipe-right="previous()">

        <event-publish event-id="event.id" options="previewOptions"></event-publish>

    </div>
</ng-switch>
</div>
