<md-dialog aria-label="Mango (Fruit)">
    <md-tabs class="md-accent" md-selected="data.selectedIndex">
        <md-tab id="tab1" aria-controls="tab1-content">
            Create Event
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
            Upload / Choose Invite
        </md-tab>
        <md-tab id="tab3" aria-controls="tab3-content">
            Upload Guest Lists
        </md-tab>
    </md-tabs>

    <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()">
            <md-content class="md-padding">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        Upload your event icon/logo (jpg,gif, file formats supported)
                    </md-input-container>
                    <md-input-container flex="20">
                        <md-button class="md-primary md-raised">
                            BROWSE
                        </md-button>
                    </md-input-container>
                    <md-input-container flex="20">
                        <md-button class="md-primary md-raised">
                            UPLOAD
                        </md-button>
                    </md-input-container>
                </div>
                <form name="userForm">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Event Title</label>
                            <input ng-model="currentEvent.title">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Event Category</label>
                            <input ng-model="currentEvent.category">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Event Date</label>
                            <input ng-model="currentEvent.date" type="date">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Event Time</label>
                            <input ng-model="currentEvent.time" type="time">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Event Location</label>
                            <input ng-model="currentEvent.location">
                        </md-input-container>
                    </div>
                    <md-input-container flex>
                        <label>Event Details</label>
                        <textarea ng-model="currentEvent.details" columns="1"></textarea>
                    </md-input-container>
                </form>
            </md-content>
            <md-button class="md-primary md-raised" ng-click="next()">
                Next
            </md-button>
        </div>
        <div role="tabpanel"
             id="tab2-content"
             aria-labelledby="tab2"
             ng-switch-when="1"
             md-swipe-left="next()"
             md-swipe-right="previous()">
            <md-content class="md-padding">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        Upload your invite (jpg,gif, file formats supported)
                    </md-input-container>
                    <md-input-container flex="20">
                        <md-button class="md-primary md-raised">
                            BROWSE
                        </md-button>
                    </md-input-container>
                    <md-input-container flex="20">
                        <md-button class="md-primary md-raised">
                            UPLOAD
                        </md-button>
                    </md-input-container>
                </div>
            </md-content>
            <md-button class="md-primary md-raised">
                Preview
            </md-button>
            <md-button class="md-primary md-raised">
                Customise
            </md-button>

            <md-button class="md-primary md-raised" ng-click="next()">
                Next
            </md-button>
        </div>
        <div role="tabpanel"
             id="tab3-content"
             aria-labelledby="tab3"
             ng-switch-when="2"
             md-swipe-left="next()"
             md-swipe-right="previous()">
            <md-content class="md-padding">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        Select a guest list to upload (word, excel, xml file formats supported)
                    </md-input-container>
                    <md-input-container flex="20">
                        <md-button class="md-primary md-raised">
                            BROWSE
                        </md-button>
                    </md-input-container>
                    <md-input-container flex="20">
                        <md-button class="md-primary md-raised">
                            UPLOAD
                        </md-button>
                    </md-input-container>
                </div>
                <md-divider></md-divider>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        Manually enter your guest list
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Full Name</label>
                        <input type="text">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Email</label>
                        <input type="email">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Phone Number</label>
                        <input type="tel">
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Full Name</label>
                        <input type="text">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Email</label>
                        <input type="email">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Phone Number</label>
                        <input type="tel">
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Full Name</label>
                        <input type="text">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Email</label>
                        <input type="email">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Phone Number</label>
                        <input type="tel">
                    </md-input-container>
                </div>
            </md-content>
            <md-button class="md-primary md-raised">
                Add More
            </md-button>

            <md-button class="md-primary md-raised" ng-click="next()">
                Finish
            </md-button>
        </div>
    </ng-switch>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('not useful')">
            Cancel
        </md-button>
        <md-button ng-click="answer('useful')" class="md-primary">
            Save
        </md-button>
    </div>
</md-dialog>