<div ng-init="init()" class="event-details-page">

    <div layout="row" layout-align="space-between center" class="tabs margin-top">
        <div class="tab">
            <div class="line"></div>
            <h4 ng-class="getSelected(0) ? 'text-bg' : ''">Details</h4>
            <md-button class="md-fab"
                       ng-class="getSelected(0) ? 'logo-bg' : ''"
                       ng-disabled="isPromoter()" 
                       ng-click="data.selectedIndex = 0" 
                       aria-label="Details">
            </md-button>
        </div>
        <div flex class="line"></div>
        <div class="tab">
            <div class="line"></div>
            <h4 ng-class="getSelected(1) ? 'text-bg' : ''">Invite</h4>
            <md-button class="md-fab"
                       ng-class="getSelected(1) ? 'logo-bg' : ''"
                       ng-disabled="!event.id || isPromoter()"
                       ng-click="data.selectedIndex = 1"
                       aria-label="Invite">
            </md-button>
        </div>
        <div flex class="line"></div>
        <div class="tab">
            <div class="line"></div>
            <h4 ng-class="getSelected(2) ? 'text-bg' : ''">Event</h4>
            <md-button class="md-fab"
                       ng-class="getSelected(2) ? 'logo-bg' : ''"
                       ng-disabled="!event.id || isPromoter()"
                       ng-click="data.selectedIndex = 2"
                       aria-label="RSVP">
            </md-button>
        </div>
        <div flex class="line"></div>
        <div class="tab">
            <div class="line"></div>
            <h4 ng-class="getSelected(3) ? 'text-bg' : ''">Guests</h4>
            <md-button class="md-fab"
                       ng-class="getSelected(3) ? 'logo-bg' : ''"
                       ng-disabled="!event.id"
                       ng-click="data.selectedIndex = 3"
                       aria-label="Guests">
            </md-button>
        </div>
        <div flex class="line"></div>
        <div class="tab">
            <div class="line"></div>
            <h4 ng-class="getSelected(4) ? 'text-bg' : ''">Preview</h4>
            <md-button class="md-fab"
                       ng-class="getSelected(4) ? 'logo-bg' : ''"
                       ng-disabled="!event.id || isPromoter()"
                       ng-click="data.selectedIndex = 4"
                       aria-label="Preview">
            </md-button>
        </div>
    </div>

    <ng-switch on="data.selectedIndex">
        <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()">
            <div>
                <form name="eventForm">
                    <div class="block-field">
                        <div layout layout-sm="column">
                            <md-input-container flex="75" md-no-float>
                                <h4>Event Title</h4>
                                <input required name="title" ng-model="event.title" placeholder="Enter event title, e.g. Holiday Party">
                                <div ng-messages="eventForm.title.$error" ng-if="displayErrorMessage(eventForm.title)">
                                    <div ng-message="required">Please Enter Event Title</div>
                                    <div ng-message="pattern">Event Title can only contain alphabets, digits and spaces</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="25" md-no-float>
                                <h4>Event Category</h4>
                                <md-select required name="category" placeholder="Select event category" ng-model="event.category">
                                    <md-select-label>{{event.category || 'Select event category'}}</md-select-label>
                                    <md-option value="{{t}}" ng-repeat="t in eventCategories">
                                        <img ng-src="assets/images/category_icons/blue_{{t | lowercase | spaceless}}.png" width="24px" height="24px" style="margin-right: 10px"/>{{t}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="eventForm.category.$error" ng-if="displayErrorMessage(eventForm.category)">
                                    <div ng-message="required">Please Select Event Category</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex="75" md-no-float>
                                <h4>Event Location</h4>
                                <input type="text" name="location" ng-change="clearLocation()" required ng-autocomplete ng-model="event.location" options="{watchEnter: true}" details="location.details" placeholder="Enter event location">
                                <md-icon class="input-icon" md-svg-src="assets/images/SVG/location.svg"></md-icon>
                                <div ng-messages="eventForm.location.$error" ng-if="displayErrorMessage(eventForm.location)">
                                    <div ng-message="required">Please Enter Event Location</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="25" md-no-float>
                                <h4>Event Capacity</h4>
                                <input name="capacity" required ng-model="event.capacity" type="number" min="0" step="1" placeholder="Enter event capacity">
                                <md-icon class="input-icon" md-svg-src="assets/images/SVG/capacity.svg"></md-icon>
                                <div ng-messages="eventForm.capacity.$error" ng-if="displayErrorMessage(eventForm.capacity)">
                                    <div ng-message="required">Please Enter Event Capacity</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout layout-sm="column" class="block-field date">
                        <div flex md-no-float>
                            <h4>Starts</h4>
                            <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep"
                                            minute-step="minuteStep"
                                            ng-model="event.time" show-meridian="showMeridian" date-format="dd-MMM-yyyy"
                                            name="time"
                                            date-options="dateOptions"
                                            date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
                            <div ng-if="timeInvalid && displayErrorMessage(eventForm.time)">Event can't start in the past</div>
                        </div>
                        <div flex md-no-float>
                            <h4>Ends</h4>
                            <datetimepicker min-date="endMinDate()" show-weeks="showWeeks" hour-step="hourStep"
                                            minute-step="minuteStep"
                                            ng-model="event.endTime" show-meridian="showMeridian"
                                            name="endTime"
                                            date-format="dd-MMM-yyyy"
                                            date-options="dateOptions"
                                            date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
                            <div ng-if="endTimeInvalid && displayErrorMessage(eventForm.endTime)">End time has to be after start time</div>
                        </div>
                    </div>
                    <div layout layout-sm="column" class="block-field">
                        <md-input-container flex md-no-float>
                            <h4>Confirmation Email</h4>
                            <textarea name=" details" ng-model="event.description" columns="1" placeholder="Event Details (to be included in confirmation email)"></textarea>
                        </md-input-container>
                        <md-input-container flex md-no-float>
                            <h4>RSVP/Ticketing Details</h4>
                            <textarea name=" details" ng-model="event.additionalDetails" columns="1" placeholder="Event Details (to be included in RSVP/ticketing page)"></textarea>
                        </md-input-container>
                    </div>
                </form>
            </div>
            <div layout="row" layout-align="end center">
                <md-button class="raised-btn" ng-click="next(eventForm)">
                    Next
                </md-button>
                <md-progress-circular class="md-hue-2" md-mode="indeterminate"
                                      ng-show="savingEvent"></md-progress-circular>
            </div>
        </div>
        <div role="tabpanel"
             id="tab2-content"
             aria-labelledby="tab2"
             ng-switch-when="1"
             md-swipe-left="next()"
             md-swipe-right="previous()">
            <div>
                <md-list>
                    <md-list-item layout="row">
                        <div flex="70">
                            <p>Upload your invite (jpg,gif, file formats supported)</p>
                        </div>
                        <div flex="30" layout="row" layout-align="end center">
                            <md-button class="raised-btn" ng-file-select="onInviteSelected($files)" accept=".jpg,.png,.gif">
                                UPLOAD
                            </md-button>
                            <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
                        </div>
                    </md-list-item>
                </md-list>
                <div layout="row">
                    <div flex ng-style="getEventInvite('300px')"></div>
                </div>
            </div>
            <div layout="row" layout-align="end center" class="actions">
                <md-button class="raised-btn" ng-click="previous()">
                    Back
                </md-button>
                <md-button class="raised-btn" ng-click="next()">
                    Next
                </md-button>
            </div>
        </div>
        <div role="tabpanel"
             id="tab3-content"
             aria-labelledby="tab3"
             ng-switch-when="2"
             md-swipe-left="next()"
             md-swipe-right="previous()"
             class="event-tab">
            <div>
                <form name="rsvpForm">
                    <div class="block-field" layout="column">
                        <h4>Select the type of Event</h4>
                        <md-radio-group ng-model="event.type" layout layout-sm="column">
                            <md-content layout="row" layout-align="left center" flex="20">
                                <md-tooltip md-direction="top">Send event invite to guests to confirm the attendance</md-tooltip>                                    
                                <md-radio-button ng-value="2" aria-label="RSVP Event">RSVP Event</md-radio-button>
                            </md-content>
                            <md-content layout="row" layout-align="left center" flex="20">
                                <md-tooltip md-direction="top">Send confirmation email to guests that are attending the event</md-tooltip>                                    
                                <md-radio-button ng-value="1" aria-label="Guest List Event">Guest List Event</md-radio-button>
                            </md-content>
                            <!--<md-content layout="row" layout-align="left center" >
                                <md-radio-button ng-value="3" aria-label="Ticketing Event">Ticketing Event</md-radio-button>
                            </md-content>-->
                        </md-radio-group>
                    </div>
                    <div class="block-field" layout="column" ng-show="event.type != 1">
                        <h4>Send RSVP Invite to:</h4>
                        <md-radio-group ng-model="event.rsvpType" layout layout-sm="column">
                            <md-content layout="row" layout-align="left center" flex="20">
                                <md-tooltip md-direction="top">Only these guests can rsvp the event. Invite is non transferable</md-tooltip>                                    
                                <md-radio-button ng-value="2" aria-label="Private/Invited guests">Private/Invited guests</md-radio-button>
                            </md-content>
                            <md-content layout="row" layout-align="left center" flex="20">
                                <md-tooltip md-direction="top">Anyone can rsvp the event with the rsvp link</md-tooltip>                                    
                                <md-radio-button ng-value="3" aria-label="Public Guests" ng-click="event.additionalGuests = 1">Public Guests</md-radio-button>
                            </md-content>
                        </md-radio-group>
                    </div>
                    <div class="block-field" layout="row" ng-show="event.type == 3">
                        <h4>Ticket types:</h4>
                    </div>
                    <div layout="row" ng-show="event.type == 3" class="price-blocks">
                        <div ng-repeat="ticket in event.tickets track by $index" class="price-block">
                            <div layout="row" class="title-price">
                                <md-input-container flex="75">
                                    <input ng-model="event.tickets[$index].title" aria-label="Price title">
                                </md-input-container>
                                <md-input-container flex="25">
                                    <input ng-model="event.tickets[$index].price" aria-label="Price" currency>
                                </md-input-container>
                            </div>
                            <div layout="row" class="price-options" ng-init="tab[$index] = 0">
                                <a flex="50" class="{{tab[$index] == 0 ? 'active' : ''}}" ng-click="tab[$index] = 0">Set Quantity</a>
                                <a flex="50" class="{{tab[$index] == 1 ? 'active' : ''}}" ng-click="tab[$index] = 1">Set end Time</a>
                            </div>
                            <div layout="row" layout-align="center center">
                                <spinner ng-model="event.tickets[$index].quantity" ng-show="tab[$index] == 0"></spinner>
                                <datetimepicker ng-show="tab[$index] == 1" max-date="endMinDate()" show-weeks="showWeeks" hour-step="hourStep"
                                                minute-step="minuteStep"
                                                ng-model="event.tickets[$index].endTime" show-meridian="showMeridian" date-format="dd-MMM-yyyy"
                                                date-options="dateOptions"
                                                date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
                            </div>
                        </div>
                    </div>                    
                    <div layout="column" ng-show="(event.type == 1 && event.rsvpType == 2) || (event.type == 2)">
                        <div class="block-field">
                            <h4>Additional Guests:</h4>
                            <span layout="row" layout-align="start center">
                                <span>Guests are allowed to bring&nbsp;</span>
                                <spinner ng-model="event.additionalGuests"></spinner>
                                <span>&nbsp;additional people to the event.</span>
                            </span>
                            <!--<md-checkbox ng-model="event.isRsvpCapacityLimited" aria-label="Limit capacity for rspv">
                                Limit capacity for rspv
                            </md-checkbox>-->
                        </div>
                        <div class="block-field date">
                            <h4>RSVP timer expires on:</h4>
                            <datetimepicker max-date="endMaxDate()" show-weeks="showWeeks" hour-step="hourStep"
                                            minute-step="minuteStep"
                                            ng-model="event.rsvpEndDate" show-meridian="showMeridian" date-format="dd-MMM-yyyy"
                                            date-options="dateOptions"
                                            date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
                        </div>
                    </div>                    
                </form>
            </div>
            <div layout="row" layout-align="end center" class="actions">
                <md-button class="raised-btn" ng-click="addNewTicket()" ng-show="event.type === 3">
                    Add Ticket
                </md-button>
                <md-button class="raised-btn" ng-click="previous()">
                    Back
                </md-button>
                <md-button class="raised-btn" ng-click="next(rsvpForm)">
                    Next
                </md-button>
            </div>
        </div>
        <div role="tabpanel"
             id="tab4-content"
             aria-labelledby="tab4"
             ng-switch-when="3"
             md-swipe-left="next()"
             md-swipe-right="previous()">
            <div>
                <div class="block-field">
                    <h4>Send event confirmation invite to</h4>
                    <md-list>
                        <md-list-item layout="row">
                            <div flex>
                                <p>Link previous guest list</p>
                            </div>
                            <div flex layout="row" layout-align="end center">
                                <md-button class="raised-btn" ng-click="onAddGLClicked($event, 1)">
                                    Link
                                </md-button>
                            </div>
                        </md-list-item>
                        <md-list-item layout="row">
                            <div flex>
                                <p>Create new guest list</p>
                            </div>
                            <div flex layout="row" layout-align="end center">
                                <md-button class="raised-btn" ui-sref="main.create_gl_event({eventId: event.id, instanceType: 1})">
                                    Create
                                </md-button>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <div class="block-field" ng-if="event.type !== 1">
                    <h4>Send RSVP to</h4>
                    <md-list>
                        <md-list-item layout="row">
                            <div flex>
                                <p>Link previous {{event.type === 3 ? 'Ticketing' : 'RSVP'}} list</p>
                            </div>
                            <div flex layout="row" layout-align="end center">
                                <md-button class="raised-btn" ng-click="onAddGLClicked($event, event.type === 3 ? 3 : 2)">
                                    Link
                                </md-button>
                            </div>
                        </md-list-item>
                        <md-list-item layout="row">
                            <div flex>
                                <p>Create new {{event.type === 3 ? 'Ticketing' : 'RSVP'}} list</p>
                            </div>
                            <div flex layout="row" layout-align="end center">
                                <md-button class="raised-btn" ui-sref="main.create_gl_event({eventId: event.id, instanceType: event.type === 3 ? 3 : 2})">
                                    Create
                                </md-button>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <div class="block-field">
                    <h4>Guest Lists</h4>
                    <guest-list-instance-view event="event" lists="event.guestLists" options="gliOptions"></guest-list-instance-view>
                </div>
            </div>
            <div layout="row" layout-align="end center" class="actions">
                <md-button class="raised-btn" ng-click="previous()">
                    Back
                </md-button>
                <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="savingEvent"></md-progress-circular>
                <md-button class="raised-btn" ng-click="next(eventForm)" ng-hide="isPromoter()" ng-cloak>
                    Next
                </md-button>
            </div>

        </div>
        <div role="tabpanel"
             id="tab5-content"
             aria-labelledby="tab5"
             ng-switch-when="4"
             md-swipe-left="next()"
             md-swipe-right="previous()">
            <event-publish event-id="event.id" options="previewOptions"></event-publish>
        </div>
    </ng-switch>
</div>
