<md-content>
    <div layout layout-sm="column">
        <md-input-container flex>
            Manually enter your guest list
        </md-input-container>
    </div>

    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Select type of guest list (GA/VIP/Guest/Artist/Production/Staff/Press)</label>
            <input type="text" ng-model="list.type">
        </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Enter guest list title</label>
            <input type="text" ng-model="list.title">
        </md-input-container>
    </div>


    <div ng-repeat="guest in list.guests" layout layout-sm="column">
        <md-input-container flex>
            <label>First Name</label>
            <input type="text" ng-model="guest.firstName">
        </md-input-container>
        <md-input-container flex>
            <label>Last Name</label>
            <input type="text" ng-model="guest.lastName">
        </md-input-container>
        <md-input-container flex>
            <label>Email</label>
            <input type="email" ng-model="guest.email">
        </md-input-container>
        <md-input-container flex>
            <label>Phone Number</label>
            <input type="tel" ng-model="guest.phone">
        </md-input-container>
    </div>


    <md-button class="md-primary md-raised" ng-click="addMore()">
        Add More
    </md-button>

    <md-button class="md-primary md-raised" ng-click="save()">
        Save
    </md-button>

</md-content>