<md-dialog ng-hide="fetchingData" class="facebook-events-popup" flex-sm="90">
  <div class="header">
    Facebook Events
  </div>

  <div flex layout="column" class="content">
    <h4>Please select ONE event to integrate into gjests</h4>

    <md-radio-group ng-model="selectedEvent">
      <md-list>
        <md-list-item layout="row" ng-repeat="event in events track by event.id">
          <md-radio-button flex ng-value="event" aria-label="{{::event.title}}">
            <div layout="row">
              <div class="image" flex="20" ng-style="{'background-image': 'url(' + event.image + ')'}"></div>
              <div flex class="event-info" layout="column">
                <h5>{{::event.name}}</h5>
                <span><strong>Starts:</strong> {{::event.startDate | date:'MMM d, y h:mm a'}}</span>
                <span ng-if="event.endDate"><strong>Ends:</strong> {{::event.endDate | date:'MMM d, y h:mm a'}}</span>
                <div layout="row" layout-align="start start" class="location">
                  <md-icon md-svg-src="assets/images/SVG/location.svg"></md-icon>
                  <span flex>{{::event.location}}</span>
                </div>
              </div>
            </div>
          </md-radio-button>
        </md-list-item>
      </md-list>
    </md-radio-group>

    <div class="md-actions" layout="row">
      <md-button ng-click="save()" class="md-primary">
        Integrate
      </md-button>
    </div>
  </div>
</md-dialog>
