<md-dialog class="facebook-events-popup" flex-sm="90">
  <div class="header" layout="row" layout-align="space-between center">
    <span class="flex">Facebook Events</span>
    <img src="assets/images/popup-close.png" ng-click="close()" class="btn-close"/>
  </div>

  <div flex layout="column" layout-align="center center" ng-show="fetchingData">
    <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
  </div>

  <div flex layout="row" layout-align="center center" class="content content-empty" ng-hide="fetchingData || events.length">
    <h4>No upcoming events found</h4>
  </div>

  <div flex layout="column" layout-align="space-between stretch" class="content" ng-show="!fetchingData && events.length">
    <h4>Please select ONE event to integrate into gjests</h4>

    <md-radio-group flex ng-model="selectedEvent">
      <md-list>
        <md-list-item layout="row" ng-repeat="event in events track by event.id">
          <md-radio-button flex ng-value="event" aria-label="{{::event.title}}">
            <div layout="row">
              <div class="image" flex="25" ng-style="{'background-image': 'url(' + event.image + ')'}"></div>
              <div flex class="event-info" layout="column">
                <h5>{{::event.title}}</h5>
                <span>
                  <strong>Starts:</strong> {{::event.startDate | ignoreTimeZone | date:'MMM d, y h:mm a'}}
                </span>
                <span ng-if="event.endDate">
                  <strong>Ends:</strong> {{::event.endDate | ignoreTimeZone | date:'MMM d, y h:mm a'}}
                </span>
                <div layout="row" layout-align="start start" class="location">
                  <md-icon md-svg-src="assets/images/SVG/location.svg"></md-icon>
                  <span flex>{{::event.location}}</span>
                </div>
              </div>
            </div>
          </md-radio-button>
        </md-list-item>
      </md-list>
    </md-radio-group>

    <div class="md-actions" layout="row">
      <md-button ng-click="import()" class="md-primary">
        Integrate
      </md-button>
    </div>
  </div>
</md-dialog>
