<md-dialog class="facebook-events-popup" ng-init="init()" flex-sm="90">
  <div class="header">
    Facebook Events
  </div>

  <div ng-show="fetchingData">
    <h4>Loading...</h4>
    <span>
      <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </span>
  </div>
  <div ng-hide="fetchingData" flex layout="column" class="content">
    <h4>Please select ONE event to integrate into gjests</h4>

    <md-radio-group ng-model="selectedEvent">
      <md-list>
        <md-list-item layout="row" ng-repeat="event in events track by event.id">
          <md-radio-button ng-value="event" aria-label="{{::event.title}}">
            <div layout="row">
              <img ng-src="{{::event.img}}">
              <div class="event-info" layout="column">
                <h5>{{::event.title}}</h5>
                <span><strong>Starts:</strong> {{::event.startDate | date:'MMM d, y h:mm a'}}</span>
                <span><strong>Ends:</strong> {{::event.endDate | date:'MMM d, y h:mm a'}}</span>
                <span><md-icon md-svg-src="assets/images/SVG/location.svg"></md-icon> {{::event.location}}</span>
              </div>
            </div>
          </md-radio-button>
        </md-list-item>
      </md-list>
    </md-radio-group>

    <div class="md-actions" layout="row">
      <md-button ng-click="save()" class="md-primary">
        Integrate
      </md-button>
    </div>
  </div>
</md-dialog>
