<div class="ui-grid-responsive">
    <div layout="row" layout-align="space-between end" layout-sm="column" layout-align-sm="center stretch" ng-if="options.filter.active">
        <p class="info" flex-order-sm="1" ng-bind-html="options.display.tip" ng-style="options.display.tip === '' ? {margin:0} : {}"></p>
        <md-input-container flex="40" flex-sm="100" md-no-float class="search">
            <input type="text" name="search" ng-model="filter.value" ng-change="filter.refresh()" placeholder="{{options.filter.placeholder}}">
            <md-icon class="input-icon" md-svg-src="assets/images/SVG/active-search.svg"></md-icon>
        </md-input-container>
    </div>
    <div layout="row" layout-align="space-between center" class="margin-top" hide-gt-sm ng-if="options.sorting.active">
        <md-input-container flex md-no-float>
            <md-select ng-model="sort.sortField" ng-change="setSortField()">
                <md-select-label>{{sort.sortField || options.sorting.placeholder}}</md-select-label>
                <md-option value="{{sf.name}}" ng-repeat="sf in sort.sortingFields">{{sf.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div ui-grid="options.gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ng-class="getClass()" ng-style="getTableHeight()"></div>
</div>