<div class="event-preview margin-top" layout="row" layout-align="space-between stretch" layout-sm="column" layout-align-sm="start stretch">
    <div layout="row" layout-align="start center" layout-sm="column" layout-align-sm="center stretch" flex="60" flex-sm="auto">
        <div ng-style="getEventInvite('230px')" class="event-image"></div>
        <div layout="column" layout-align="center stretch" class="event-descr" flex>
            <h2>
                {{event.title}}
            </h2>
            <div ng-bind-html="event.description | linky:'_blank'"></div>
            <div class="links">
                <span ng-if="event.type === 2 && event.rsvpType === 3">
                    RSVP link : <a href="{{event.rsvpUrl}}" target="_blank">{{event.rsvpUrl}}</a>
                </span>
                <span ng-if="event.type === 3">
                    Ticketing link : <a href="{{event.ticketingUrl}}" target="_blank">{{event.ticketingUrl}}</a>
                </span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="end stretch" layout-sm="column" flex>
        <div layout="column" layout-align="center start" flex flex-order-sm="2">
            <div class="time">
                {{event.time | ignoreTimeZone | date: 'h:mm a'}}
            </div>
            <div layout="column" layout-align="center start" class="event-prop" flex>
                <div>
                    <img ng-src="assets/images/category_icons/gray_{{event.category | lowercase | spaceless}}.png" width="24" height="24"/>{{event.category}}
                </div>
                <div class="location" layout="row">
                    <md-icon md-svg-src="assets/images/SVG/location.svg"></md-icon>
                    <p ng-bind-html="event.location" flex></p>
                </div>
            </div>
        </div>
        <div class="date logo-bg" layout="column" layout-align="start center" layout-sm="row" flex-order-sm="1">
            <div class="dayOfWeek">
                {{event.time | ignoreTimeZone | date: 'EEE' | uppercase}}
            </div>
            <div class="month">
                {{event.time | ignoreTimeZone | date: 'MMM' | uppercase}}
            </div>
            <div class="day">
                {{event.time | ignoreTimeZone | date: 'd'}}
            </div>
        </div>
    </div>
</div>