<!DOCTYPE html>
<html ng-app="agora" ng-controller="agoraMainCtrl">
<head>
    <title ng-bind="pageTitle"></title>
    <link rel="shortcut icon" href="assets/images/favicon_storm.ico" type="image/ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- social media tags -->
    <meta property="og:title" content="Agora" />
    <meta property="og:type" content="website" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <meta property="og:description" content="Agora - Get Inspired">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
</head>
<body>
     <nav class="navbar navbar-default" role="navigation" ng-authenticate="true">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Agora</a>
        </div>

        <div class="navbar-collapse" ng-class="isCollapsed ? 'collapse' : 'in'">
            <ul class="nav navbar-nav">
                <li ng-class="{ open: $state.includes('home')}"><a href="#/home">Home</a></li>
                <li ng-class="{ open: $state.includes('feed')}"><a href="#/feed">News</a></li>
                <li ng-class="{ open: $state.includes('people')}"><a href="#/people">People</a></li>
                <li ng-class="{ open: $state.includes('around-me')}"><a href="#/around-me">Around Me</a></li>
                <li ng-class="{ open: $state.includes('plugin-dashboard')}"><a href="#/plugin-dashboard">Dashboard</a></li>
            </ul>

            <form role="search" class="navbar-form navbar-left">
                <div class="form-group">
                    <i class="fa fa-search" style="position:relative; left:22px;"></i>
                    <input type="text" class="input-sm" placeholder="    Search for anything" ng-model="globalQueryString">
                </div>
                <button class="btn btn-xs" ng-click="globalSearch()">Search</button>
            </form>

            <ul class="dropdown nav navbar-nav navbar-right">
                <li ng-class="{ open: $state.includes('user-profile')}"><a href="#/user-profile">{{currentUser.firstName}} {{currentUser.lastName}}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle fa fa-cog" data-toggle="dropdown"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li><a href="#" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-default" role="navigation" ng-authenticate="false">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Agora</a>
        </div>
    </nav>
    <div class="row1">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
    </div>
    <div ui-view ng-animate="'view'" class="container"></div>
</body>
</html>
