<div ng-init="getGuestLists()">
    <md-content>
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"
                              ng-show="fetchingData"></md-progress-circular>

        <h3 class="md-title" ng-show="guestLists.length == 0">No guest lists found</h3>

        <div layout="row" class="md-tile-content">
            <div flex="40">
                <h4>Guest List Title</h4>
            </div>
            <div flex="20">
                <h4>Capacity</h4>
            </div>
            <div flex="20">
                <h4>Category</h4>
            </div>
        </div>

        <md-list>
            <md-item ng-repeat="glist in guestLists">
                <md-item-content layout="row" style="background-color:#FFFFFF ">
                    <div layout="row" class="md-tile-content">
                        <div flex="40">
                            <h3>{{glist.title}}</h3>
                        </div>
                        <div flex="20">
                            <h3>{{glist.guests.length}}</h3>
                        </div>
                        <div flex="20">
                            <h3>{{glist.listType}}</h3>
                        </div>
                    </div>


                    <div layout="row" ng-hide="options.readOnly1" ng-cloak
                         style="position: absolute;right:0;top:0;height: 100%">
                        <div layout="row">
                            <md-button class="logo-event-list-btn" style="padding-left:5px;padding-right:5px"
                                       ui-sref="main.edit_glist({listId:{{glist.id}}})">
                                <ng-md-icon icon="mode_edit" style="fill: white" size="24"></ng-md-icon>
                            </md-button>
                            <div style="width: 1px"></div>
                            <md-button class="logo-event-list-btn" style="padding-left:5px;padding-right:5px"
                                       ng-click="deleteGlist($event,glist)">
                                <ng-md-icon icon="delete" style="fill: white" size="24"></ng-md-icon>
                            </md-button>
                            <md-checkbox ng-checked="glistSelected1(glist)" ng-click="toggleSelected(glist)"
                                         aria-label="Import" ng-show="options.enableSelection"
                                         style="margin-bottom: 0px">
                            </md-checkbox>
                        </div>
                    </div>

                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-content>
</div>