<div layout="column" layout-align="center stretch" class="ssso">

	<!-- Preloader -->
	<div class="content" ng-show="loading" layout="row" layout-align="center center" flex>
		<h4>Loading ...</h4>
		<md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
	</div>

	<!-- Top Logo -->
	<div class="header" flex layout="row" layout-align="center center">
		<a ng-href="http://www.shesaid.so/" target="_blank"><img ng-src="{{getCompanyLogo()}}" /></a>
	</div>
		
	<!-- Section for big size screens (desktop) -->
	<section class="large-screen" hide show-gt-md>
		<div class="content-header" ng-show="!loading" layout="column" layout-align="start center" flex style="width: 100%">
			
			<div class="title">				
				{{event.event.title}}
				<div class="item-text">
					{{event.event.time | ignoreTimeZone | date:'MMM d, yyyy | '}}
					{{event.event.time | ignoreTimeZone | date:'h:mm a'}} - {{event.event.endTime | ignoreTimeZone | date:'h:mm a'}}
				</div>
				<div class="description-item">				
					<span ng-bind-html="event.event.location"></span>
				</div>
				<div class="divider"></div>
				<div class="item">
					<div class="item-text text-details" ng-bind-html="event.event.additionalDetails | linky:'_blank' | nl2br"></div>
				</div>
			</div>
			
			<form name="rsvpLandingForm">
				<div layout="row">
					<div class="form-item" ng-if="(public && !event.event.isRsvpExpired) || nameIsMissing" flex="50" style="padding-right: 20px;">
						<label>First Name</label>
						<input type="text" name="name" ng-model="rsvp.name" required />
					</div>
					<div class="form-item" ng-if="(public && !event.event.isRsvpExpired) || nameIsMissing" flex="50" style="padding-left: 20px;">
						<label>Last Name</label>
						<input type="text" name="name" ng-model="rsvp.name" required />
					</div>
				</div>				
				<div class="form-item" ng-if="public && !event.event.isRsvpExpired">
					<label>Email Address</label>
					<input type="email" name="email" ng-model="rsvp.email" required />
				</div>
				<div layout="row">
					<div class="form-item" flex="50" style="padding-right: 20px;">
						<label>Affiliation</label>
						<input type="text" name="affiliation" ng-model="rsvp.affiliation" required />
					</div>
					<div class="form-item" flex="50" style="padding-left: 20px;">
						<label>Additional Guests</label>
						<input type="number" name="plus" ng-model="rsvp.plus" min="0" max="{{event.event.additionalGuests}}">
					</div>
				</div>
				<div class="donate-button" layout="row" layout-align="center center" layout="row">
					<a ng-href="https://www.paypal.me/shesaids0" target="_blank"><img src="assets/images/paypal-donate.png" alt=""></a>
				</div>
				<div class="submit-rsvp" flex layout="row" layout-align="center center">
					<button type="button" class="btn btn-primary btn-lg" ng-click="onSubmitClicked(rsvpLandingForm)" ng-disabled="waiting">RSVP</button>
				</div>				
				<div class="social-panel" ng-if="public">
					<ul>
						<li><a ng-href="https://twitter.com/shesaid_so" target="_blank"><img src="assets/images/icons/social-logos_twitter-white.png" alt="twitter" /></a></li>
						<li><a ng-href="https://www.facebook.com/shesaids0/" target="_blank"><img src="assets/images/icons/social-logos_facebook-white.png" alt="facebook" /></a></li>
						<li><a ng-href="https://www.instagram.com/shesaid.so/"><img src="assets/images/icons/social-logos_instagram-white.png" alt="instagram" /></a></li>
						<li><a ng-href="https://medium.com/@shesaid.so" target="_blank"><img src="assets/images/icons/social-logos_M.png" alt="" /></a></li>
					</ul>
				</div>
				<md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="waiting"></md-progress-circular>
				<h4 ng-if="success" class="success">{{message}}</h4>
			</form>
			
			<div class="hashtag">#shesaidso</div>
			
			<div class="footer" flex>
				<p>Powered by <a href="http://gjests.com" target="_blank">gjests</a></p>
			</div>
			
			<div class="invite-picture">
				<img src="{{event.event.invitePicture}}" alt="" />
			</div>
		</div>
	</section>

	<!-- Section for small size screens (mobile phones) -->
	<section class="small-screen" hide-gt-md>
		<div class="content-header" ng-show="!loading" layout="column" layout-align="start center" flex>

			<div class="title">				
				{{event.event.title}}
				<div class="item-text">
					{{event.event.time | ignoreTimeZone | date:'MMM d, yyyy | '}}
					{{event.event.time | ignoreTimeZone | date:'h:mm a'}} - {{event.event.endTime | ignoreTimeZone | date:'h:mm a'}}
				</div>
				<div class="description-item">				
					<span ng-bind-html="event.event.location"></span>
				</div>
				<div class="divider"></div>
				<div class="item">
					<div class="item-text text-details" ng-bind-html="event.event.additionalDetails | linky:'_blank' | nl2br"></div>
				</div>
			</div>
			
			<form name="rsvpLandingForm">
				<div class="form-item" ng-if="(public && !event.event.isRsvpExpired) || nameIsMissing">
					<label>First Name</label>
					<input type="text" name="name" ng-model="rsvp.name" required />
				</div>
				<div class="form-item" ng-if="(public && !event.event.isRsvpExpired) || nameIsMissing">
					<label>Last Name</label>
					<input type="text" name="name" ng-model="rsvp.lastname" required />
				</div>
				<div class="form-item" ng-if="public && !event.event.isRsvpExpired">
					<label>Email Address</label>
					<input type="email" name="email" ng-model="rsvp.email" required />
				</div>
				<div class="form-item">
					<label>Affiliation</label>
					<input type="text" name="affiliation" ng-model="rsvp.affiliation" required />
				</div>
				<div class="form-item">
					<label>Additional Guests</label>
					<input type="number" name="plus" ng-model="rsvp.plus" min="0" max="{{event.event.additionalGuests}}">
				</div>
				<div class="donate-button" layout="row" layout-align="center center" layout="row">
					<a ng-href="https://www.paypal.me/shesaids0" target="_blank"><img src="assets/images/paypal-donate.png" alt=""></a>
				</div>
				<div class="submit-rsvp" flex layout="row" layout-align="center center">
					<button type="button" class="btn btn-primary btn-lg" ng-click="onSubmitClicked(rsvpLandingForm)" ng-disabled="waiting">RSVP</button>
				</div>				
				<div class="social-panel" ng-if="public">
					<ul>
						<li><a ng-href="https://twitter.com/shesaid_so" target="_blank"><img src="assets/images/icons/social-logos_twitter-white.png" alt="twitter" /></a></li>
						<li><a ng-href="https://www.facebook.com/shesaids0/" target="_blank"><img src="assets/images/icons/social-logos_facebook-white.png" alt="facebook" /></a></li>
						<li><a ng-href="https://www.instagram.com/shesaid.so/"><img src="assets/images/icons/social-logos_instagram-white.png" alt="instagram" /></a></li>
						<li><a ng-href="https://medium.com/@shesaid.so" target="_blank"><img src="assets/images/icons/social-logos_M.png" alt="" /></a></li>
					</ul>
				</div>
				<md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="waiting"></md-progress-circular>
				<h4 ng-if="success" class="success">{{message}}</h4>
			</form>
			
			<div class="hashtag">#shesaidso</div>
			
			<div class="footer" flex>
				<p>Powered by <a href="http://gjests.com" target="_blank">gjests</a></p>
			</div>
			
			<div class="invite-picture">
				<img src="{{event.event.invitePicture}}" alt="" />
			</div>
		</div>		
	</section>
	
</div>