

<div class="row" style="height: 100%; margin: 0 auto">
    <div class="hidden-xs hidden-sm col-md-8 image-viewer-media" style="height: 100%;">
        <div class="image-spotlight" style="background-image: url('{{imageUrl}}');"></div>
    </div>
    <div class="visible-sm visible-xs col-md-8 image-viewer-media">
        <img class="img-responsive col-centered" src="{{imageUrl}}" />
        <div style="max-width:100%;height:auto; background-image: url('{{imageUrl}}');"></div>
    </div>
    <div class="col-md-4 image-viewer-info" style="height:95%">
        <div class="col-centered image-viewer-info-content">
            <div class="row">
                <button type="button" ng-click="close()" class="pull-right close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="row" style="height: 10%;">
                <div class="col-xs-12">
                    <div class="buffer-right-md pull-left image-badage " style="background-image: url('{{post.user.picture}}');"></div>
                    <h3 class="text-left" style=" vertical-align:top">{{post.user.firstName}} {{post.user.lastName}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="pull-left text-left">{{post.message}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="buffer-right-sm">
                        <a><strong>Like</strong></a>
                    </span>
                    <span class="buffer-right-sm"><a ng-click="showLikes(post)">Likes: {{post.like_count}}</a></span>
                </div>
            </div>
            <div class="hidden-xs hidden-sm row comments-container-horizontal">
                <div ng-comments comments="comments" class="col-xs-12 buffer-top-md"></div>
            </div>
            <div class="visible-sm visible-xs row">
                <div ng-comments comments="comments" class="col-xs-12 buffer-top-md"></div>
            </div>
        </div>
    </div>
</div>

