<div class="item grey-bg-1" style="height: 150px">

    <div ng-style="getEventInvite(event)" style="position: absolute;left: 0;top:0;width: 30%;height: 100%;">
    </div>


    <div style="margin-left: 30%">
        <h2 style="color:white;font-weight: bold">{{event.title}}</h2>

        <div>
            <p style="font-size: 14px;color:white;line-height: 100%">
                {{event.time |date:'MMM dd'}} {{event.time |date:'h:mma'}}
                <br>
                <span style="color: white;margin-left: 10px;margin-right: 10px;text-align: center;padding-left: 10%">to</span>
                <br>

                {{event.endTime |date:'MMM dd'}} {{event.endTime |date: 'h:mma'}}
            </p>

        </div>
        <p style="color:white;margin-top: 10px;">{{event.location}}</p>


        <p style="color:white">{{event.type}}</p>

        <div class="chip" ng-cloak ng-show="event.category">
            {{event.category}}
        </div>

    </div>

</div>