<a class="item item-thumbnail-left"
   style="background-color: #999999;border:none;">

    <img style="background: url('{{'../img/event-placeholder.png'}}') no-repeat center ;
    background-size: cover;
    height: 100%;
    max-height: 100%;
    max-width: 100px;
    left:0;
    top:0;">

    <p style="color:white">{{event.date}}</p>

    <p style="color:white">{{event.location}}</p>

    <h3 style="color:white">{{event.title}}</h3>

    <p style="color:white">{{event.type}}</p>
    <button class="button button-stable">
        {{event.category}}
    </button>
</a>