<div class="item grey-bg-1" style="height: 150px">

    <div ng-style="getEventInvite(event)" style="position: absolute;left: 0;top:0;width: 30%;height: 100%;">
    </div>


    <div style="margin-left: 30%;margin-top: -5px;padding-right: 30px;padding-left: 10px;">
        <h2 style="color:white;font-weight: bold;font-size: 24px">{{event.title}}</h2>


        <div style="position: absolute;bottom: 10px; left: 30%;padding-right: 30px;padding-left: 10px;" class="row">
            <p class="col-20" style="font-size: 14px;color:white;line-height: 100%;line-height: 20px;font-weight: bold">
                {{event.time |date:'MMM dd'}}
                <br>
                {{event.time |date:'h:mm a'}}
                <br>
            </p>

            <div class="col-50" ng-cloak ng-show="event.category"
                 style="color:#B6B6B6;padding-left: 20px;padding-right: 20px;padding-top: 10px;background-color: white;border-radius: 25px;text-align: right;font-weight: bold">
                {{event.category}}
            </div>
        </div>

        <p style="color:white">{{event.type}}</p>

    </div>

</div>