<div ng-init="init()">

    <div ng-if="events && !fetchingData && events.length == 0">
        <h4>No Events Found</h4>
    </div>


    <div style="margin-left:47%">
        <ion-spinner ng-if="fecthingData"></ion-spinner>
    </div>


    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doEventsRefresh()">
    </ion-refresher>

    <div class="list">
        <div ng-repeat="event in events" ui-sref="app.event({eventId:{{event.id}}})"
             style="border-bottom: 2px solid #ddd;border-top:3px solid #ddd">
            <event-preview-item event="event"></event-preview-item>
        </div>
    </div>
</div>
