<div flex layout="row" layout-fill style="background-color: #18D8DB !important;">
    <md-content flex layout-fill layout="column" layout-align="center center" class-="md-padding"
                style="background-color: #18D8DB!important;">

        <div flex></div>
        <div flex>
            <img src="assets/images/gliist_logo.png"/>
        </div>

        <div flex>
            <md-input-container flex>
                <label style="margin-left: 38%">Email</label>
                <input class="rounded" type="text" ng-model="credentials.username">
            </md-input-container>
        </div>

        <div flex>
            <md-input-container flex>
                <label style="margin-left: 33%">Password</label>
                <input class="rounded" type="password" ng-model="credentials.password">
            </md-input-container>
        </div>
        <div flex layout-align="center center">
            {{errorMessage}}
        </div>

        <div flex>
            <md-button class="md-primary md-raised" style="background-color:#829493!important;" ng-click="login()">
                login
            </md-button>
        </div>
        <div flex>
            <md-button class="md-primary" style="color:#829493!important;" ng-click="forgotPassword()">Forgot Password
            </md-button>
        </div>
        <div flex>
            <md-button class="md-primary md-raised" style="background-color:#829493!important;"
                     ui-sref="signup">New User
            </md-button>


            <md-progress-circular class="md-hue-2" md-mode="indeterminate"
                                  ng-show="fetchingData"></md-progress-circular>
        </div>
        <div flex></div>

    </md-content>
</div>