<div layout="column" layout-align="center center" class="landing-ticketing">
    <div class="header"><img class="header-image" src="{{event.company.logo}}" height="43px"/><img class="header-logo" src="assets/images/landing-logo.png" alt="logo"/></div>
    <div class="content" layout="column" layout-align="start start">
        <div layout="row" layout-align="space-between start" class="event-details">
            <div class="image-info">
                <div class="info">
                    <h2>
                        {{event.event.title}}
                    </h2>
                    <p ng-bind-html="event.event.description | linky:'_blank'"></p>
                </div>
                <img src="{{event.event.invitePicture}}" height="212px"/>
            </div>
            <div class="date-location">
                <div class="date">
                    <div class="day-week">
                        {{event.event.time | date: 'EEE' | uppercase}}
                    </div>
                    <div class="month">
                        {{event.event.time | date: 'MMM' | uppercase}}
                    </div>
                    <div class="day">
                        {{event.event.time | date: 'd'}}
                    </div>
                </div>
                <div class="location">
                    <div class="time">
                        {{event.event.time | date: 'h:mm a'}}
                    </div>
                    <div class="category">
                        {{event.event.category}}
                    </div>
                    <div class="address">
                        {{event.event.location}}
                    </div>
                </div>
            </div>
        </div>
        <div class="tickets">
            <div layout="row" class="row-header">
                <div flex="60">
                    Ticket type
                </div>
                <div flex="20">
                    Price
                </div>
                <div flex="20">
                    Quantity
                </div>
            </div>
            <div ng-repeat="ticket in event.event.tickets track by $index" layout="row" class="row-ticket" layout-align="start center">
                <div flex="60">
                    {{event.event.tickets[$index].title}}
                </div>
                <div flex="20">
                    $ {{event.event.tickets[$index].price}}
                </div>
                <div flex="20">
                    <div class="spinner-plusminus"><a class="minus">-</a><input type="text" class="form-control text-center" value="1"/><a class="plus">+</a></div>
                </div>
            </div>
            <div layout="row" class="promo" layout-align="start center">
                <div flex="60">
                    Promo Code
                </div>
                <div flex="40">
                    <input type="text" placeholder="Please Enter your promo code" class="form-control text-center"/>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" layout="row" layout-align="space-between center">
        <div>
        <p>Please note that we don't offer refunds.<br><span>And please share with awesome friends - our community grows through amazing people like you spreading the word.</span></p>
        </div>
        <div>
        <md-button class="md-primary md-raised">
            Get Tickets
        </md-button>
        </div>
    </div>
</div>
