<div>

    <md-tabs class="md-accent" md-selected="data.selectedIndex">
        <md-tab id="tab1" aria-controls="tab1-content">
            Profile
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
            Account
        </md-tab>
    </md-tabs>

    <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()">
            <md-content class="md-padding">
                <div layout="row">
                    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" flex>

                        <div flex="30" ng-style="getUserPhoto('150px')">
                        </div>

                        <div flex="40">
                            Info
                        </div>

                        <div flex="30" layout="row" layout-align="end end">
                            <md-button class="md-primary md-raised" ng-file-select="onFileSelect($files)"
                                       accept=".jpg,.png,.gif">
                                Edit
                            </md-button>
                        </div>

                    </md-whiteframe>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        Upload your profile picture(jpg,gif, file formats supported)
                    </md-input-container>
                    <md-input-container flex="20">
                        <md-button class="md-primary md-raised" ng-file-select="onFileSelect($files)"
                                   accept=".jpg,.png,.gif">
                            BROWSE
                        </md-button>
                        <md-progress-circular class="md-hue-2" md-mode="indeterminate"
                                              ng-show="fetchingData"></md-progress-circular>
                    </md-input-container>
                    <md-input-container flex="20">
                    </md-input-container>
                </div>
                <form name="userForm">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>First Name</label>
                            <input ng-model="currentUser.firstName" name="firstName" required>
                        </md-input-container>
                        <div ng-messages="userForm.firstName.$error"
                             ng-if="displayErrorMessage(userForm.firstName)">
                            <div ng-if="userForm.firstName.$error.required" ng-message="required">First name is required
                            </div>
                        </div>
                        <md-input-container flex>
                            <label>Last Name</label>
                            <input ng-model="currentUser.lastName" name="lastName" required>
                        </md-input-container>
                        <div ng-messages="userForm.lastName.$error"
                             ng-if="displayErrorMessage(userForm.lastName)">
                            <div ng-if="userForm.lastName.$error.required" ng-message="required">Last name is required
                            </div>
                        </div>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Email</label>
                            <input ng-model="currentUser.email" type="email" disabled>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Phone Number</label>
                            <input ng-model="currentUser.phoneNumber" type="tel">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>City</label>
                            <input ng-model="currentUser.city">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Company</label>
                            <input ng-model="currentUser.company">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Brief Bio</label>
                            <textarea ng-model="currentUser.bio" columns="1"></textarea>
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Password</label>
                            <input>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Re-enter Password</label>
                            <input>
                        </md-input-container>
                    </div>
                </form>
            </md-content>
            <md-button class="md-primary md-raised" ng-click="saveChanges(userForm)">
                Save
            </md-button>
            <md-button class="md-primary md-raised" ng-click="next()">
                Next
            </md-button>
        </div>
    </ng-switch>


</div>