<div>
    <div layout="row" layout-wrap layout-align="space-between center" class="section-title">
        <h3>Welcome to gjests</h3>
    </div>
    <div layout="row" layout-align="space-between stretch" class="margin-top" layout-sm="column" layout-align-sm="start stretch">
        <div class="billet" layout="column" layout-align="start stretch" flex>
            <h4>Check out whats new!</h4>
            <md-content>
                <p>We are open to the public by the end of March.<br>To request to continue to use gjests for free, please <a href="mailto:INFO@gjests.com">contact us</a></p>
                <p>Ticketing system ready in April</p>
                <p>Offline mode under development</p>
            </md-content>
        </div>
        <div class="billet" layout="column" layout-align="start stretch" flex>
            <h4>Download gjests app</h4>
            <md-content layout="column" layout-align="center start" layout-align-sm="center center" flex>
                <a href="https://geo.itunes.apple.com/us/app/gjests/id1001494301?mt=8" target="_blank">
                    <img alt="iOS app on App Store" src="assets/images/badge_appstore-lrg.svg"/>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.gjests.app" target="_blank" class="margin-top">
                    <img alt="Android app on Google Play" src="assets/images/en_app_rgb_wo_45.png"/>
                </a>
            </md-content>
        </div>
    </div>
    <div class="billet margin-top" layout="column" layout-align="start stretch">
        <h4>Upcoming events</h4>
        <event-list events="currentEvents" options="options"></event-list>
    </div>
</div>