<md-dialog flex="60" class="welcome-popup">
    <div class="header" layout="row" layout-align="end center">
        <img src="assets/images/welcome-close.png" ng-click="close()"/>
    </div>
    <div class="content">
        <h2>Welcome to gjests!</h2>
        <p>To get started, please go to User Profile to upload your <b>company's logo</b>, and fill out your <b>company's details</b> and <b>contact info</b>.</p>
        <p>All communication will include your company's/your <b>social media handles</b>.<br>Please enter the links for your guests to connect.</p>
    </div>
</md-dialog>
<img src="assets/images/welcome-select.png" class="welcome-select" ng-show="showArrow()"/>