<div>
    <div layout="row" layout-wrap style="margin-bottom: 10px">
        <div flex class="section-title">
            <h3>Welcome to gjests</h3>
        </div>
    </div>

    <div class="section-subtitle">
        <h4>Check out whats new!</h4>
    </div>
    <div>

        <md-list>
            <md-subheader style="margin-right: 0px!important;" class="md-no-sticky">
                <span style="margin-top: -15px">gjests app iOS app is available</span>
                <a href="https://geo.itunes.apple.com/us/app/gjests/id1001494301?mt=8" target="_blank"
                   style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;"></a>
            </md-subheader>
            <md-divider></md-divider>
            <md-subheader style="margin-right: 0px!important;" class="md-no-sticky">Android app is now available
                <a href="https://play.google.com/store/apps/details?id=com.gjests.app" target="_blank">
                    <img alt="Android app on Google Play"
                         src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png"/>
                </a>
            </md-subheader>
            <md-divider></md-divider>
            <md-subheader style="margin-right: 0px!important;" class="md-no-sticky">
                <span style="margin-top: -15px">New feature: Event RSVP</span>
            </md-subheader>
            <md-divider></md-divider>
            <md-subheader style="margin-right: 0px!important;" class="md-no-sticky">
                <span style="margin-top: -15px">New updates: Excel export, share event icons on event RSVP page</span>
            </md-subheader>
            <md-divider></md-divider>
            <md-subheader style="margin-right: 0px!important;" class="md-no-sticky">Offline feature & ticketing system under development</md-subheader>
        </md-list>


    </div>

    <div class="section-subtitle">
        <h4>Upcoming events</h4>
    </div>
    <div>
        <event-list events="currentEvents" options="options"></event-list>
    </div>

</div>
