<ion-pane class="light-bg">
    <h3>Add Guest</h3>

    <div>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input item-stacked-label">
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input item-stacked-label">
                <input type="text" placeholder="john@suhr.com">
            </label>
        </div>
    </div>

    <div class="row">
        <button class="button button-calm centered">
            Check In
        </button>
    </div>
</ion-pane>