<ion-pane class="light-bg" ng-init="init()">
    <ion-content class="content-body">


        <event-preview-item event="currentEvent"></event-preview-item>

        <h3>Add Guest</h3>

        <div>

            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Last Name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="john@suhr.com">
                </label>
            </div>
        </div>
        <button class="button button-calm button-full" ng-click="onAdClicked()">
            Add
        </button>

    </ion-content>

    <div class="bottom-bar">
        <button class="back-button" ui-sref="app.home"></button>
    </div>
</ion-pane>