<ion-view class="light-bg" ng-init="init()"
          title="Check in Guest"
          can-swipe-back="false">

    <ion-content class="content-body">
        <div class="row">
            <div class="centered">
                <img src="img/icons/user_01.png">
            </div>
        </div>

        <div class="row">
            <div class="centered">
                <h3>{{guestListInstance.listType}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="centered">
                <h3>{{guestCheckin.guest.type}}</h3>
            </div>
        </div>


        <div class="row">
            <div class="centered">
                <h3 style="text-align: center">{{guestCheckin.guest.firstName}}
                    {{guestCheckin.guest.lastName}}</h3>
            </div>
        </div>
        <div>
            <div class="row" style="text-align: center">
                <div class="centered">
                    <h5>{{(guestCheckin.guest.plus - maxGuests) + guestChecked}} / {{guestCheckin.guest.plus + 1}}
                        Checked</h5>

                    <div class="row">
                        <button class="button button-calm ion-minus col"
                                style="width: 30px!important;"
                                ng-click="subtractGuestCount()"
                                ng-disabled="guestCheckin.plus == 0"></button>
                        <div style="margin-left: 10px;margin-right: 10px;width: 50px;">
                            <h3 style="text-align: center" ng-if="isCheckinDisabled()"> {{guestCheckin.plus}}</h3>

                            <h3 style="text-align: center" ng-if="!isCheckinDisabled()"> {{guestCheckin.plus +
                                + isNotChecked(guestCheckin)}}</h3>
                        </div>
                        <button class="button button-calm ion-plus col" style="width: 30px!important;"
                                ng-click="addGuestCount()"
                                ng-disabled="guestCheckin.plus >= maxGuests"></button>
                    </div>
                </div>

            </div>
            <div class="row" style="margin-top: 40px;">
                <button class="button button-calm centered" ng-disabled="isCheckinDisabled()"
                        ng-click="checkIn()">
                    Check In
                    <ion-spinner ng-if="fetchingData"></ion-spinner>
                </button>
            </div>
            <div class="row" style="margin-top: 40px;" ng-if="lastCheckin">
                <button class="button button-calm centered"
                        ng-click="undo()">
                    Undo
                    <ion-spinner ng-if="fetchingData"></ion-spinner>
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>