<div>
    <h3>Guest Lists</h3>
    <ul class="list">
        <li class="item" ng-repeat="glist in event.guestLists">
            {{glist.title}}
            <span class="badge">{{glist.actual.length}}</span>
        </li>
    </ul>
    <div style="background-color: #EEEEEE">
        <div class="row item item-divider">
            <div class="col-50" style="background-color: #EEEEEE">
                Summary
            </div>
            <div class="col-25" style="background-color: #EEEEEE">
                Total Guests: {{getTotalGuests()}}
            </div>
            <div class="col-25" style="background-color: #EEEEEE">
                Checked-in: {{getActualGuests()}}
            </div>
        </div>
    </div>
</div>