<div style="padding-top: 20px">
    <div style="text-align: center">
        <h3 style="color: #444;margin-top: 0px;margin-bottom: 0px;">Guest Lists</h3>
    </div>

    <ul class="list" style="padding-left: 30px;padding-right: 30px;">
        <li class="item" ng-repeat="glist in event.guestLists" style="background-color: #EEEEEE!important;
        border-top:transparent;border-left: transparent;border-right: transparent;border-bottom: white;
        border-style: solid;" ng-style="isLast($last)">
            {{glist.title}}
            <span class="badge">{{getActualGuests(glist)}}/{{getTotalGuests(glist)}}</span>
        </li>
    </ul>

    <div class="grey-bg-1">

    </div>
    <div style="background-color: #B5B5B5">
        <div class="row"
             style="padding-top: 10px;padding-bottom: 10px;margin-bottom: 10px;text-align: center">
            <h3 class="centered" style="color:#626060">Summary</h3>
        </div>
        <div class="row" style="color:white;background-color:#B5B5B5;text-align: center">
            <div class="col" style="border-right: white;border-style: solid">
                <img src="img/icons/user_stats_single.png" style="height: 30px;">

                <h1 style="color: white;margin-top: 0px;margin-bottom: 0px;">{{getActualGuests()}}</h1>
                Checked-in
            </div>

            <div class="col">
                <img src="img/icons/user_stats_multiple.png" style="height: 30px;">

                <div>
                    <h1 style="color: white;margin-top: 0px;margin-bottom: 0px;">{{getTotalGuests()}}</h1>
                    Total Guests
                </div>

            </div>

        </div>
    </div>

    <div class="row" style="padding-left: 30px;padding-right: 30px;font-size: 16px;margin-top: 20px;">
        <div class="col-75">
            Categories
        </div>
        <div class="col-20">
            Status
        </div>
    </div>

    <ul class="list" style="padding-left: 30px;padding-right: 30px;padding-bottom: 20px;" ng-show="event">
        <li class="item" ng-repeat="category in categories" style="background-color: #EEEEEE!important;
        border-top:transparent;border-left: transparent;border-right: transparent;border-bottom: white;
        border-style: solid;" ng-style="isLast($last)">
            {{category}}
            <span class="badge">{{getCategoryStatus(category)}}/{{getCategoryTotal(category)}}</span>
        </li>
    </ul>

</div>