<ion-view class="light-bg" ng-init="initGuestListView()"
          style="background-color: #EEEEEE"
        view-title="Guest Lists"
        cache-view="false">
    <ion-content class="content-body">
        <ion-spinner ng-show="fecthingData"></ion-spinner>

        <div class="list list-inset" ng-show="!fecthingData" ng-cloak>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search Guests" ng-model="filter">
            </label>
        </div>


        <div class="list">
            <div collection-repeat="guestEntry in guestEntries | filter:filter">
                <div style="background-color: #EEEEEE">
                    <a class="item item-avatar"
                       ui-sref="app.check_guest({guestId:guestEntry.guest.guest.id, gliId:guestEntry.glist.id})"
                       style="background-color: #EEEEEE">

                        <img src="img/icons/user_01.png">

                        <h2 class="">{{guestEntry.guest.guest.firstName}} {{guestEntry.guest.guest.lastName}}</h2>

                        {{guestEntry.guest.status}}
                    </a>
                </div>
            </div>

        </div>
    </ion-content>

    <div class="bar bar-footer logo-bg">
    </div>


</ion-view>