<ion-view class="light-bg" ng-init="initGuestListView()"
          style="background-color: #EEEEEE"
          view-title="Guest Lists"
          cache-view="false">
    <ion-content class="content-body">
        <div style="margin-left:47%">
            <ion-spinner ng-show="fecthingData"></ion-spinner>
        </div>
        <div class="button-bar">
            <a class="button" ng-style="isActive('newGuests')" ng-click="setActive('newGuests')">New Guests</a>
            <a class="button" ng-style="isActive('checkedIn')" ng-click="setActive('checkedIn')">Checked-in</a>
        </div>

        <div class="list list-inset" ng-show="!fecthingData" ng-cloak>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search Guests" ng-model="filter">
            </label>
        </div>

        <grey>
            <ion-list can-swipe="'true'">
                <ion-item collection-repeat="guestEntry in guestEntriesFiltered | filter:filter"
                          class="item-thumbnail-left"
                          ui-sref="app.check_guest({guestId:guestEntry.guest.id, gliId:guestEntry.glist.id})">

                    <img ng-src="img/icons/user_01.png">

                    <h2 style="font-weight: bold">{{guestEntry.guest.firstName}} {{guestEntry.guest.lastName}}</h2>

                    <p style="margin-top: 30px;">{{guestEntry.guest.plus + 1 - guestEntry.plusBalance}} /
                        {{guestEntry.guest.plus + 1}}
                        Checked-in</p>
                    <ion-option-button class="button-positive"
                                       ng-click="subtractGuestCount(guestEntry)"
                                       style="color:white;background-color: #2CD6D6">
                        -GUEST
                    </ion-option-button>
                    <ion-option-button class="button-info"
                                       ng-click="addGuestCount(guestEntry)"
                                       style="color:white;background-color: #2CD6D6">
                        +GUEST
                    </ion-option-button>
                    <ion-option-button class="button-info"
                                       ng-click="checkIn(guestEntry)" style="color:white;background-color: #2CD6D6">
                        <span ng-show="!checkinSpinnerOn && !isCheckinDisabled(guestEntry)">CHECK IN PLUS {{guestEntry.plus}}</span>
                        <span ng-show="!checkinSpinnerOn && isCheckinDisabled(guestEntry)">CHECKED IN</span>

                        <ion-spinner ng-show="checkinSpinnerOn"></ion-spinner>
                    </ion-option-button>

                </ion-item>
            </ion-list>
        </grey>
    </ion-content>

    <div class="bar bar-footer logo-bg">
    </div>


</ion-view>