<div ng-init="init()">

  <div ng-show="initializing">
    <h4>Loading Event...</h4>
        <span>
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
            </span>
  </div>
  <div ng-show="!initializing">
    <div layout="row" layout-wrap style="margin-bottom: 30px">
      <div flex style="background-color: #8E8E8E;color:white;margin:-8px">
        <h3 style="padding-left: 10px">Event Published + Email Delivery Status</h3>
      </div>
    </div>

    <event-preview event="event"></event-preview>


    <div class="page-subtitle" style="margin-top: -15px;">
      <h4>Email Status</h4>
    </div>
    <div>
      <h3>TBD - Need to switch to SengGrid</h3>

    </div>

  </div>


</div>
