<div ng-init="init()" class="event-stats">
    <div ng-if="initializing">
        <h4>Loading Event...</h4>
        <span>
            <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
        </span>
    </div>
    <div ng-if="!initializing">
        <div layout="row" layout-wrap layout-align="space-between center" class="section-title">
            <h3 class="capitalize">{{event.title}} Stats</h3>
        </div>
        <div layout="row" class="block-field">
            <event-preview flex event="event"></event-preview>
        </div>
        <h3 ng-if="event.guestLists.length == 0" class="block-field">Event has no guests</h3>
        <div ng-if="event.guestLists.length > 0">
            <div layout="row" class="block-field chart">
                <div flex="50">
                    <md-list>
                        <md-list-item layout="row">
                            <div flex="25">
                                Categories
                            </div>
                            <div flex="25">
                                Checked in
                            </div>
                            <div flex="25">
                                Total
                            </div>
                            <div flex="25">
                                Percentage
                            </div>
                        </md-list-item>
                        <md-list-item ng-repeat="category in categories" layout="row" style="background-color : {{category.color}};">
                            <div flex>
                                {{category.name}}
                            </div>
                            <div flex>
                                {{getCategoryStatus(category)}}
                            </div>
                            <div flex>
                                {{getCategoryTotal(category)}}
                            </div>
                            <div flex ng-if="getCategoryTotal(category)">
                                {{ Math.round(getCategoryStatus(category) / getCategoryTotal(category) * 100) }}%
                            </div>
                            <div flex ng-if="!getCategoryTotal(category)">
                                N/A
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <div flex="50">
                    <h4 class="chart-title">Total Checked in Guests {{totalGuests}}</h4>
                    <div google-chart chart="chartObject"></div>
                </div>
            </div>
            <div layout="row" class="block-field">
                <div flex>
                    <guest-list-instance-view event="event" lists="event.guestLists" options="gliOptions"></guest-list-instance-view>
                </div>
            </div>
        </div>
    </div>
</div>