<div ng-init="init()" class="event-stats event-type-{{eventType}}">
    <div ng-if="initializing">
        <h4>Loading Event...</h4>
        <span>
            <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
        </span>
    </div>
    <div ng-if="!initializing">
        <div layout="row" layout-wrap layout-align="space-between center" class="section-title">
            <h3 class="capitalize">{{event.title}} Stats</h3>
        </div>
        <div layout="row" class="block-field">
            <event-preview flex event="event"></event-preview>
        </div>
        <h3 ng-if="event.guestLists.length === 0" class="block-field">Event has no guests</h3>
        <div ng-if="event.guestLists.length > 0">
            <div layout="row" layout-sm="column" layout-align="space-between start" class="block-field chart">
                <div layout="column" flex="50" flex-sm="100">
                    <div ng-if="eventType === 2">
                        <h4 class="chart-title">Total Checked in Guests: {{totalCheckedIn}}</h4>
                        <div google-chart chart="chartObject"></div>
                    </div>
                    <md-list>
                        <md-list-item>
                            <div flex="25">
                                Categories
                            </div>
                            <div flex="25">
                                Checked in
                            </div>
                            <div flex="25">
                                Total
                            </div>
                            <div flex="25">
                                Percentage
                            </div>
                        </md-list-item>
                        <md-list-item ng-repeat="category in categories" style="background-color: {{category.color}};">
                            <div flex>
                                {{category.name}}
                            </div>
                            <div flex>
                                {{getCategoryStats(category.name).totalCheckedIn}}
                            </div>
                            <div flex>
                                {{getCategoryStats(category.name).total}}
                            </div>
                            <div flex>
                                {{getCategoryStats(category.name).total > 0 ? Math.round(getCategoryStats(category.name).totalCheckedIn / getCategoryStats(category.name).total * 100) + '%' : 'N/A'}}
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <div layout="column" flex="50" flex-sm="100">
                    <div ng-if="eventType === 1">
                        <h4 class="chart-title">Total Checked in Guests: {{totalCheckedIn}}</h4>
                        <div google-chart chart="chartObject"></div>
                    </div>
                    <div layout="column" ng-if="eventType === 2">
                        <div>
                            <h4 class="chart-title">Total RSVP: {{rsvp[1].total}}</h4>
                            <div google-chart chart="chartObjectRSVP"></div>
                        </div>
                        <md-list>
                            <md-list-item>
                                <div flex>
                                    RSVP Data
                                </div>
                                <div flex="10">
                                </div>
                            </md-list-item>
                            <md-list-item ng-repeat="item in rsvp" style="background-color: {{item.color}};">
                                <div flex>
                                    {{item.name}}
                                </div>
                                <div flex="10">
                                    {{item.total}}
                                </div>
                            </md-list-item>
                        </md-list>
                        <!--<div layout="row" layout-align="end center" class="margin-top">
                            <md-button class="raised-btn" ng-click="">
                                Export Rsvp Report
                            </md-button>
                        </div>
                        <md-list class="margin-top">
                            <md-list-item>
                                <div flex>
                                    RSVP Page
                                </div>
                                <div flex="10">
                                </div>
                            </md-list-item>
                            <md-list-item style="background-color: #f0f6fb;">
                                <div flex>
                                    Total Visitors
                                </div>
                                <div flex="10">
                                    500
                                </div>
                            </md-list-item>
                        </md-list>-->
                    </div>
                </div>
            </div>
            <div class="block-field">
                <guest-list-instance-view event="event" lists="event.guestLists" options="gliOptions"></guest-list-instance-view>
            </div>
        </div>
    </div>
</div>