<div class="event-list">
    <h3 class="md-title" ng-show="events.length == 0">No events found</h3>
    <md-list>
        <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
        <md-list-item ng-repeat="event in events | limitTo:(options.limit || events.length)">
            <div layout="row" layout-align="start center" flex>
                <div flex="15" ng-style="getEventInvite(event)"></div>
                <div flex="60">
                    <md-grid-list md-cols="2" md-row-height="50px" md-row-height-sm="60px" md-cols-sm="1" md-gutter="1px">
                        <md-grid-tile class="capitalize">
                            <h3>{{event.title}}</h3>
                        </md-grid-tile>
                        <md-grid-tile>
                            <md-icon md-svg-src="assets/images/SVG/location.svg"></md-icon>{{event.location}}
                        </md-grid-tile>
                        <md-grid-tile>
                            <b>Starts:</b>&nbsp;{{event.time | ignoreTimeZone | date:'MMM dd, yyyy h:mma'}}
                        </md-grid-tile>
                        <md-grid-tile>
                            <b>Ends:</b>&nbsp;{{event.endTime | date : 'MMM dd, yyyy h:mma'}}
                        </md-grid-tile>
                    </md-grid-list>
                </div>
                <div layout="row" ng-cloak flex="25" layout-align="end center" ng-hide="options.local" class="actions" layout-sm="column">
                    <md-button class="icon-btn" ng-hide="isPromoter()" ui-sref="main.event_checkin({eventId:{{event.id}}})">
                        <md-tooltip md-direction="top">{{options.stats ? 'Guests checkin stats' : 'check guests in'}}</md-tooltip>
                        <ng-md-icon icon="assignment_turned_in" size="24"></ng-md-icon>
                    </md-button>
                    <md-button class="icon-btn" ng-hide="options.readyOnly || isPromoter() || isStaff()" ui-sref="main.edit_event({eventId:{{event.id}}})">
                        <md-tooltip md-direction="top">Edit event</md-tooltip>
                        <ng-md-icon icon="mode_edit" size="24"></ng-md-icon>
                    </md-button>
                    <md-button class="icon-btn" ng-hide="options.readyOnly || isPromoter() || isStaff()" ui-sref="main.event_summary({eventId:{{event.id}}})">
                        <md-tooltip md-direction="top">Preview event</md-tooltip>
                        <md-icon md-svg-src="assets/images/SVG/play.svg" size="24"></md-icon>
                    </md-button>
                    <md-button class="icon-btn" ui-sref="main.event_stats({eventId:{{event.id}}})">
                        <md-tooltip md-direction="top">event stats</md-tooltip>
                        <ng-md-icon icon="insert_chart" size="24"></ng-md-icon>
                    </md-button>
                    <md-button class="icon-btn" ng-hide="options.readyOnly || isPromoter() || isStaff()" ng-click="deleteEvent($event,event)">
                        <md-tooltip md-direction="top">Delete event</md-tooltip>
                        <ng-md-icon icon="delete" size="24"></ng-md-icon>
                    </md-button>
                </div>
            </div>
        </md-list-item>
    </md-list>
</div>