<div ng-init="init()">

  <div ng-if="initializing">
    <h4>Loading Event...</h4>
        <span>
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
            </span>
  </div>
  <div ng-if="!initializing">
    <div layout="row" layout-wrap style="margin-bottom: 30px">
      <div flex style="background-color: #8E8E8E;color:white;margin:-8px">
        <h3 class="capitalize" style="padding-left: 10px"> {{event.title}} Statistics</h3>
      </div>
    </div>
    <h3 ng-if="event.guestLists.length == 0">Event has no guests</h3>

    <div ng-if="event.guestLists.length > 0 ">
      <div google-chart chart="chartObject" style="{{cssStyle}}"></div>
    </div>
  </div>
</div>
