<md-content class="md-padding">
    <h3 class="md-title" ng-show="currentEvents.length == 0">No guest lists found</h3>

    <md-list>
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"
                              ng-show="fetchingData"></md-progress-circular>

        <md-item ng-repeat="event in currentEvents">
            <md-item-content layout="row" style="background-color:#CDCDCD">
                <div flex="15" ng-style="getEventInvite(event)">
                </div>

                <div flex="60">
                    {{event.location}}

                    <h3>{{event.title}}</h3>
                    {{event.date}}

                    <md-chips ng-model="event.tags"
                              readonly="true">
                        <md-chip-template>
                            <strong>{{$chip}}</strong>
                        </md-chip-template>
                    </md-chips>
                </div>

                <div flex="10" layout="column" layout-align="end center">
                    <md-button class="md-primary md-raised" ng-click="showStats($event,event)">
                        <ng-md-icon icon="insert_chart" style="fill: #abcdef" size="24"></ng-md-icon>
                    </md-button>
                </div>

                <div flex="10" layout="column" layout-align="end center">
                    <md-button class="md-primary md-raised" ng-click="deleteEvent($event,event)">
                        <ng-md-icon icon="delete" style="fill: #abcdef" size="24"></ng-md-icon>
                    </md-button>
                    <md-button class="md-primary md-raised" ui-sref="main.edit_event({eventId:{{event.id}}})">
                        <ng-md-icon icon="mode_edit" style="fill: #abcdef" size="24"></ng-md-icon>
                    </md-button>
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
    </md-list>


</md-content>


