<md-content>

    <div layout="row" layout-wrap>
        <div flex style="background-color: #8E8E8E;color:white">
            <h3 style="padding-left: 10px">Preview Event</h3>
        </div>
    </div>


    <div ng-show="initializing">
        <h4>Loading...</h4>
        <span>
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"
                ></md-progress-circular>
            </span>
    </div>

    <div ng-show="!initializing">


        <div style="background-color: white;margin:30px;">
            <div layout="row" ng-style="getEventInvite('250px')" flex>
            </div>
            <md-divider></md-divider>

            <div layout="row" style="padding-left: 15px;padding-right: 15px;padding-top: 15px;">
                <div flex>
                    <span class="md-title" style="font-weight: bold;margin:0;color:#8E8E8E">{{event.title}}</span>
                    <p style="font-size: 14px;color:#8E8E8E;line-height: 100%">
                        {{event.date |date:'MMMM dd, yyyy'}}
                        <br>
                        {{event.time |date: 'h:mma'}} - {{event.endTime| date: 'h:mma'}}
                    </p>
                </div>
                <div flex style="text-align:right">
                    <span class="" style="margin:0;font-size: 12px;">{{event.location}}</span>
                </div>
            </div>
        </div>
        <div style="background-color: #E0E0E0;">
            <div flex style="background-color: #CCCCCC;color:white">
                <h3 style="padding-left: 10px">Linked Guest Lists</h3>
            </div>
            <guest-list-instance-view style="padding:10px" lists="event.guestLists"
                                      options="glOptions"></guest-list-instance-view>
        </div>

        <div class="md-actions" layout="row" layout-align="center center" style="margin-top: 30px;margin-bottom: 20px">

            <md-button class="md-primary md-raised" style="background-color: #8E8E8E !important;"
                       ng-click="editEvent()">Edit
            </md-button>

            <md-button class="md-primary md-raised" ng-click="publishEvent($event)">Publish</md-button>
        </div>
    </div>
</md-content>
