<div class="event-preview margin-top" layout="row" layout-align="space-between stretch">
    <div layout="row" layout-align="start center" flex="60">
        <div ng-style="getEventInvite('230px')" class="event-image"></div>
        <div layout="column" layout-align="center start" class="event-descr">
            <h2>
                {{event.title}}
            </h2>
            <div ng-bind-html="event.description | linky:'_blank'"></div>
            <div class="links">
                <span ng-if="event.type === 2 && event.rsvpType === 3">
                    RSVP link : <a href="{{event.rsvpUrl}}" target="_blank">{{event.rsvpUrl}}</a>
                </span>
                <span ng-if="event.type === 3">
                    Ticketing link : <a href="{{event.ticketingUrl}}" target="_blank">{{event.ticketingUrl}}</a>
                </span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="end stretch" flex>
        <div layout="column" layout-align="center start" flex>
            <div class="time">
                {{event.time | ignoreTimeZone | date: 'h:mm a'}}
            </div>
            <div layout="column" layout-align="center start" class="event-prop" flex>
                <div>
                    <img ng-src="assets/images/category_icons/gray_{{event.category | lowercase | spaceless}}.png" width="24px" height="24px"/>{{event.category}}
                </div>
                <div>
                    <md-icon md-svg-src="assets/images/SVG/location.svg"></md-icon>{{event.location}}
                </div>
            </div>
        </div>
        <div class="date logo-bg" layout="column" layout-align="start center">
            <div class="dayOfWeek">
                {{event.time | ignoreTimeZone | date: 'EEE' | uppercase}}
            </div>
            <div class="month">
                {{event.time | ignoreTimeZone | date: 'MMM' | uppercase}}
            </div>
            <div class="day">
                {{event.time | ignoreTimeZone | date: 'd'}}
            </div>
        </div>
    </div>
</div>
