<div>

    <div layout="row" layout-wrap style="margin-bottom: 8px">
        <div flex class="section-header">
            <h3 style="padding-left: 10px">Check In Guests</h3>
        </div>
    </div>

    <div ng-show="initializing">
        <h4>Loading Event...</h4>
        <span>
        <md-progress-circular class="md-hue-2" md-mode="indeterminate">

        </md-progress-circular>
            </span>
    </div>
    <div style="margin-top:30px;" ng-show="!initializing">

        <div>
            <md-input-container style="padding-bottom: 0!important;">
                <label>Search Guest</label>
                <input ng-model="guestFilter.name">
            </md-input-container>
        </div>

        <div layout="row" layout-align="space-between center">
            <md-radio-group ng-model="guestFilter.status">
                <md-radio-button value="pending" class="md-primary">Pending</md-radio-button>
                <md-radio-button value="checked" class="md-primary">Checked</md-radio-button>
            </md-radio-group>
            <a href="{{getExportExcelUrl()}}" class="md-primary md-raised md-button md-default-theme" style="width:auto">EXPORT to EXCEL</a>
        </div>
            
        <div style="margin-top: 20px;">
            <div ui-grid="gridOptions" style="height:400px;width: 100%" ui-grid-auto-resize></div>
        </div>
    </div>

</div>
