<ion-view class="light-bg" ng-init="init()" title="Alerts">
    <ion-content class="content-body" style="text-align: center">

        <ion-spinner ng-show="fecthingData"></ion-spinner>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doAlertsRefresh()">
        </ion-refresher>

        <h3 ng-show="alerts.length == 0">You have no new alerts</h3>

        <div class="list">

            <a class="item item-avatar grey-bg-1"
               ui-sref="app.check_guest({guestId:alert.guest.id, gliId:alert.gli.id})"
               ng-repeat="alert in alerts">
                <img src="img/icons/user_01.png">

                <h3>{{alert.message}}</h3>

                <p style="text-align: left">{{twitterTime(alert)}} ago</p>
            </a>
        </div>

    </ion-content>

    <div class="bar bar-footer logo-bg">
    </div>

</ion-view>
