<div class='guest-list-instance-viewer'>
    <!--<h3 class="md-title" ng-show="lists.length == 0">No guest lists found</h3>-->
    <md-list class="zebra">
        <md-list-item layout="row" ng-show="lists.length > 0">
            <div flex>
                Title
            </div>
            <div flex>
                Category
            </div>
            <div flex ng-if="options.stats">
                Checked in
            </div>
            <div flex ng-if="!options.stats">
                Total
            </div>
            <div flex ng-if="options.stats">
                Unconfirmed
            </div>
            <div flex ng-if="options.stats">
                Total
            </div>
            <div flex ng-if="!options.stats">
                Capacity
            </div>
            <div flex>
                Type
            </div>
            <div flex ng-if="options.publish">
                Send Invites
            </div>
            <div flex ng-if="options.publish && isShowColumn('published')">
                Sent
            </div>
            <div flex="10" ng-if="!options.readOnly">
                Edit/Delete
            </div>
        </md-list-item>
        <md-list-item ng-repeat="instance in lists">
            <div layout="row" flex>
                <div flex>
                    <p>{{instance.title}}</p>
                </div>
                <div flex>
                    <p>{{instance.listType}}</p>
                </div>
                <div flex ng-if="options.stats">
                    <p>{{getActualGuests(instance)}}</p>
                </div>
                <div flex ng-if="!options.stats">
                    <p>{{getglistTotal(instance)}}</p>
                </div>
                <div flex ng-if="options.stats">
                    <p>{{getglistTotal(instance) - getActualGuests(instance)}}</p>
                </div>
                <div flex ng-if="options.stats">
                    <p>{{getglistTotal(instance)}}</p>
                </div>
                <div flex ng-if="!options.stats">
                    <md-input-container>
                        <md-tooltip md-direction="top">Enter # of guests that can be checked in</md-tooltip>
                        <input name="capacity" ng-model="instance.capacity" ng-disabled="options.readOnly || isPromoter()"
                               type="number" min="0" step="1" ng-blur="onCapacityChanged(instance)" aria-label="capacity">
                    </md-input-container>
                </div>
                <div flex>
                    <p ng-if="instance.instanceType === 1">Guest</p>
                    <p ng-if="instance.instanceType === 2 || instance.instanceType === 4">RSVP</p>
                </div>
                <div flex ng-if="options.publish">
                    <md-checkbox ng-checked="isPublished(instance)" ng-click="togglePublished(instance)" aria-label="Import" ng-show="true">
                        <md-tooltip md-direction="top">select list to send invites</md-tooltip>
                    </md-checkbox>
                </div>
                <div flex ng-if="options.publish && isShowColumn('published')">
                    <md-icon class="single-icon" md-svg-src="assets/images/SVG/sent.svg" ng-if="instance.published"></md-icon>
                </div>
                <div layout="row" layout-align="end center" ng-cloak ng-if="!options.readOnly" flex="10" class="actions">
                    <div ng-if="!instance.published">
                        <md-button class="icon-btn" ng-click="editInstance($event,instance)">
                            <ng-md-icon icon="mode_edit" size="24"></ng-md-icon>
                        </md-button>
                    </div>
                    <div>
                        <md-button class="icon-btn" ng-click="deleteInstance($event,instance)" aria-label="deleteInstance"> 
                            <ng-md-icon icon="delete" size="24"></ng-md-icon>
                        </md-button>
                    </div>
                    <md-checkbox ng-checked="glistSelected1(glist)" ng-click="toggleSelected(glist)" aria-label="Import" ng-show="options.enableSelection"></md-checkbox>
                </div>
            </div>
        </md-list-item>
    </md-list>
    <div layout="row" layout-align="end center" ng-show="lists.length > 0 && options.showSummary" class="margin-top">
        <h4>Total Guest: {{getTotalGuests()}}</h4>
        <h4>Total Capacity: {{getTotalCapacity()}}</h4>
    </div>
    <div class="waiting">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
    </div>
</div>