<div ng-init="getGuestLists()" class="guest-list-viewer">
    <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
    <h3 class="md-title" ng-show="guestLists.length == 0">No guest lists found</h3>
    <div>
        <div ui-grid="gridOptions" ui-grid-auto-resize class="margin-top" ng-if="options.sorting" ng-style="getTableHeight()"></div>
        
        <md-list class="zebra" ng-if="!options.sorting">
            <md-list-item ng-show="guestLists.length > 0">
                <div flex="25">
                    <h4>Guest List</h4>
                </div>
                <div flex="15">
                    <h4>Total</h4>
                </div>
                <div flex="15">
                    <h4>Category</h4>
                </div>
                <div flex="15">
                    <h4>Date</h4>
                </div>
                <div flex="15">
                    <h4>Created By</h4>
                </div>
                <div flex ng-if="!isStaff()">
                </div>
            </md-list-item>
            <md-list-item ng-repeat="glist in guestLists">
                <div flex="25">
                    <p>{{glist.title}}</p>
                </div>
                <div flex="15">
                    <p>{{glist.total}}</p>
                </div>
                <div flex="15">
                    <p>{{glist.listType}}</p>
                </div>
                <div flex="15">
                    <p>{{glist.created_on |date:'MMM dd, yy'}}</p>
                </div>
                <div flex="15" class="capitalize">
                    <p>{{glist.created_by.firstName}} {{glist.created_by.lastName}}</p>
                </div>
                <div flex ng-if="!isStaff()" layout="row" layout-align="end center" class="actions">
                    <md-button class="icon-btn" ui-sref="main.edit_glist({listId:{{glist.id}}})" ng-hide="options.readOnly" aria-label="Edit guest list">
                        <md-tooltip md-direction="top">edit guest list</md-tooltip>
                        <ng-md-icon icon="mode_edit"></ng-md-icon>
                    </md-button>
                    <md-button class="icon-btn" ng-click="deleteGlist($event,glist)" ng-disabled="isRemoval(glist)" ng-hide="options.readOnly" aria-label="Delete guest list">
                        <md-tooltip md-direction="top">delete guest list</md-tooltip>
                        <ng-md-icon icon="delete"></ng-md-icon>
                    </md-button>
                    <md-checkbox ng-checked="glistSelected(glist)" ng-click="toggleSelected(glist)" aria-label="Import" ></md-checkbox>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>
