<div ng-init="init()" class="guest-checkin">
    <div layout="row" layout-wrap layout-align="space-between center" class="section-title">
        <h3>Check In Guest</h3>
    </div>
    <div ng-show="fetchingData">
        <h4>Loading...</h4>
        <span>
            <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
        </span>
    </div>
    <div ng-hide="fetchingData">
        <div layout="column" layout-align="start stretch" class="content">
            <div flex>
                <img src="assets/images/guest-checkin.png">
            </div>
            <div flex>
                <h3><u>{{guestListInstance.title}}</u></h3>
            </div>
            <div flex>
                <h3><b>{{guestCheckin.guest.firstName}} {{guestCheckin.guest.lastName}}</b></h3>
            </div>
            <div flex>
                <h3>{{guestCheckin.guest.type}}</h3>
            </div>
            <div flex>
                <b>{{checkInGuests}}/{{maxGuests}} Checked</b>
            </div>
            <div flex class="notes" layout="row" layout-align="center center" layout-sm="column">
                <b>Note</b>
                <textarea ng-model="guestCheckin.guest.notes" columns="1" flex></textarea>
                <md-button class="raised-btn" ng-click="updateNotes()">
                    <md-icon md-svg-src="assets/images/SVG/checkWhite.svg"></md-icon>
                </md-button>
            </div>
            <div flex class="spinner-plusminus-h" ng-show="notCheckInGuests > 0">
                <md-button class="raised-btn" ng-click="subtractGuestCount()" ng-disabled="checkingGuest">
                    -
                </md-button>
                <h4>{{guestCheckin.plus}}</h4>
                <md-button class="raised-btn" ng-click="addGuestCount()" ng-disabled="checkingGuest">
                    +
                </md-button>
            </div>
            <div flex>
                <md-button class="raised-btn" ng-click="checkIn()" ng-disabled="checkingGuest" ng-show="notCheckInGuests > 0">
                    check in
                </md-button>
                <md-button class="raised-btn" ng-click="undoCheckIn()" ng-disabled="checkingGuest" ng-show="checkInGuests > 0">
                    undo
                </md-button>
                <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="checkingGuest"></md-progress-circular>
            </div>
            <div flex>
                <md-button class="raised-btn" ng-click="back()">
                    Back
                </md-button>
            </div>
        </div>
    </div>
</div>