<div class='guest-list-instance-viewer'>
    <!--<h3 class="md-title" ng-show="lists.length == 0">No guest lists found</h3>-->
    <md-list class="zebra" ng-show="lists.length > 0">
        <md-list-item hide-sm>
            <div flex="{{flexWidth[0]}}">
                Title
            </div>
            <div flex="{{flexWidth[1]}}">
                Category
            </div>
            <div flex="{{flexWidth[2]}}" ng-if="options.stats">
                Checked in
            </div>
            <div flex="{{flexWidth[3]}}" ng-if="!options.stats">
                Total
            </div>
            <div flex="{{flexWidth[4]}}" ng-if="options.stats">
                Unconfirmed
            </div>
            <div flex="{{flexWidth[5]}}" ng-if="options.stats">
                Total
            </div>
            <div flex="{{flexWidth[6]}}" ng-if="!options.stats">
                Capacity
            </div>
            <div flex="{{flexWidth[7]}}">
                Type
            </div>
            <div flex="{{flexWidth[8]}}" ng-if="options.publish" class="center">
                Send Invites
            </div>
            <div flex="{{flexWidth[9]}}" ng-if="options.publish && isShowColumn('published')" class="center">
                Sent
            </div>
            <div flex ng-if="!options.readOnly" style="text-align: right">
                Edit/Delete
            </div>
        </md-list-item>
        <md-list-item ng-repeat="instance in lists">
            <div layout="row" layout-sm="column" flex>
                <dl flex="{{flexWidth[0]}}" flex-sm="100">
                    <dt hide-gt-sm>Title</dt>
                    <dd>{{instance.title}}</dd>
                </dl>
                <dl flex="{{flexWidth[1]}}" flex-sm="100">
                    <dt hide-gt-sm>Category</dt>
                    <dd>{{instance.listType}}</dd>
                </dl>
                <dl flex="{{flexWidth[2]}}" flex-sm="100" ng-if="options.stats">
                    <dt hide-gt-sm>Checked in</dt>
                    <dd>{{getActualGuests(instance)}}</dd>
                </dl>
                <dl flex="{{flexWidth[3]}}" flex-sm="100" ng-if="!options.stats">
                    <dt hide-gt-sm>Total</dt>
                    <dd>{{getTotalGuests(instance)}}</dd>
                </dl>
                <dl flex="{{flexWidth[4]}}" flex-sm="100" ng-if="options.stats">
                    <dt hide-gt-sm>Unconfirmed</dt>
                    <dd>{{getUnconfirmedGuests(instance)}}</dd>
                </dl>
                <dl flex="{{flexWidth[5]}}" flex-sm="100" ng-if="options.stats">
                    <dt hide-gt-sm>Total</dt>
                    <dd>{{getTotalGuests(instance)}}</dd>
                </dl>
                <dl flex="{{flexWidth[6]}}" flex-sm="100" ng-if="!options.stats">
                    <dt hide-gt-sm>Capacity</dt>
                    <dd ng-if="!options.details">{{instance.capacity}}</dd>
                    <dd ng-if="options.details" class="no-padding">
                        <md-input-container ng-if="options.details">
                            <md-tooltip md-direction="top">Enter # of guests that can be checked in</md-tooltip>
                            <input name="capacity" ng-model="instance.capacity" ng-disabled="options.readOnly || isPromoter()"
                                   type="number" min="0" step="1" ng-blur="onCapacityChanged(instance)" aria-label="capacity">
                        </md-input-container>
                    </dd>
                </dl>
                <dl flex="{{flexWidth[7]}}" flex-sm="100">
                    <dt hide-gt-sm>Type</dt>
                    <dd ng-if="instance.instanceType === 1">Guest</dd>
                    <dd ng-if="instance.instanceType === 2 || instance.instanceType === 4">RSVP</dd>
                </dl>
                <dl flex="{{flexWidth[8]}}" flex-sm="100" ng-if="options.publish" class="center">
                    <dt hide-gt-sm>Send Invites</dt>
                    <dd>                    
                        <md-checkbox ng-checked="isPublished(instance)" ng-click="togglePublished(instance)" aria-label="Import" ng-show="true">
                            <md-tooltip md-direction="top">select list to send invites</md-tooltip>
                        </md-checkbox>
                    </dd>
                </dl>
                <dl flex="{{flexWidth[9]}}" flex-sm="100" ng-if="options.publish && isShowColumn('published')" class="center">
                    <dt hide-gt-sm>Sent</dt>
                    <dd>
                        <md-icon class="single-icon" md-svg-src="assets/images/SVG/sent.svg" ng-if="instance.published"></md-icon>
                    </dd>
                </dl>
                <dl flex ng-cloak ng-if="!options.readOnly">
                    <dt hide-gt-sm>Edit/Delete</dt>
                    <dd layout="row" layout-align="end center" class="actions">
                        <div>
                            <md-button class="icon-btn" ng-click="editInstance($event,instance)" aria-label="Edit">
                                <ng-md-icon icon="mode_edit" size="24"></ng-md-icon>
                            </md-button>
                        </div>
                        <div>
                            <md-button class="icon-btn" ng-click="deleteInstance($event,instance)" aria-label="Delete"> 
                                <ng-md-icon icon="delete" size="24"></ng-md-icon>
                            </md-button>
                        </div>
                        <md-checkbox ng-checked="glistSelected1(glist)" ng-click="toggleSelected(glist)" aria-label="Import" ng-show="options.enableSelection"></md-checkbox>
                    </dd>
                </dl>
            </div>
        </md-list-item>
    </md-list>
    <div layout="row" layout-align="end center" ng-show="lists.length > 0 && options.showSummary" class="margin-top totals">
        <h4>Total Guest: {{getGrandTotalGuests()}}</h4>
        <h4>Total Capacity: {{getGrandTotalCapacity()}}</h4>
    </div>
    <div class="waiting">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
    </div>
</div>