<div>
    <div>
        <form name="createGuestListForm">
            <div class="block-field">
                <h4>Guest List Title</h4>
                <div layout layout-sm="column">
                    <md-input-container flex="75" md-no-float>
                        <input type="text" ng-model="list.title" name="title" required placeholder="Enter Guest List Title">
                        <div ng-messages="createGuestListForm.title.$error" ng-if="displayErrorMessage(createGuestListForm.title)">
                            <div ng-message="required">Please Enter Guest List Title</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="25" md-no-float>
                        <md-select placeholder="Select Type" required name="listType" ng-model="list.listType" ng-disabled="disableChangeGLType()" flex>
                            <md-select-label>{{list.listType|| 'Select Type'}}</md-select-label>
                            <md-option value="{{t}}" ng-repeat="t in guestListTypes">{{t}}</md-option>
                        </md-select>
                        <div ng-messages="createGuestListForm.listType.$error" ng-if="displayErrorMessage(createGuestListForm.listType)">
                            <div ng-message="required">Please Select Guest Type</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div class="block-field">
                <h4>Promoter</h4>
                <md-input-container flex md-no-float>
                    <md-select placeholder="Select Promoter to Manage List" name="promoter" ng-model="list.promoter_Id">
                        <md-option value="{{promoter.Id}}" ng-repeat="promoter in promoters">{{promoter.firstName}} {{promoter.lastName}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </form>
    </div>
    <div class="block-field">
        <h4>Import Guests</h4>
        <md-list>
            <md-list-item layout="row">
                <div flex>
                    <p>Link previous guest list</p>
                </div>
                <div flex layout="row" layout-align="end center">
                    <md-button class="raised-btn" ng-click="onLinkClicked($event)">
                        Link
                    </md-button>
                </div>
            </md-list-item>
            <md-list-item layout="row">
                <div flex>
                    <p>Upload new guest list (csv, xlsx)</p>
                </div>
                <div flex layout="row" layout-align="end center">
                    <md-button class="raised-btn" ng-file-select="onFileSelect($files)" accept=".csv,.xlsx,.xls">
                        Upload
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div class="block-field">
        <h4>Guests</h4>
        <md-list>
            <md-list-item layout="row">
                <div flex class="actions">
                    <md-button class="raised-btn" ng-click="addMore()">
                        Add Guest
                    </md-button>
                    <md-button class="raised-btn" ng-disabled="!rowSelected" ng-click="deleteSelectedRows()">
                        Delete
                    </md-button>
                </div>
                <div flex layout="row" layout-align="end center">
                    <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
                    <md-button class="raised-btn" ng-click="save(true)">
                        Save
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
        <div ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize class="margin-top"></div>
        <span class="error" ng-if="showValidation && !list.guests.length">Please Add Guests</span><br>
        <span class="error" ng-if="showValidation && guestsError()">First Name and Last Name must be not empty.</span>
    </div>
</div>
