<div>
    <div>
        <form name="createGuestListForm">
            <div class="block-field">
                <div layout layout-sm="column">
                    <md-input-container flex="75" md-no-float>
                        <h4>Guest List Title</h4>
                        <input type="text" ng-model="list.title" name="title" required placeholder="Enter Guest List Title">
                    </md-input-container>
                    <md-input-container flex="25" md-no-float>
                        <h4>Guest Type</h4>
                        <ui-select required name="listType" ng-model="list.listType" ng-disabled="disableChangeGLType()" search-enabled="false" flex>
                            <ui-select-match placeholder="Select Type">
                                {{$select.selected}}
                            </ui-select-match>
                            <ui-select-choices repeat="t in guestListTypes">
                                {{t}}
                            </ui-select-choices>
                        </ui-select>                   
                    </md-input-container>
                </div>
            </div>
            <div class="block-field">
                <h4>Promoter</h4>
                <md-input-container flex md-no-float>
                    <ui-select name="promoter" ng-model="list.promoter_Id" search-enabled="false">
                        <ui-select-match placeholder="Select Promoter to Manage List">
                            {{$select.selected.firstName}} {{$select.selected.lastName}}
                        </ui-select-match>
                        <ui-select-choices repeat="promoter.Id as promoter in promoters">
                            {{promoter.firstName}} {{promoter.lastName}}
                        </ui-select-choices>
                    </ui-select>                   
                </md-input-container>
            </div>
        </form>
    </div>
    <div class="block-field">
        <h4>Import Guests</h4>
        <md-list>
            <md-list-item layout="row">
                <div flex>
                    <p>Link previous guest list</p>
                </div>
                <div flex layout="row" layout-align="end center">
                    <md-button class="raised-btn" ng-click="onLinkClicked($event)">
                        Link
                    </md-button>
                </div>
            </md-list-item>
            <md-list-item layout="row">
                <div flex>
                    <p>Upload new guest list (csv, xlsx)</p>
                </div>
                <div flex layout="row" layout-align="end center">
                    <md-button class="raised-btn" ng-file-select="onFileSelect($files)" accept=".csv,.xlsx,.xls">
                        Upload
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div class="block-field">
        <h4>Guests</h4>
        <md-list>
            <md-list-item layout="row">
                <div flex class="actions">
                    <md-button class="raised-btn" ng-click="addMore()" ng-disabled="fetchingData">
                        Add Guest
                    </md-button>
                    <md-button class="raised-btn" ng-disabled="!rowSelected || fetchingData" ng-click="deleteSelectedRows()">
                        Delete
                    </md-button>
                </div>
                <div flex layout="row" layout-align="end center">
                    <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
                    <md-button class="raised-btn" ng-click="save()" ng-disabled="fetchingData">
                        Save
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
        <div ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize class="margin-top"></div>
    </div>
</div>
