<div class="billing">
    <div class="stripe-account">
        <h4>Payment Information :</h4>
        <div layout="row" layout-align="start center">
            <div class="card-number">XXXX XXXX XXXX 2378</div>
            <ng-md-icon icon="mode_edit" style="fill: #8e8e8e" size="24" ng-click=""></ng-md-icon>
            <ng-md-icon icon="delete" style="fill: #8e8e8e" size="24" ng-click=""></ng-md-icon>
        </div>
        <div layout="row" layout-align="start center">
            <div class="stripe-logo">stripe</div>
            <div class="info">Add your stripe account</div>
            <md-button class="md-primary md-raised" ng-click="squareDialog()">Link</md-button>
        </div>
    </div>
    <div class="tariff-blocks">
        <h4>Subscriptions :</h4>
        <div class="tariff-block" ng-repeat="tariff in plans">
            <div layout="row" class="tariff-title" layout-align="space-between center">
                <div class="title">{{tariff.title}}</div>
                <div class="price">{{tariff.price}}</div>
            </div>
            <ul class="description">
                <li ng-repeat="feature in tariff.features">+ {{feature}}</li>
            </ul>
            <div class="status" ng-if="tariff.active">
                <b>ACTIVE</b> Expires on {{tariff.expires}}
            </div>
            <div class="status" ng-if="!tariff.active">
                <md-button class="md-primary md-raised" ng-click="">UPGRADE</md-button>
            </div>
        </div>
    </div>
    <div class="invoices">
        <h4>Invoices :</h4>
        <div layout="row">
            <md-list flex="50">
                <md-list-item>
                    <div flex="60">
                        Date
                    </div>
                    <div flex="40">
                        Amount
                    </div>
                </md-list-item>
                <md-list-item ng-repeat="invoice in invoices" ng-click="invoiceDetails()">
                    <div flex="60">
                        {{invoice.date}}
                    </div>
                    <div flex="40">
                        {{invoice.amount}}
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>