<md-dialog flex="60" class="invoice-details">
    <div class="header" layout="row" layout-align="center center">
        <img src="assets/images/stripe-close.png" ng-click="close()" class="close"/>
        <img src="assets/images/gliist_logo.png" height="70"/>
    </div>
    <div class="content">
        <div layout="row" layout-align="space-between center" class="payment-details">
            <dl>
                <dt>Transaction ID</dt>
                <dd>BHK37GH29</dd>
            </dl>
            <dl class="right">
                <dt>Oct 31, 2017</dt>
                <dd>11:38 AM</dd>
            </dl>
        </div>
        <div layout="column" layout-align="center stretch" class="payment-confirm">
            <h3>Payment Confirmation for gjests registration</h3>
            <div layout="row" layout-align="space-between start">
                <dl>
                    <dt>Billing Address:</dt>
                    <dd>Jason Bourne</dd>
                    <dd>2314 Fernwood Ave</dd>
                    <dd>LosAngeles, CA 90027</dd>
                    <dd>Unite States</dd>
                </dl>
                <div class="right">
                    <dl>
                        <dt>Payment:</dt>
                        <dt class="cnumber"><sup>0000 0000 0000</sup> <span>7438</span></dt>
                    </dl>
                    <div class="card visa"></div>
                </div>
            </div>
            <md-list>
                <md-list-item>
                    <div flex="50">
                        Description:
                    </div>
                    <div flex="50">
                        Item Price:
                    </div>
                </md-list-item>
                <md-list-item>
                    <div flex="50">
                        Monthly Plan - Pay Monthly
                    </div>
                    <div flex="50">
                        $ 260.0
                    </div>
                </md-list-item>
                <md-list-item>
                    <div flex="50">
                        Total Amount Paid:
                    </div>
                    <div flex="50">
                        $260.00
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>
    <div layout="row" layout-align="center center" class="payment-message">
        <p>Thank you for choosing gjests!</p>
    </div>
    <div layout="row" layout-align="center center" class="footer">
        <p>Issue? <a href="mailto:"><u>Contact Us</u></a></p>
    </div>
</md-dialog>