<md-dialog>
  <md-dialog-content>
    <div>
      <div layout="row" layout-wrap style="margin-bottom: 8px">
        <div flex class="section-header">
          <h3 style="padding-left: 10px">Invite Information</h3>
        </div>
      </div>
      <div>
        <form name="userForm">

          <div layout layout-sm="column">
            <md-input-container flex>
              <label>First Name</label>
              <input ng-model="linked_account_in_edit.firstName">
            </md-input-container>
            <md-input-container flex>
              <label>Last Name</label>
              <input ng-model="linked_account_in_edit.lastName">
            </md-input-container>
          </div>

          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Email</label>
              <input ng-model="linked_account_in_edit.UserName" ng-disabled="linked_account_in_edit.Id">
            </md-input-container>
            <md-input-container flex>
              <label>Phone Number</label>
              <input ng-model="linked_account_in_edit.phoneNumber" type="tel">
            </md-input-container>
          </div>
        </form>

        <div>
          Permissions (Control what this contributos can do on the dashboard and app)
          <md-list>
            <md-item ng-repeat="p in permissions" flex>
              <div flex layout="row">
                <div flexlayout="column" class="md-tile-content">
                  <div>
                    {{p.label}}
                  </div>
                  <div>
                    {{p.desc}}
                  </div>
                </div>
                <div flex layout="row" layout-align="end center">
                  <md-checkbox ng-checked="isSelected(p)" ng-click="toggleSelected(p)"
                               aria-label="Import">
                  </md-checkbox>
                </div>
              </div>
              <md-divider ng-if="!$last"></md-divider>
            </md-item>
          </md-list>

        </div>
      </div>


    </div>

    <div class="row" style="color:red">
      <div class="col">
        {{errorMessage}}
      </div>
    </div>
    <div class="md-actions" layout="row">
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button ng-click="invite()" class="md-primary" ng-if="!linked_account_in_edit.Id">
        Invite
      </md-button>
      <md-button ng-click="update()" class="md-primary" ng-if="linked_account_in_edit.Id">
        Update
      </md-button>
      <div ng-if="fetchingData">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
      </div>
    </div>


  </md-dialog-content>
</md-dialog>
