<md-content flex layout-fill layout="column" layout-align="start center" class="logo-bg">
    <div>
        <img src="assets/images/gliist_logo.png" style="height:90px"/>
    </div>
    <h3 style="color:white">Recover Password</h3>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>email address</label>
            <input class="rounded-lr" type="email" ng-model="user.email" required>
        </md-input-container>
    </div>
    <div class="actions" layout="row" layout-align="center center" ng-if="!recoverSent">
        <md-button class="raised-btn" ng-click="onRecoverClicked()" ng-disabled="!user.email">
            Recover
        </md-button>
        <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
    </div>
</md-content>