<md-content flex layout-fill layout="column" layout-align="start center" class="md-padding logo-bg">

  <div>
    <img src="assets/images/gliist_logo.png" style="height:90px"/>
  </div>

  <h3 style="color:white">Recover Password</h3>

  <form ng-if="!recoverSent">
    <div layout layout-sm="column">
      <md-input-container flex ng-if="!options.inviteMode">
        <label style="padding-left: 30px">email address</label>
        <input name="email" class="rounded-lr" type="email" ng-model="user.email" required>

        <div ng-messages="userForm.inviteCode.$error"
             ng-if="displayErrorMessage(userForm.inviteCode)" style="padding-left: 30px">
          <div ng-if="userForm.inviteCode.$error.required" ng-message="required">Email is required
          </div>
        </div>
      </md-input-container>
    </div>
  </form>
  <div ng-if="recoverSent" style="font-size: 16px;color:white;">
    {{message}}
  </div>

  <div class="actions" layout="row" layout-align="center center">
    <md-button class="raised-btn" ng-click="onRecoverClicked(userForm)" ng-if="!recoverSent">
      Recover
    </md-button>
    <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
  </div>


</md-content>
