<md-content flex layout-fill layout="column" layout-align="start center" class="md-padding logo-bg" ng-init="init()">

  <div>
    <img src="assets/images/gliist_logo.png" style="height:80px"/>
  </div>

  <h3 style="color:white">Reset Password</h3>

  <p style="color:white;font-size:16px;">
    Enter a new password
  </p>

  <form ng-if="!recoverSent">
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>new password</label>
        <input name="password" class="" type="password" ng-model="user.password" required>

        <div ng-messages="userForm.inviteCode.$error"
             ng-if="displayErrorMessage(userForm.inviteCode)" style="padding-left: 30px">
          <div ng-if="userForm.inviteCode.$error.required" ng-message="required">Email is required
          </div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label>confirm password</label>
        <input name="confirm" class="" type="password" ng-model="user.confirmPassword" required>

        <div ng-messages="userForm.inviteCode.$error"
             ng-if="displayErrorMessage(userForm.inviteCode)" style="padding-left: 30px">
          <div ng-if="userForm.inviteCode.$error.required" ng-message="required">Email is required
          </div>
        </div>
      </md-input-container>
    </div>
  </form>
  <div style="font-size: 16px;color:red;">
    {{message}}
  </div>

  <div class="md-actions" layout="row" layout-align="center center">
    <md-button ng-click="onResetClicked(form)" class="md-primary md-raised"
               style="background-color:grey !important;" ng-if="!recoverSent">
      Reset
    </md-button>
    <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
  </div>


</md-content>
