<md-content flex layout-fill layout="column" layout-align="start center" class="md-padding logo-bg" style="margin-bottom: 200px;">
    <div style="margin-top: 30px;">
        <img src="assets/images/gliist_logo.png" style="height:80px"/>
    </div>
    <user-signup user="createUser"></user-signup>
</md-content>
<div class="section-header signup" hide-sm hide-md>
    <div layout="column" layout-align="center center">
        <h3>Existing Users</h3>
        <p> Login and get going with your lists</p>
        <md-button ui-sref="home" class="md-primary md-raised logo-bg">
            Login
        </md-button>
    </div>
</div>