<div flex layout="column" layout-align="space-between center" layout-fill>
    <div layout="column" layout-align="center center" class="content">
        <div>
            <img src="assets/images/gliist_logo_blue.png" style="height:90px"/>
        </div>
        <user-signup user="createUser"></user-signup>
    </div>
    <div class="footer">
        <div layout="column" layout-align="center center">
            <h3>Existing Users</h3>
            <p>Login and get going with your lists</p>
            <md-button class="raised-btn" ui-sref="home">
                Login
            </md-button>
        </div>
    </div>
</div>