<md-content flex layout-fill layout="column" layout-align="start center" class="md-padding logo-bg">

    <div>
        <img src="assets/images/gliist_logo.png" style="height:80px"/>
    </div>

    <user-signup user="createUser"></user-signup>

</md-content>
<div style="color:white;background-color: #8E8E8E; position: absolute;bottom: 0;width: 100%;left:0;height: 20%"
     hide-sm hide-md>
    <div layout="column" layout-align="center center">
        <h3 style="margin-bottom: 0">Existing Users</h3>

        <p style="margin-top:0"> Login and get going with your lists</p>

        <md-button ui-sref="home" class="md-primary md-raised logo-bg">
            Login
        </md-button>
    </div>

</div>
