<md-content flex layout-fill layout="column" layout-align="start center" class="md-padding logo-bg" ng-init="init()" style="height: 50%;overflow-y: scroll">
    <div>
        <img src="assets/images/gliist_logo.png" style="height:80px"/>
    </div>
    <div ng-show="loading">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </div>
    <user-signup ng-if="!loading" user="user" options="options"></user-signup>
</md-content>
<div class="section-title" style="position: absolute;bottom: 0;width: 100%;left:0;height: 20%">
    <div layout="column" layout-align="center center">
        <h3 style="margin-bottom: 0">Existing Users</h3>
        <p style="margin-top:0">Login and get going with your lists</p>
        <md-button ui-sref="home" class="md-primary md-raised logo-bg">
            Login
        </md-button>
    </div>
</div>
