@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

p,
b,
h3,
h4,
html {
    font-family: 'Arial', serif;
    color: #666;
}

md-toast {
    position: fixed;
    &.md-center {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 5px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;

    img.pull-right {
        width: 50px;
    }
}

.logo-bg,
.logo-fill,
md-toolbar.md-default-theme,
md-checkbox.md-default-theme.md-checked .md-icon,
.btn-info,
.btn-info.active,
.btn-success {
    background-color: #99ccff !important;
}

.btn-link,
.text-bg {
    color: #99ccff !important;
}

section.jumbotron {
    margin-bottom: 30px;
    padding: 1px 30px;
    background-color: #99ccff;
    text-align: center;
    color: white;
    h1 {
        font-size: 3em;
    }
}

span.error {
    color: rgb(244,67,54);
    font-size: 12px;
}

.venue-name,
.venue-name + .street-address ~ span:nth-child(3):before,
.street-address:first-child ~ span:nth-child(2):before {
    content: '';
    display: block;
}

.no-selection {
    user-select: none;
}

div[ui-grid] {
    border-radius: 5px;
    color: #666;
    height: 350px;  
    .ui-grid-cell {
        border: none !important;
        padding: 12px;
        position: relative;
        .actions {
           margin: 0 10px;
           position: absolute;
           top: 0;
           right: 0;
           & > * {
               display: inline-block;
               vertical-align: top;
           }
        }
    }
    .ui-grid-cell-contents {
        padding: 0;
        & > span:nth-child(2) sub {
            display: none;
        }
    }
    .ui-grid-header-cell {
        background-color: #e6e6e6 !important;   
        border: none !important;
        font-weight: bold;
        height: 45px;
        padding: 12px;
        .sortable span.ui-grid-invisible {
            visibility: visible;
            .ui-grid-icon-blank:before {
                content: '\c359\a\c358';
                white-space: pre;
                line-height: 0.5;
                vertical-align: middle;
            }
        }
    }
    .ui-grid-viewport {
        overflow-x: hidden !important;
    }
    .ui-grid-row {
        &:nth-child(even) .ui-grid-cell {
            background: #f0f6fb;
        }
        &:nth-child(odd) .ui-grid-cell {
            background: #fff;
        }
    }
    .ui-grid-selection-row-header-buttons {
        border: 1px solid #666 !important;
        border-radius: 5px !important;
        width: 21px;
    }
}

.capitalize {
    text-transform: capitalize;
}

:focus {
    outline: 0;
    /* or */
    outline: none;
}

.margin-top {
    margin-top: 15px;
}

input[ui-grid-editor] {
    border: none !important;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

img.logo {
    height: 50px;
    cursor: pointer;
}

#loading {
    color: #fff;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

md-toolbar {
    & > div {
        padding: 0 30px 0 10px;
        min-height: 64px;
    }
}

md-sidenav {
    .item-selected {
        background-color: #ccc !important;
    }
    .sidenav-item {
        height: 80px;
        border-bottom: white;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-style: solid;
        border-width: 2px;
        font-size:15px;
        padding: 25px 10px 25px 55px;
        text-transform: uppercase;
        webkit-focus-ring-color: none;
        & > div {
            color: #fff; 
            line-height: 25px;
            img {
                position: absolute;
                left: 15px;
            }
        }
    }
}

md-tooltip .md-content{
    font-size: 16px;
}

.md-button {
    min-width: 30px;
    min-height: 30px;
    font-weight: bold;
    color: #aaa;
    img,
    md-icon,
    ng-md-icon {
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%); 
        height: 24px;
        fill: white;
    }
    span {
        line-height: 1;
    }
    &.raised-btn {
        color: #fff;
        border: 1px solid #84add5;
        box-shadow: 0 3px 10px rgba(0,0,0,0.2);
        border-radius: 25px;
        background-color: #99ccff;
        padding: 0 20px;
        margin: 0;
        width: 150px;
        text-shadow: 0 -1px 0 #b3b3b3;
        background: linear-gradient(to bottom, #98ccff, #6db2f6);
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            border: 1px solid #b3d9ff;
            border-radius: 25px;
        }
        &:hover {
            background: linear-gradient(to bottom, #6db2f6, #98ccff);
        }
    }
    &.white-btn {
        border: 1px solid #b3b3b3;
        background: linear-gradient(to bottom, #fff, #eee);
        color: #7ab9f8 !important;
        &:before {
            border-color: #f4f4f4;
        }
        &:hover {
            background: linear-gradient(to bottom, #eee, #fff);
        }
    }
    &.icon-btn {
        width: 35px;
        height: 35px;
        padding: 0;
        margin: 0;
        border-radius: 5px;
        background: linear-gradient(to bottom, #98ccff, #65aef6);
        border: 1px solid #65aef6;
        box-shadow: 0 3px 10px rgba(0,0,0,0.2);
        color: #fff;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            border: 1px solid #abd5ff;
            border-radius: 5px;
        }
        &:hover {
            background: linear-gradient(to bottom, #65aef6, #98ccff);
        }
    }
}

.md-actions .md-button:last-child {
    @extend .raised-btn;
    width: auto;
}

.input-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    top: auto;
    left: auto;
    margin: 0;
    color: #8e8e8e !important;
}

.spinner {
    display: inline-block;
    text-align: center;
    a {
        display: block;
    }
    input {
        width: 50px;
        float: none;
        border-radius: 4px;
    }
    &.spinner-h {
        a {
            display: inline-block;
            padding: 10px;
            font-size: 16px;
            &:first-child {
                float: right;
            }
            &:last-child {
                float: left;
            }
        }
        input {
            display: inline-block;
            
        }
    }
}

.spinner-plusminus-h {
    & > * {
        display: inline-block;
        vertical-align: middle;
    }
    h4 {
        margin: 0 -4px;
        padding: 0 20px;
        border-top: 1px solid #65aef6;
        border-bottom: 1px solid #65aef6;
        height: 38px;
        line-height: 38px;
    }
    .md-button {
        width: auto;
        &:first-child:before,
        &:first-child {
            border-radius: 25px 0 0 25px;
        }
        &:last-child:before,
        &:last-child {
            border-radius: 0 25px 25px 0;
        }
    }
}

.actions {
    .md-button {
        margin: 5px;
    }
    margin: 10px 0;
}

.block-field {
    padding: 20px 0;
    color: #666;
    border-bottom: 1px solid #e6e6e6;
    & > h4 {
        font-weight: bold;
        margin: 0 0 15px 0;
    }
    md-input-container + md-input-container {
        padding-left: 20px;
    }
    &:last-child {
        border: none;
    }
}

.section-title {
    background-color: #e6e6e6;
    color: #666;
    padding: 15px;
    & > h3 {
        margin: 0;
    }
    min-height: 55px;
    border-radius: 3px;
}

.billet {
    border-radius: 5px;
    border: 1px solid #ccc;
    h4 {
        font-weight: bold;
        background-color: #f0f6fb;
        margin: 0;
        padding: 12px;
    }
    md-content {
        padding: 15px;
        font-size: 18px;
        color: #8e8e8e;
        & > a {
            margin: 5px 0 5px 40px;
            display: inline-block;
        }
        ul {
            font-size: 16px;
            padding-left: 15px;
            list-style: none;
            li {
                padding: 3px 0;
                position: relative;
                &:before {
                    content: '';
                    width: 4px;
                    height: 4px;
                    display: block;
                    background: #8e8e8e;
                    border-radius: 50%;
                    position: absolute;
                    top: 8px;
                    left: -10px;
                }
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                a {
                    color: #5082b8;
                }
            }
        }
    }
}
div[layout="column"] > .billet + .billet {
    margin-top: 15px;
}
div[layout="row"] > div + .billet {
    margin-left: 15px;
}

input.form-control {
    height: auto;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.btn-link {
    padding: 0;
}

.date {
    .datetimepicker-wrapper+.datetimepicker-wrapper .btn {
        line-height: 40px;
        padding-top: 0;
        padding-bottom: 0;
    }
    h4 {
        font-weight: bold;
        margin: 0;
    }
}

.datetimepicker-wrapper:first-child {
    position: relative;
    &:before {
        content: '';
        background: url(/assets/images/icons/calendar.png) no-repeat 0 0;
        width: 18px;
        height: 21px;
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

md-input-container {
    padding: 0;
    label {
        padding-left: 20px !important; 
        top: 9px;
    }
    &.md-input-focused label:not(.md-no-float),
    &.md-input-has-value label:not(.md-no-float) {
        transform: translate3d(0, -5px, 0) scale(0.75);
        color: #99ccff;
    }
    &:not(.md-input-invalid).md-input-focused .md-input {
        border-color: #99ccff;
    }
    .md-input {
        background-color: #fff;
        padding: 0 0 0 15px;
        font-size: 16px !important;
        margin: 0;
        line-height: 40px !important;
        &.rounded-lr {
            border-radius: 25px !important;
            border-left: 1px solid #99ccff;
            border-right: 1px solid #99ccff;
        }
        &.rounded-l {
            border-radius: 25px 0 0 25px !important;
            border-left: 1px solid #99ccff;
        }
        &.rounded-r {
            border-radius: 0 25px 25px 0 !important;
            border-right: 1px solid #99ccff;
        }
        &[disabled] {
            background: none;
            margin-bottom: 0;
            border-color: #aaa !important;
        }
    }
    md-select {
        height: 44px;
        padding: 0;
        margin: 0;
        .md-select-label {
            width: 100%;
            padding: 0;
            & > span:first-child {
                padding-left: 15px;
                font-size: 16px;
                font-weight: normal;
            }
            .md-select-icon {
                right: 10px;
                top: 0;
                position: absolute;
                height: 100%;
                width: 30px;
                &:after {
                    top: 10px;
                    width: 100%;
                }
            }
        }
    }
    .ui-select-container {
        &.open {
            .btn {
                border-radius: 4px 4px 0 0;
            }
            .ui-select-choices {
                border-radius: 0 0 4px 4px;
            }
        }
        .ui-select-match {
            &.ng-hide {
                display: block !important;
            }
            &.btn-default-focus {
                border-color: #99ccff;
                background-color: #fff;
                box-shadow: none;
                outline: 0;
            }
            .btn {
                height: 44px;
                padding: 12px;
                background-color: #fff;
                border-color: #ccc;
                &:hover {
                    background-color: #fff;
                    border-color: #ccc;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 43px;
                    top: 0;
                    bottom: 0;
                    border-left: 1px solid #ccc;
                }
                &.form-control:focus {
                    box-shadow: none;
                }
                .caret {
                    right: 17px;
                }
            }
        }
        .ui-select-choices {
            max-height: inherit;
            .active a {
                background-color: #99ccff;
            }
            a {
                color: #717171;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    &[md-no-float] {
        md-select,
        .md-input {
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        &.md-input-focused .md-input {
            border-color: #99ccff;
            border-width: 1px;
        }
        &.md-input-invalid .md-input {
            border-color: #f00;   
            border-width: 1px;
        }
        md-select:not([disabled]):focus .md-select-label  {
            border: 1px solid #99ccff;
        }
        md-select span:last-child {
            border-left: 1px solid #ccc;
        }
        md-select-label {
            border: none;
        }
        & > h4 {
            font-weight: bold;
            margin: 15px 0;
        }
    }
}

md-list {
    padding: 0;
    font-size: 16px;
    &.zebra md-list-item {
        &:nth-child(even) {
            background: #f0f6fb;
        }
        &:nth-child(odd) {
            background: #fff;
        }
    }
    md-list-item {
        .center {
            text-align: center;
            & > * {
                display: inline-block;
            }
        }
    }
}

md-radio-button {
    overflow-x: hidden;
    margin: 0;
    color: #8e8e8e;
    .md-container {
        top: 0;
        vertical-align: middle;
    }
    .md-ripple-container,
    .md-container,
    .md-container:before,
    .md-off,
    .md-on {
        width: 30px !important;
        height: 30px !important;
        left: 0 !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
    }
    .md-off {
        border-color: #aaa;
    }
    .md-on {
        background-color: #99ccff;
    }
    &.md-checked {
        .md-off {
            border-color: #99ccff;
        }        
        .md-on {
            transform: scale(0.4);
        }
    }
    &.radio-icon {
        img {
            position: absolute;
        }
        span {
            margin-left: 25px;
        }
        .md-label {
            margin-left: 15px;
        }
    }
}

.waiting {
    position: absolute; 
    top: 50%;
    left: 50%;
}
        
.guest-list-instance-viewer {
    md-list {
        border-radius: 5px;
        border: 1px solid #ccc;
        md-list-item {
            min-height: 40px;
            .md-list-item-inner {
                min-height: 40px;
            }
            &:first-child {
                font-weight: bold;
                color: #666;
                background-color: #e6e6e6;
                & > div {
                    padding: 10px;
                }
            }
            p {
                margin: 0;
                padding: 10px;
            }
            .actions {
                margin: 0;
            }
            md-input-container {
                width: 90px;
            }
        }
    }
    h4 + h4 {
        margin-left: 50px;
    }
    .single-icon {
        margin: 9px;
        path {
            fill: #99ccff;
        }
    }
}

.guest-list-viewer {
    md-list {
        md-list-item {
            font-size: 16px;
            color: #666;
            border: none;
            &:first-child h4 {
                font-weight: bold;
                margin: 20px 0;
            }
            md-checkbox {
                margin: 0;
                .md-icon {
                    border-color: #aaa;
                }
            }
        }
    }
}

.guest-checkin {
    .content {
        text-align: center;
        & > div {
            margin-top: 25px;
        }
        h3 {
            margin: 0;
        }
        .notes {
            textarea {
                border-radius: 5px;
                max-width: 340px;
                height: 70px;
                padding: 10px;
            }
            & > *:first-child {
                width: 90px;
                text-align: right;
            }
            .md-button {
                width: 90px;
            }
            & > * + * {
                margin-left: 20px;
            }
        }
    }
}

md-dialog {
    overflow-x: hidden;
    color: #666;
    .actions,
    md-content {
        padding: 10px 20px;
    }
    .md-actions button {
        width: auto;
        &:first-child {
            background: none !important;
            color: #aaa !important;
            box-shadow: none !important;
            
        }
    }
    .guest-list-viewer {
        md-list {
            &.zebra md-list-item {
                &:nth-child(even) {
                    background: #fff;
                }
            }
            md-list-item {
                border-bottom: 1px solid #e6e6e6;
                p {
                    margin: 0;
                    padding: 12px 0;
                }
                h4 {
                    margin: 12px 0 !important;
                }
            }
        }
    }
}

.landing {
    padding: 0 !important;
    background-color: #99ccff;
    background-image: linear-gradient(#99ccff 405px, #ffffff 405px, #ffffff 100%);
    .header {
        height: 170px;
        background: #000;
    }
    .content {
        text-align: center;
        margin-bottom: 90px;
        h4 {
            margin: 35px 0;
            color: #fff;
            padding: 0 20px;
        }
        .event-image {
            margin: 0 20px;
            img {
                border: 9px solid #aaa;
                max-width: 100%;
                height: auto;   
                max-height: 292px;
            }
        }
        .title {
            margin: 20px 0 0 0; 
            h3 {
                font-weight: bold;
                margin: 0;
                line-height: 2;
                padding: 0 20px;
            }
            h4 {
                font-size: 16px;
                color: #99ccff;
                font-weight: bold;
                margin: 0;
            }
        }
        .item {
            text-align: left;
            margin-bottom: 9px;
            .item-text {
                font-size: 14px;
            }
        }
        .item-label {
            color: #99ccff;
            font: {
                weight: bold;
                size: 16px;
            }
            text-align: left;
        }
        .blocks {
            & > * {
                width: 280px;
                padding: 0 20px 0 0;
                &:nth-child(even) {
                    border-left: 2px solid #ececec;
                    padding: 0 0 0 20px;
                    text-align: right;
                }
            }
        }
        .event-details {
            margin-top: 30px;
            font-size: 12px;
        }
        h4.success {
            color: #666;
            background-color: #d4e5f9;
            padding: 15px 10px;
            margin: 10px 0;
            text-align: center;
            font-size: 14px;
        }
        form {
            .form-item {
                margin-bottom: 5px;
                input {
                    width: 175px;
                    height: 25px;
                    background-color: #ececec;
                    border: none;
                    padding: 5px;
                    line-height: 1;
                    font-size: 14px;
                }
                label {
                    text-align: left;
                    font: {
                        weight: normal;
                        size: 14px;
                    }
                    width: 40px;
                }
            }
            .actions {
                margin: 0;
                a {
                    margin: 12px 12px 0 0;
                }
            }
        }
    }
    .socials > * {
        text-align: left !important;
    }
    ul.social {
        display: inline-block;
        list-style: none;
        margin: 10px 0 0 0;
        padding-left: 20px;
        li {
            float: left;
            + li {
                margin-left: 5px;
            }
            a {
                width: auto;
                height: 30px;
                margin: 0;
            }
        }
    }
    ul.share {
        padding-left: 0;
        li + li {
            margin-left: 20px;
        }
    }
    .footer {
        height: 55px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #99ccff;
        text-align: center;
        p {
            padding: 6px 0 0 0;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    &.ticketing {
        background-color: #fff;
        background-image: none;
        .header {
            padding: 0 20px 20px 30px;
        }
        .content {
            text-align: left;
            margin-bottom: 120px;
            .event-preview {
                margin: 0;
                background-color: #ececec;
                .event-image {
                    margin-left: 0;
                }
                .event-descr {
                    color: #000;
                }
            }
            md-list {
                color: #8a8a8a;
                md-list-item {
                    background-color: #e6e6e6;
                    &:first-child {
                        background-color: #fff;
                        & > div {
                            padding: 20px;
                            font-weight: bold;
                            &:last-child {
                                padding-left: 50px;
                            }
                        }
                    }
                    & > div {
                        padding: 0 20px;
                    }
                    & + md-list-item {
                        border-top: 1px solid #fafafa;
                    }
                }
            }
            .promo {
                margin-top: 30px;
                padding-left: 20px;
                md-input-container {
                    margin: 0 40px;
                    min-width: 300px;
                }

            }
        }
        .footer {
            height: 120px;
            background-color: #000;
            padding: 0 75px 0 20px;
            .md-button {
                min-width: 275px;
            }
            p {
                text-align: left;
                color: #fff;
                font-size: 12px;
                line-height: 1;
                span {
                   font-size: 10px; 
                }
            }
        }
    }
}

.profile {
    color: #8e8e8e;
    .tabs {
        & > * {
            text-align: center;
            text-transform: none;
            font-size: 16px;
            color: #8e8e8e;
            border-radius: 3px 3px 0 0;
            border: 1px solid #b3b3b3;
            margin: 0;
            background-color: #e6e6e6;
            text-shadow: -1px 0 0 #cbcbcb;
            height: 50px;
            &.active {
                color: #7ab9f8;
                text-shadow: -1px 0 0 #d0e5fc;
                background: none;
                border-bottom-color: transparent;
            }
            + * {
                margin-left: -1px;
            }
        }
    }
    .tab-content {
        border-left: 1px solid #b3b3b3;
        border-right: 1px solid #b3b3b3;
        border-bottom: 1px solid #b3b3b3;
        padding: 20px;
    }
    .social-links-edit {
        border-top: 1px solid #b3b3b3;
        h4 {
            font-weight: bold;
            font-size: 16px;
            margin: 30px 0 0 0;
        }
        & > div {
            margin-top: 20px;
            img {
                margin-right: 35px;
            }
        }
        .actions {
            margin-bottom: 0;
            margin-right: 15px;
        }
    }
    .user-details {
        .user-details-teaser {
            background-color: #f5f9fc;
            margin-bottom: 20px;
            padding: 20px;
            .description {
                padding-left: 20px;
                h3 {
                    margin: 0;
                    font-weight: bold;
                }
            }
        }
        form {
            .bio {
                padding-left: 20px;
            }
            .margin-top {
                margin-top: 10px;
            }
        }
        md-input-container,
        md-input-container h4 {
            color: #8e8e8e;
        }
    }
}

.home {
    padding: 0 !important;
    .content {
        margin: 15px 0 215px 0;
    }    
    .footer {
        color: #fff;
        width: 100%;
        height: 200px;
        position: absolute;
        bottom: 0;
        & > div {
            height: 100%;
        }
        h3 {
            margin-bottom: 0;
            font-weight: bold;
            color: #fff;
        }
        p {
            margin-top: 0;
            color: #fff;
        }        
    }
}

.signup_invite,
.signup {
    @extend .home;
    background-color: #fff !important;
    .footer {
        margin: 0;
        background-color: #7ab9f8;
        a.md-button.md-primary.md-raised {
            background-color: #aaa !important;
        }
    }
    .signup-form {
        md-input-container {
            width: 250px;
            padding: 0;
            input {
                height: 45px;
                padding: 0 20px;
                color: #666;
                border-top: 1px solid #99ccff;
                border-bottom: 1px solid #99ccff;
            }
            label {
                top: 8px;
                padding: 0;
            }
            &.checked {
                input {
                    padding-right: 40px;
                }
                &:after {
                    content: "";
                    width: 17px;
                    height: 15px;
                    background: url(/assets/images/check.png) no-repeat 0 0;
                    position: absolute;
                    right: 20px;
                    top: 38px;
                }
            }
            &.md-input-focused label:not(.md-no-float),
                &.md-input-has-value label:not(.md-no-float) {
                transform: translate3d(0, -12px, 0) scale(1) !important;
            }
            &:not(.md-input-invalid).md-input-focused label,
                &:not(.md-input-invalid).md-input-has-value label {
                color: #aaa;
            }
            & > div {
                margin-left: 20px;
            }
            &.md-input-focused .md-input, 
            & .md-input.ng-invalid.ng-dirty {
                border-top: 1px solid #99ccff;
                border-bottom: 1px solid #99ccff;
            }
        }
        form {
            margin-top: 50px;
            & > div {
                margin-bottom: 25px;
                md-input-container:first-child {
                    margin-right: -2px;
                }
                md-input-container:last-child {
                    margin-left: -2px;
                }
            }
            & > div.passwords > md-input-container:first-child {
                margin-right: 10px;
            }
        }
        p {
            color: #aaa;
        }
        .md-button {
            background-color: #7ab9f8 !important;
        }
    }    
}

.signin {
    background-color: #99ccff;
    display: block;
    .action {
        margin-top: 25px;
        & > * {
            float: left;
        }
    }
    md-input-container {
        width: 300px;
        label {
            text-align: center;
            padding: 0 !important;
        }
        &.md-input-focused label:not(.md-no-float),
        &.md-input-has-value label:not(.md-no-float) {
            transform: translate3d(30px, -5px, 0) scale(0.75);
        }
    }
    .footer {
        background-color: #aaa;
        h3,
        p {
            color: #fff;
        }
    }
}

.event-details-page {
    .tabs {
        .line {
            background-color: #e6e6e6;
            height: 10px;
            margin-top: 18px;
        }
        .tab {
            position: relative;
            text-align: center;
            &:first-child .line {
                width: 50%;
                right: 0;
            }
            &:last-child .line {
                width: 50%;
            }
            h4 {
                margin: 0;
                font-weight: bold;
                color: #666;
            }
            .line {
                margin: 0;
                position: absolute;
                top: 35px;
                width: 100%;
            }
        }
        .md-button {
            height: 30px;
            width: 30px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
        }
        .md-button.md-fab {
            background-color: #d0d0d0;
        }
    }
}

.event-tab {
    .ticket-blocks {
        display: inline-block;
        .ticket-block {
            min-width: 316px;
            background-color: #ececec;
            color: #8e8e8e;
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            .block-field {
                &.radio-height {
                    min-height: 210px;
                }
                border-color: #ccc;
                padding-bottom: 10px;
                h4 {
                    font-weight: normal;
                    color: #8e8e8e;
                }
                p {
                    margin-bottom: 5px;
                    color: #7ab9f8;
                    font-size: 18px;
                }
            }
            .top {
                background-color: #f0f6fb;
                padding: 7px 13px;
                border-bottom: 2px dashed #8e8e8e;
                h3, h4 {
                    font-weight: bold;
                    color: #8e8e8e;
                    position: relative;
                    margin: 0;
                }
                .currency:before {
                    content: '$';
                    font-weight: bold;
                    font-size: 24px;
                    position: absolute;
                    left: -20px;
                    bottom: 0;
                    color: #99ccff;
                    line-height: 1.1;
                }
                md-input-container {
                    &:first-child input {
                        width: 180px;
                    }
                    &:last-child {
                        padding: 0;
                        position: relative;
                        input {
                            width: 65px;
                            text-align: center;
                            padding-left: 10px;
                        }
                    }
                    input {
                        height: 30px;
                        line-height: 30px !important;
                    }
                }
            }
            .bottom {
                padding: 0 15px 15px 15px;
                md-content {
                    background-color: #ececec;
                    overflow: visible;
                }
                md-radio-button {
                    &.md-checked .md-label h4 {
                        font-weight: bold;
                    }
                    & + md-radio-button {
                        margin-top: 10px;
                    }
                }
                .spinner {
                    margin-left: 40px;
                }
                .actions {
                    margin: 0;
                    padding: 15px 0 0 0;
                }
            }
        }
    }
}

.event-preview {
    background-color: #f5f9fc;
    color: #666;
    margin-bottom: 50px;
    div[flex] {
        overflow: hidden;
    }
    .event-image {
        width:220px;
        background-position-x: 0 !important;
    }
    .event-descr {
        padding: 0 20px;
        h2 {
            font-weight: bold;
            margin: 0 0 50px 0;
        }
        .links {
            padding-top: 10px;
        }
    }
    .date {
        width: 80px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        .dayOfWeek {
            width: 100%;
            padding: 25px 0;
            border-bottom: 2px solid #fff;
            text-align: center;
        }
        .month {
            padding-top: 45px;
        }
        .day {
            font-size: 32px;
            line-height: 1;
        }
    }
    .time {
        font-size: 18px;
        font-weight: bold;
        padding: 25px 0;
        border-bottom: 2px solid #fff;
        width: 100%;
    }
    .event-prop {
        padding-right: 25px;
        & > div:first-child {
            margin-bottom: 10px;
        }
        md-icon,
        img {
            margin-right: 10px;
        }
    }
}

.event-list {
    color: #666;
    md-list-item {
        border: 1px solid #ebebeb;
        h3 {
            font-weight: bold;
            border-bottom: 1px solid #8f8f8f;
            margin: 0;
            padding-bottom: 10px;
        }
        .event-details {
            padding: 0 20px 0 65px;
            p {
                margin: 8px 0;
            }
            md-icon {
                margin: 0 10px 0 0;
                & + p {
                    margin: 0;
                }
            }
        }
        .actions {
            .md-button {
                margin: 5px 0;
                & + .md-button {
                    margin-left: 15px;
                }
            }
        }
        & + md-list-item {
            margin-top: 15px;
        }
    }
}

.event-stats {
    .event-preview {
        margin: 0;
    }
    div[google-chart] {
        height: 535px;
    }
    h4.chart-title {
        font-weight: bold;
        text-align: center;
        font-size: 16px;
        margin: 16px 0 0 0;
    }
    .chart {
        & > div:first-child {
            margin-right: 20px;
        }
        md-list {
            md-list-item {
                &:first-child {
                    font-weight: bold;
                }
                margin-bottom: 4px;
            }
        }
    }
    &.event-type-2 {
        h4.chart-title {
            text-align: left;
        }
        .chart {
            md-list {
                md-list-item {
                    &:first-child {
                        background-color: #ececec;
                    }
                }
            }
        }
        .md-button {
            width: auto;
        }
    }
}

.event-checkin {
    md-radio-button + md-radio-button {
        margin-top: 15px;
    }
}

@media screen and (max-width: 600px) {
    md-toolbar {
        & > div {
            padding: 0 10px;
        }
    }
    .signup_invite,
    .signup {
        .signup-form {
            md-input-container {
                input, input.rounded-l, input.rounded-r, input.rounded-lr {
                    border-radius: 25px !important;
                    border: 1px solid #99ccff;
                }
            }
        }
    }
    .block-field {
        md-input-container + md-input-container {
            padding-left: 0;
            padding-top: 20px;
        }
        md-radio-group {
            md-content + md-content {
                padding-top: 5px;
            }
        }
    }
    div[layout="row"] > div + .billet {
        margin-left: 0;
        margin-top: 15px;
    }
    .profile {
        .social-links-edit {
            & > div {
                img {
                    margin-bottom: 5px;
                    margin-right: 0;
                }
            }
        }
        .user-details {
            .user-details-teaser {
                .description {
                    padding-left: 0;
                    margin-bottom: 20px;
                }
            }
            form {
                .bio {
                    padding-left: 0;
                }
            }
        }
    }
    .landing {
        .content {
            .item-label,
            .item {
                text-align: center;
            }
            .item {
                margin-bottom: 20px;
            }
            
            .blocks {
                & > * {
                    padding: 0 20px !important;
                    &:nth-child(even) {
                        border: none;
                    }
                }
            }
            form {
                margin-top: 5px;
                .actions {
                    text-align: center;
                }
            }
            ul.social {
                padding: 0;
            }
            .socials {
                & > * {
                    text-align: center !important;
                    margin-top: 15px;
                }
            }
            h4.success {
                margin: 10px -25px;
            }
        }
        &.ticketing {
            .content {
                md-list {
                    md-list-item {
                        & > div {
                            padding: 0 !important;
                        }
                    }
                }
                .promo {
                    padding: 0;
                    & > * {
                        margin: 0 0 10px 0 !important;
                    }
                }
            }
            .footer {
                padding: 10px;
            }
        }
    }
    .guest-checkin {
        .content {
            .notes {
                & > *:first-child {
                    text-align: center;
                }
                & > * + * {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
    }
    .event-preview {
        .event-descr {
            padding: 0 20px;
            margin-bottom: 20px;
        }
    }
    .event-list {
        md-list-item {
            & > * {
                width: 100%;
            }
            .event-image {
                height: 215px !important;
            }
            .event-details {
                padding: 20px 20px 5px 20px;
                .actions {
                    width: 100%;
                }
            }
        }
    }
    .event-tab {
        .ticket-blocks {
            .ticket-block {
                min-width: 260px;
            }
        }
    }
    .spinner {
        &.spinner-h {
            a {
                float: none !important;
            }
        }
        &.ticketing {
            .content {
                md-list {
                    md-list-item {
                        & > div {
                            padding: 0 !important;
                        }
                    }
                }
                .promo {
                    padding: 0;
                    & > * {
                        margin: 0 0 10px 0 !important;
                    }
                }
            }
            .footer {
                padding: 10px;
            }
        }
    }
    .event-preview {
        .event-descr {
            padding: 0 20px;
            margin-bottom: 20px;
        }
    }
    .event-tab {
        .ticket-blocks {
            .ticket-block {
                min-width: 260px;
            }
        }
    }
    .spinner {
        &.spinner-h {
            a {
                float: none !important;
            }
        }
    }
    md-dialog {
        &.landing-ticketing-purchase {
            & > div {
                &:last-child {
                    .md-button {
                        min-width: 150px;
                    }
                }
            }
            .credit-card {
                & > div {
                    & > div + div {
                        margin-top: 5px;
                        margin-left: 0;
                    }
                }
            }
            .ticket {
                .ticket-info {
                    .ticket-form {
                        width: 100%;
                        .form-item {
                            & + .form-item {
                                margin-left: 0;
                                margin-top: 5px
                            }
                        }
                    }
                }
                
            }
        }
    }
}