@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
    font-family: 'Arial', serif;
}

[layout=row] {
    flex-direction: row;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;

    img.pull-right {
        width: 50px;
    }
}

md-toolbar.md-default-theme {
    background-color: #99ccff;
}

.logo-fill {
    background-color: #99ccff !important;
}

section.jumbotron {
    margin-bottom: 30px;
    padding: 1px 30px;
    background-color: #99ccff;
    text-align: center;

    color: white;

    h1 {
        font-size: 3em;
    }
}

.techs {
    display: flex;
    flex-flow: row wrap;

    md-card {
        width: 30%;

        img.pull-right {
            float: right;
            width: 50px;
        }
    }
}

.myGrid {
    width: 500px;
    height: 250px;
}

.white-bg {
    background-color: white !important;
}

.input-icon {
    position: absolute;
    right: 15px;

    top: 34px !important;
    left: auto !important;
}

md-input-container.md-default-theme .md-input,
md-select.md-default-theme .md-select-label {
    background-color: white !important;
}

span.error {
    color: rgb(244,67,54);
    font-size: 12px;
}

md-select:not([disabled]):focus .md-select-label {
    border-bottom-color: #00ddff;
}

md-content {
    background-color: #ececec !important;
}

md-dialog {
    background-color: #ececec !important;
}

.md-primary.md-raised {
    border-radius: 25px !important;
    /* mozilla */
    -moz-border-radius: 25px !important;
    /* webkit */
    -webkit-border-radius: 25px !important;

    background-color: #99ccff !important;
    color: white !important;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    width: 150px;
}

.wht-button {
    border-radius: 25px !important;
    background-color: white !important;
    color: #99ccff !important;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
}

.wht-event-list-btn {
    background-color: white !important;
    color: #99ccff !important;
    margin: 0 !important;
    border-radius: 0 !important;
    padding-top: 12px;
    padding-bottom: 6px;
}

.logo-bg {
    background-color: #99ccff !important;
}

.logo-event-list-btn {
    background-color: #99ccff !important;
    color: white !important;
    margin: 0 !important;
    width: 50px;
    border-radius: 0 !important;
    padding-top: 12px;
}

.left-align {
    position: absolute;
    left: 15px;
}

.item-selected {
    background-color: #aaaaaa !important;
}

.centered {
    margin: 0 auto
}

.rounded {
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 25px !important;
    /* mozilla */
    -moz-border-radius: 25px !important;
    /* webkit */
    -webkit-border-radius: 25px !important;
}

.top-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #aaaaaa;

}

.text-bg {
    color: #99ccff !important;
}

.no-selection {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.ui-grid-cell {
    //background-color: white !important;
    border: none;
    border-bottom: #000000;
}

.ui-grid-header-cell {
    background-color: #ECECEC !important;
    border: none !important;
}

.ui-grid-row.ui-grid-cell.ui-grid-cell-contents {
    background-color: white !important;
}

.md-select-label > *:first-child {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 2*8px);
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0); 
}

.ui-grid-viewport {
    //overflow-y: auto !important;
    overflow-x: hidden !important;
}

// injector
// endinjector
.capitalize {
    text-transform: capitalize;
}

:focus {
    outline: 0;
    /* or */
    outline: none;
}

.md-button {
    min-width: 30px;
    min-height: 30px;
}

.item-border-white {
    border-bottom: white;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-style: solid;
}

.ui-grid-header-cell {
    color: #A9A9A9 !important;
    background-color: #E0E0E0 !important;
    border: none !important;
}

.btn-info.active {
    background-color: #99ccff;
}

.btn-success {
    background-color: #99ccff;
}

.btn-info {
    background-color: #99ccff;
}

.btn-link {
    color: #99ccff;
}

.md-input {
    line-height: 40px !important;
    font-size: 18px !important;

}

div[g-places-autocomplete-drawer] {
    //position: absolute;
    //top: -100px;
    //width: 100%;
}

.md-input-has-value, .md-input-focused {
    // font-size: 16px;
}

.padding-top-45 {
    padding-top: 45px;
}

input[ui-grid-editor] {
    border: none !important;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

md-checkbox.md-default-theme.md-checked .md-icon {
    background-color: #99ccff;
}

/* Main styles */

.section-title {
    background-color: #aaaaaa;
    color: white;
    & > h3 {
        padding: 15px 0 15px 20px;
        margin: 0;
    }
}

.section-subtitle {
    background-color: #CCCCCC;
    color: white;
    margin: 0;
    & > h4 {
        margin: 0;
        padding: 5px 0 5px 20px;
    }
}

.section-content {
    padding: 5px 20px 10px 20px;
    & > span {
        font-size: 11px;
        color: #777;
        font-weight: bold;
        padding-left: 15px;
    }
}

md-input-container {
    padding-bottom: 0;
    label {
        padding-left: 20px !important; 
        top: 9px;
    }
    &.md-input-focused label:not(.md-no-float),
        &.md-input-has-value label:not(.md-no-float) {
        transform: translate3d(0, -5px, 0) scale(0.75);
        -webkit-transform: translate3d(0, -5px, 0) scale(0.75);
    }
    .md-input {
        padding-left: 15px;
        font-size: 14px !important;
        margin: 0;
    }
    md-select {
        height: 44px;
        padding: 0;
        .md-select-label {
            width: 100%;
            padding: 0;
            & > span:first-child {
                padding-left: 15px;
                font-size: 14px;
                font-weight: normal;
            }
            .md-select-icon {
                right: 5px;
                top: 9px;
                position: absolute;
            }
        }
    }
}

md-list {
    md-list-item {
        &:not(:last-child) {
            border-bottom: #fff solid;
        }
    }
}

.section-label {
    font-weight: bold;
    padding-top: 20px;
    font-size: 14px;
}

.details,
.user-profile {
    .dates {
        label {
            padding: 15px 0 0 15px;
        }
    }
}
.guest-list {
    md-list {
        padding-bottom: 0;

        md-list-item {
            & > div > div > div {
                padding-right: 20px;
            }
            &:first-child > div {
                font-weight: bold;
            }
        }
    }
}
.rsvp {
    font-size: 14px;
    color: #aaaaaa;

    .section {
        margin-top: 10px;
    }
    .subsection {
        border-bottom: 2px solid #fff;
    }
    md-radio-button {
        .md-off {
            width: 30px;
            height: 30px;
            background-color: #fff;
            border: none;
            top: -7px;
            left: -7px;
        }
        .md-on {
            background-color: #00ddff;
        }
        &.md-checked .md-on {
            -webkit-transform: scale(0.7);
            transform: scale(0.7);
        }
    }
    a {
        color: #00ddff;
    }
    .price-block {
        width: 290px;
        float: left;
    }
    .price-block:nth-last-child(n+2) {
        margin: 0 15px 15px 0;
    }
    .title-price,
    .price-block {
        border-bottom: 2px dashed #8e8e8e;
    }
    .title-price md-input-container {
        padding: 0;

        &:first-child input {
            font-size: 14px !important;
            text-align: left;
            padding-left: 15px;
        }
        &:nth-child(2) {
            position: relative;
            font-size: 24px !important;

            input {
                text-align: right;
                padding-right: 5px;
                font-size: 24px !important;
            }
            &:before {
                content: '$ ';
                position: absolute;
                left: 0;
                top: 5px;
                color: #99ccff;
            }
        }
    }
    .price-blocks {
        margin-top: 15px;
        display: inline-block;
    }
    .price-options a {
        display: block;
        font-size: 11px;
        line-height: 25px;
        padding-left: 20px;
        text-decoration: none;
        cursor: pointer;

        &.active {
            background-color: #99ccff;
            color: #fff;
        }    
    }
}
#tab5-content a {
    color: #99ccff;
}
.landing {
    padding: 0 !important;
    background-color: #99ccff;
    background-image: linear-gradient(#99ccff 405px, #ffffff 405px, #ffffff 100%);
    .header {
        width: 100%;
        height: 170px;
        background: #000;
        img.header-image {
            display: block;
            margin: 20px auto;
        }
    }
    .content {
        text-align: center;
        h4 {
            margin: 35px 0;
            color: #fff;
        }
        .event-image {
            height: 292px;
            img {
                border: 9px solid #aaa;
            }
        }
        .title {
            margin: 20px 0 0 0; 
            h3 {
                font-weight: bold;
                margin: 0;
                line-height: 2;
            }
            h4 {
                font-size: 16px;
                color: #99ccff;
                font-weight: bold;
                margin: 0;
            }
            h4.success {
                color: #aaa;
                background-color: #99ccff;
                padding: 10px;
            }
        }
        .landing-form {
            margin: 40px 0 80px 0;
            padding: 10px;
            width: 500px;
            font-size: 12px;
            .item-label {
                color: #99ccff;
                padding: 0;
                font-weight: bold;
            }
            .left-column {
                text-align: left;
                color: #000;
                width: 100%;
                .item {
                    margin-bottom: 9px;
                    width: 190px;
                    &:first-child {
                        .item-text {
                            font-size: 12px;
                        }
                    }
                }
                ul.social {
                    padding-left: 0;
                    li {
                        margin-right: 20px;
                    }
                }
            }
            .right-column {
                border-left: 2px solid #ececec;
                text-align: right;
                width: 100%;
                .form-item {
                    margin-bottom: 5px;
                    input {
                        width: 175px;
                        height: 25px;
                        background-color: #ececec;
                        border: none;
                        padding: 5px;
                    }
                    label {
                        text-align: left;
                        font-weight: normal;
                        width: 40px;
                    }
                }
                .item-label {
                    padding-left: 12px;
                    text-align: left;
                }
                a {
                    font-size: 12px;
                    width: 175px;
                    height: 25px;
                    display: block;
                    padding: 0;
                    float: right;
                    margin: 12px 0 0 0;
                    text-align: center;
                    line-height: 25px;
                    text-decoration: none;
                    cursor: pointer;
                }
                form {
                    margin-bottom: 20px;
                }
            }
            ul.social {
                list-style: none;
                margin: 10px 0 0 0;
                padding-left: 20px;
                li {
                    float: left;
                    margin-right: 5px;
                    a {
                        width: auto;
                        height: 30px;
                        margin: 0;
                    }
                }
            }
        }
    }
    .footer {
        width: 100%;
        height: 55px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #99ccff;
        text-align: center;
        p {
            padding: 6px 0 0 0;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    &.ticketing {
        background-color: #323232;
        background-image: linear-gradient(#323232 380px, #ffffff 380px, #ffffff 100%);
        .header {
            width: 100%;
            height: 164px;
            background-color: #000;
            position: relative;
            img {
                position: absolute;
                top: 51px;
            }
            .header-image {
                left: 36px;
            }
            .header-logo {
                right: 20px;
            }
        }
        .content {
            width: 100%;
            margin-bottom: 125px;
            .event-details {
                width: 100%;
                color: #fff;
                text-align: left;
                .image-info {
                    .info {
                        float: right;
                        padding: 0 30px;
                        h2 {
                            font-weight: bold;
                        }
                        p {
                            font-size: 12px;
                            padding: 35px 155px 0 0;
                        }
                    }
                }
                .date-location {
                    width: 200px;
                }
                .location {
                    font-size: 12px;
                    margin-right: 65px;
                    .time {
                        padding: 27px 10px 27px 0;
                        font-size: 18px;
                        font-weight: bold;
                        border-bottom: 2px solid #fff;
                        height: 75px;
                    }
                    .category {
                        margin-top: 15px;
                        padding: 10px 30px 10px 0;
                    }
                    .address {
                        padding: 0 30px 0 0;
                    }
                }
                .date {
                    background-color: #99ccff;
                    text-align: center;
                    width: 65px;
                    height: 212px;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1;
                    float: right;
                    .day-week {
                        padding: 30px 0;
                        border-bottom: 2px solid #fff;
                        height: 75px;
                    }
                    .month {
                        padding: 40px 0 0 0;
                    }
                    .day {
                        font-size: 36px;
                    }
                }
            }
            .tickets {
                width: 100%;
                font-weight: bold;
                text-align: left;
                .row-header {
                    padding: 35px 0;
                    color: #8a8a8a;
                    font-size: 12px;
                    >div:first-child {
                        padding-left: 35px;
                    }
                }
                .row-ticket {
                    background-color: #bebebe;
                    padding: 6px 0;
                    font-size: 18px;
                    border-bottom: 2px solid #fff;
                    >div:first-child {
                        padding-left: 35px;
                    }
                    .spinner-plusminus {
                        display: inline-block;
                        margin-left: -34px;
                        .minus, .plus {
                            color: #99ccff;
                            font-size: 24px;
                            font-weight: bold;
                            cursor: pointer;
                            padding: 0 13px;
                            text-decoration: none;
                            display: inline-block;
                            user-select: none;
                            position: relative;
                            top: 4px;
                        }
                        input {
                            width: 45px;
                            display: inline-block;
                            padding: 5px;
                        }
                    }
                }
                .promo {
                    padding: 45px 35px;
                    font-size: 14px;
                    color: #8a8a8a;
                    text-align: left;
                    input {
                        font-size: 11px;
                        color: #555;
                        text-align: left;
                        width: 280px;
                    }
                }
            }
        }
        .footer {
            height: 125px;
            background-color: #323232;
            padding: 0 75px 0 35px;
            p {
                color:#939393;
                font-size: 12px;
                line-height: 1;
                text-align: left;
                span {
                    color:#939393;
                    font-size: 10px;
                }
            }
            button {
                width: 280px;
            }
        }
    }
}
.social-links-edit {
    color: #8e8e8e;
    border-top: 2px solid #fff;
    h5 {
        font-weight: bold;
        margin: 20px 0;
    }
    .social-link-edit {
        position: relative;
        img {
            position: absolute;
            margin-top: 35px;
        }
        md-input-container {
            padding: 0;
            margin-left: 130px;
            width: 500px;
        }
    }
}
.user-profile {
    color: #8e8e8e;
    padding-bottom: 20px;
    md-divider {
        border-top: 2px solid #fff;
        margin-top: 20px;
    }
    md-input-container {
        padding: 0;
        margin-right: 12px;
        input {
            padding-left: 12px;
        }
        .errors {
            text-align: right;
            div {
                width: 100%;
                padding: 0;
            }
        }
    }
    .upload-picture {
        padding: 5px 0 0 0;
    }
    form md-input-container {
        width: 300px;
    }
}

.signup,
.home {
    padding: 0 !important;
    .content {
        margin: 15px 0 215px 0;
    }    
    .footer {
        width: 100%;
        height: 200px;
        position: absolute;
        bottom: 0;
        & > div {
            height: 100%;
        }
        h3 {
            margin-bottom: 0;
            font-weight: bold;
        }
        p {
            margin-top: 0;
        }        
    }
}

.signup {
    background-color: #ececec !important;
    .footer {
        margin: 0;
        background-color: #7ab9f8;
        a.md-button.md-primary.md-raised {
            background-color: #aaa !important;
        }
    }
    .signup-form {
        md-input-container {
            width: 250px;
            padding: 0;
            input {
                height: 45px;
                padding: 0 20px;
                color: #666;
                &.rounded-lr {
                    border-radius: 25px !important;
                    /* mozilla */
                    -moz-border-radius: 25px !important;
                    /* webkit */
                    -webkit-border-radius: 25px !important;
                }
                &.rounded-l {
                    border-radius: 25px 0 0 25px !important;
                    /* mozilla */
                    -moz-border-radius: 25px 0 0 25px !important;
                    /* webkit */
                    -webkit-border-radius: 25px 0 0 25px !important;
                }
                &.rounded-r {
                    border-radius: 0 25px 25px 0 !important;
                    /* mozilla */
                    -moz-border-radius: 0 25px 25px 0 !important;
                    /* webkit */
                    -webkit-border-radius: 0 25px 25px 0 !important;
                }
            }
            label {
                top: 8px;
                padding: 0;
            }
            &.checked {
                input {
                    padding-right: 40px;
                }
                &:after {
                    content: "";
                    width: 17px;
                    height: 15px;
                    background: url(/assets/images/check.png) no-repeat 0 0;
                    position: absolute;
                    right: 20px;
                    top: 38px;
                }
            }
            &.md-input-focused label:not(.md-no-float),
                &.md-input-has-value label:not(.md-no-float) {
                -webkit-transform: translate3d(0, -12px, 0) scale(1) !important;
                transform: translate3d(0, -12px, 0) scale(1) !important;
            }
            &:not(.md-input-invalid).md-input-focused label,
                &:not(.md-input-invalid).md-input-has-value label {
                color: #aaa;
            }
            & > div {
                margin-left: 20px;
            }
        }
        form {
            margin-top: 50px;
            & > div {
                margin-bottom: 25px;
                md-input-container:first-child {
                    margin-right: -2px;
                }
                md-input-container:last-child {
                    margin-left: -2px;
                }
            }
            & > div.passwords > md-input-container:first-child {
                margin-right: 10px;
            }
        }
        p {
            color: #aaa;
        }
        .md-button {
            background-color: #7ab9f8 !important;
        }
    }    
}

.signin {
    background-color: #99ccff;
    display: block;
    .action {
        margin-top: 25px;
        & > * {
            float: left;
        }
    }
    md-input-container {
        width: 300px;
        label {
            text-align: center;
            padding: 0 !important;
        }
        &.md-input-focused label:not(.md-no-float),
        &.md-input-has-value label:not(.md-no-float) {
            transform: translate3d(30px, -5px, 0) scale(0.75);
            -webkit-transform: translate3d(30px, -5px, 0) scale(0.75);
        }
    }
}

@media screen and (max-width: 600px) {
    .signup {
        .signup-form {
            md-input-container {
                input {
                    &.rounded-lr {
                        border-radius: 0 !important;
                        /* mozilla */
                        -moz-border-radius: 0 !important;
                        /* webkit */
                        -webkit-border-radius: 0 !important;
                    }
                    &.rounded-l {
                        border-radius: 0 0 0 0 !important;
                        /* mozilla */
                        -moz-border-radius: 0 0 0 0 !important;
                        /* webkit */
                        -webkit-border-radius: 0 0 0 0 !important;
                    }
                    &.rounded-r {
                        border-radius: 0 0 0 0 !important;
                        /* mozilla */
                        -moz-border-radius: 0 0 0 0 !important;
                        /* webkit */
                        -webkit-border-radius: 0 0 0 0 !important;
                    }
                }
            }
        }
    }
}
