<h2>See all improtant information about {{profile.name}}</h2>
<small>Investigate --> get all public info about that person</small>

<div class="row">
    <div class="col-xs-6">
        <h3>About</h3>
        <ul>
            <li>Name: {{profile.firstName}} {{profile.lastName}} {{profile.Name}}</li>
            <li>Gender: {{profile.gender}}</li>
            <li>Email: {{profile.email}}</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h3>Popular Friends</h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h3>See pictures</h3>
        <small>ordered by likes</small>
    </div>
</div>
