

<h1>People - Track your favorites!</h1>
   
<div class="row">
    <div class="col-sm-8">
        <div people-grid title="Following" data="following"></div>
    </div>
</div>


<div class="row">
    <div class="col-sm-8">
        <div people-grid title="Most popular" data="mostPopular"></div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">You may want to follow thoose people:</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr ng-repeat="person in recommended">
                        <td>
                            <div class="row">
                                <div class="col-xs-12 col-md-12"><span class="badge pull-right">Follow</span><strong>Name: {{person.firstName}}</strong></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">All People</h3>
            </div>
            <div class="panel-body">
                <!--<div ng-grid="gridOptions" style="height: 400px"></div>-->
            </div>
        </div>
    </div>
</div>

