<div class="model-header">
    <a class="pull-right" ng-click="close()">
        <i class="fa fa-times fa-border"></i>
    </a>
    <a class="pull-right" ng-click="goToFullScreen()">
        <i class="fa fa-expand fa-border"></i>
    </a>
</div>

<div class="modal-body">
    <h2>{{profile.firstName}} {{profile.lastName}} {{profile.Name}}</h2>
    <div class="row bordered-bottom">
        <div class="col-xs-6">
            <ul>
                <li ng-show="profile.gender">Gender: {{profile.gender}}</li>
                <li ng-show="profile.email">Email: {{profile.email}}</li>
                <li ng-show="profile.about">About: {{profile.about}}</li>
            </ul>
        </div>
    </div>

    <div class="row fill">
        <div class="col-xs-12 fill">
            <h3>{{profile.firstName}} {{profile.lastName}} {{profile.Name}} Feed</h3>
            <div ng-feed="gridOptions" profile="profile"></div>
        </div>
    </div>
</div>