<div layout="column">
    <md-whiteframe class="md-whiteframe-z1" flex>

        <div ng-show="!editMode" layout layout-align="center center">
            <div flex="30" ng-style="getUserPhoto('150px')">
            </div>

            <div flex="40" layout="column" layout-align="start start">
                <h3 class="md-title">{{user.firstName}} {{user.lastName}}</h3>

                <div>{{user.email}}</div>

                <div>{{user.phoneNumber}}</div>

                <div>{{user.city}}</div>
                <div>{{user.company}}</div>
            </div>

            <div flex="30" layout="row" layout-align="end end">
                <md-button class="md-primary md-raised" ng-click="editMode = !editMode">
                    Edit
                </md-button>
            </div>
        </div>

        <div ng-show="editMode">
            <div layout="row" layout-align="end start">
                <md-input-container flex>
                    Upload your profile picture(jpg,gif, file formats supported)
                </md-input-container>
                <md-input-container flex="20">
                    <md-button class="md-primary md-raised" ng-file-select="onFileSelect($files)"
                               accept=".jpg,.png,.gif">
                        BROWSE
                    </md-button>
                    <md-progress-circular class="md-hue-2" md-mode="indeterminate"
                                          ng-show="fetchingData"></md-progress-circular>
                </md-input-container>
                <md-input-container flex="20">
                </md-input-container>
            </div>
            <form name="userForm">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>First Name</label>
                        <input ng-model="user.firstName" name="firstName" required>
                    </md-input-container>
                    <div ng-messages="userForm.firstName.$error"
                         ng-if="displayErrorMessage(userForm.firstName)">
                        <div ng-if="userForm.firstName.$error.required" ng-message="required">First name
                            is
                            required
                        </div>
                    </div>
                    <md-input-container flex>
                        <label>Last Name</label>
                        <input ng-model="user.lastName" name="lastName" required>
                    </md-input-container>
                    <div ng-messages="userForm.lastName.$error"
                         ng-if="displayErrorMessage(userForm.lastName)">
                        <div ng-if="userForm.lastName.$error.required" ng-message="required">Last name
                            is
                            required
                        </div>
                    </div>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Email</label>
                        <input ng-model="user.email" type="email" disabled>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Phone Number</label>
                        <input ng-model="user.phoneNumber" type="tel">
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>City</label>
                        <input ng-model="user.city">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Company</label>
                        <input ng-model="user.company">
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Brief Bio</label>
                        <textarea ng-model="user.bio" columns="1"></textarea>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Password</label>
                        <input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Re-enter Password</label>
                        <input>
                    </md-input-container>
                </div>
            </form>
        </div>


        <div class="md-actions" layout="row" layout-align="end center" ng-show="editMode">
            <md-button class="md-primary md-raised" ng-click="editMode=!editMode">
                Cancel
            </md-button>
            <md-button class="md-primary md-raised" ng-click="saveChanges(userForm)">
                Save
            </md-button>
        </div>

    </md-whiteframe>
    <p ng-show="!editMode">
        {{user.bio}}
    </p>

</div>