<div layout="column">
    <md-whiteframe flex class="user-details">
        <div ng-show="!editMode" layout layout-align="center stretch" layout-sm="column" layout-align-sm="space-between stretch" class="user-details-teaser">
            <div flex="30" ng-style="getUserPhoto('150px')"></div>
            <div flex="40" layout="column" layout-align="space-around start" class="description">
                <h3>{{user.firstName}} {{user.lastName}}</h3>
                <div ng-if="user.email">{{user.email}}</div>
                <div ng-if="user.phoneNumber">{{user.phoneNumber}}</div>
                <div ng-if="user.city">{{user.city}}</div>
                <div ng-if="user.company">{{user.company}}</div>
            </div>
            <div flex="30" layout="row" layout-align="end center" layout-align-sm="center center">
                <md-button class="raised-btn" ng-click="editMode = !editMode">
                    Edit
                </md-button>
            </div>
        </div>
        <div ng-show="editMode">
            <div class="block-field">
                <h4>Upload company logo</h4>
                <div layout="row" layout-sm="column" layout-align="space-between center">
                    <md-input-container>
                        Support jpg, gif file. (To be included in all communication to guests)
                    </md-input-container>
                    <md-input-container>
                        <md-button class="raised-btn" ng-file-select="onFileSelect($files)" accept=".jpg,.png,.gif">
                            UPLOAD
                        </md-button>
                        <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="fetchingData"></md-progress-circular>
                    </md-input-container>
                </div>
            </div>
            <form name="userForm">
                <div class="block-field">
                    <h4>Edit Personal Details</h4>
                    <div layout="row" layout-sm="column" layout-align="start stretch">
                        <div layout="column" layout-align="start stretch">
                            <div layout="row" layout-sm="column" layout-align="space-between stretch">
                                <md-input-container flex>
                                    <label>First Name</label>
                                    <input ng-model="user.firstName" name="firstName" required>
                                    <div ng-messages="userForm.firstName.$error" ng-if="displayErrorMessage(userForm.firstName)" class="errors">
                                        <div ng-message="required">First name is required</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Last Name</label>
                                    <input ng-model="user.lastName" name="lastName" required>
                                    <div ng-messages="userForm.lastName.$error" ng-if="displayErrorMessage(userForm.lastName)" class="errors">
                                        <div ng-message="required">Last name is required</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-sm="column" layout-align="space-between stretch" class="margin-top">
                                <md-input-container flex>
                                    <label>Email</label>
                                    <input ng-model="user.email" type="email" disabled>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Phone Number</label>
                                    <input ng-model="user.phoneNumber" type="tel">
                                </md-input-container>
                            </div>
                            <div layout="row" layout-sm="column" layout-align="space-between stretch" class="margin-top">
                                <md-input-container flex>
                                    <label>City</label>
                                    <input ng-model="user.city">
                                </md-input-container>                        
                                <md-input-container flex>
                                    <label>Company</label>
                                    <input ng-model="user.company" ng-disabled="true">
                                </md-input-container>
                            </div>
                            <div layout="row" layout-sm="column" layout-align="space-between stretch" class="margin-top">
                                <md-input-container flex>
                                    <label>Contact Email for guests</label>
                                    <input ng-model="user.contactEmail">
                                </md-input-container>                        
                                <md-input-container flex>
                                    <label>Contact Phone Number for guests</label>
                                    <input ng-model="user.contactPhone">
                                </md-input-container>
                            </div>
                        </div>
                        <md-input-container class='bio'>
                            <label>Company's info for guest</label>
                            <textarea ng-model="user.bio"></textarea>
                        </md-input-container>
                    </div>
                    <div class="actions" layout="row" layout-align="end center" ng-show="editMode">
                        <md-button class="raised-btn" ng-click="editMode=!editMode">
                            Cancel
                        </md-button>
                        <md-button class="raised-btn" ng-click="saveChanges(userForm)">
                            Save
                        </md-button>
                    </div>
                </div>
                <div class="block-field">
                    <h4>Change your password</h4>
                    <div layout layout-sm="column">
                        <md-input-container>
                            <label>Enter old password</label>
                            <input ng-model="user.password" type="password">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container>
                            <label>Enter new password</label>
                            <input ng-model="user.new_password" type="password" name="new_password">
                        </md-input-container>
                        <md-input-container>
                            <label>Re-enter new password</label>
                            <input ng-model="user.re_password" type="password" ng-match="user.new_password" name="re_password">
                            <div ng-messages="userForm.re_password.$error" class="errors">
                                <div ng-message="match">Passwords don't match.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="actions" layout="row" layout-align="end center" ng-show="editMode">
                        <md-button class="raised-btn" ng-click="editMode=!editMode">
                            Cancel
                        </md-button>
                        <md-button class="raised-btn" ng-click="updatePassword(userForm)">
                            Update
                        </md-button>
                    </div>
                </div>
            </form>
        </div>
    </md-whiteframe>
</div>