<ion-view class="light-bg" ng-init="init()" view-title="Event Details" cache-view="false">
    <ion-content class="content-body">

        <event-preview-item event="currentEvent"></event-preview-item>

        <div>
            <div class="row"
                 style="background-color: #8F8F8F;border-bottom: white;margin-bottom: 6px;padding-top: 30px;padding-bottom: 30px">
                <button class="button button-calm centered" ng-click="scanBarcode()">
                    Scan Barcode
                </button>
            </div>

            <div class="row"
                 style="background-color: #8F8F8F;margin-bottom: 6px;padding-top: 30px;padding-bottom: 30px">
                <button class="button button-calm centered" ui-sref="app.view_guests({eventId:{{eventId}}})">
                    View Full List
                </button>
            </div>

            <div class="row"
                 style="background-color: #8F8F8F;margin-bottom: 6px;padding-top: 30px;padding-bottom: 30px">
                <button class="button button-calm centered" ui-sref="app.add_guest({eventId:{{eventId}}})">
                    Add Guests
                </button>
            </div>

            <div class="row"
                 style="background-color: #8F8F8F;margin-bottom: 6px;padding-top: 30px;padding-bottom: 30px">
                <button class="button button-calm centered" ui-sref="app.event_stats({eventId:{{eventId}}})">
                    Stats
                </button>
            </div>

            <div class="row" style="height: 50px">

            </div>
        </div>


    </ion-content>
</ion-view>

