<ion-pane class="light-bg" ng-init="init()">
    <ion-content class="content-body">

        <event-preview-item event="currentEvent"></event-preview-item>


        <div style="height: 150px;">
            <img style="background: url('{{'img/event-placeholder.png'}}') center;background-size: 100%;height:100%;width:100%">
        </div>

        <div class="row row-center" style="text-align: center;background-color: #999999">
            <div class="col">
                <p class="text-color-light">
                    {{currentEvent.date}} <br>
                </p>
            </div>
        </div>

        <div class="row row-center" style="text-align: center;background-color: #B6B6B6">
            <div class="col">
                <p class="text-color-light">
                    {{currentEvent.location}} <br>
                </p>
            </div>
        </div>

        <div class="row row-center"
             style="background: url('{{'img/barcode.png'}}') center;
             background-size:cover;
             height:150px;
             width:100%;">
        </div>
        <div class="row" style="margin-top: 10px">
            <button class="button button-calm centered" ng-click="scanBarcode()">
                Scan Barcode
            </button>
        </div>

        <div style="background-color: #EEEEEE">
            <div class="row item item-divider">
                <div class="col-50" style="background-color: #EEEEEE">
                    Summary
                </div>
                <div class="col" style="background-color: #EEEEEE">
                    Total: 100
                </div>
                <div class="col" style="background-color: #EEEEEE">
                    Actual: 30
                </div>
            </div>
        </div>


        <div class="button-bar">
            <a class="button button-calm" ui-sref="app.view_guests({eventId:{{eventId}}})"> View Guests</a>
            <a class="button button-calm" ui-sref="app.add_guest({eventId:{{eventId}}})"> Add Guests</a>
        </div>

        <div class="button-bar">
            <a class="button button-calm" ui-sref="app.event_stats({eventId:{{eventId}}})">Stats</a>
        </div>


    </ion-content>
    <div class="bar bar-footer logo-bg">
        <button class="back-button" ui-sref="app.home"></button>
    </div>

</ion-pane>

