<ion-modal-view class="dark-bg">
    <ion-header-bar class="dark-bg">
        <h1 class="title text-color-light">Forgot Password</h1>
        <button class="button button-clear button-stable" ng-click="closeModal()">
            Cancel
        </button>
    </ion-header-bar>
    <ion-content style="padding-top: 30px;">
        <div class="row">
            <h5 class="text-color-light">Enter your email address:</h5>
        </div>
        <div class="row center">
            <div class="centered">
                <div class="list">
                    <label class="item item-input grey-bg rounded" style="border: none">
                        <span class="input-label">Email</span>
                        <input type="text" ng-model="password.email">
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="color:red">
            <div class="col">
                {{errorMessage}}
            </div>
        </div>
        <div class="row">
            <div class="centered">
                <button class="button button-dark rounded" ng-click="closeModal()">
                    Send!
                </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
