<ion-side-menus enable-menu-with-back-views="false" class="dark-bg">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable top-bar">

            <ion-nav-title>
                <img src="img/logo-text-white.png" style="padding-top: 0px;;height: 40px;">
            </ion-nav-title>

            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <img class="top-bar-logo" src="img/company-logo.png"/>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" style="color: white" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right" class="grey-bg">
        <ion-header-bar class="bar-stable">
            <img class="top-bar-logo" src="img/company-logo.png"/>
        </ion-header-bar>
        <ion-content class="grey-bg">
            <ion-list>
                <ion-item nav-clear menu-close ng-repeat="item in menuItems" ng-href="{{item.href}}">
                    {{item.text}}
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>