<ion-pane style="background-color:#1A1A1A">
    <div class="row">
        <div class="centered">
            <h1 style="color: white;margin-top: 100px">SCAN BARCODE</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <img class="centered " style="height: 150px" ng-src="img/barcode.png"/>
    </div>

    <div class="row" style="margin-top: 30px;">
        <button class="centered button button-dark rounded" ng-click="scan()">SCAN BARCODE</button>
    </div>

    <div class="bottom-bar">
        <button class="back-button" ui-sref="app.event"></button>
    </div>

</ion-pane>
